<div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--mb:0px" class="g5Vq1zMkOM ">
      
    <gp-accordion
      data-id="g5Vq1zMkOM"
     uid="g5Vq1zMkOM"
      class="gp-flex gp-w-full gp-flex-col "
      style="--gg:null;border-radius:inherit;overflow:hidden"
      gp-data='{"setting":{"iconSvg":"<svg width=\"17\" height=\"16\" viewBox=\"0 0 17 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                  <path d=\"M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z\" fill=\"currentColor\"/>\n                  </svg>","isIconPlus":false,"activeKey":1,"expanded":false,"expandItem":false,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px","height":"16px","width":"16px"}},"layoutHeader":"text-only","expandedMode":"single","configIconSize":16,"parentUid":"g5Vq1zMkOM","childListNumber":[],"chidlrenUid":["gnDG1_GwZO","g4f-Mr7ubQ","g4H-qDikH1"]},"styles":{"color":{"active":"#242424","hover":"#242424","normal":"#242424"},"headerBorder":{"active":{"border":"solid","borderType":"style-1","borderWidth":"1px","color":"#EEEEEE","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"},"hover":{"border":"solid","borderType":"style-1","borderWidth":"1px","color":"#EEEEEE","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"},"normal":{"border":"solid","borderType":"style-1","borderWidth":"1px","color":"#EEEEEE","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"}},"fullWidth":{"desktop":true},"width":{"desktop":"1170px"},"itemHeaderSpacing":{"custom":{"mobile":{"horizontal":"0px","vertical":"14px"}}},"textColor":{"active":"#242424","hover":"#242424","normal":"#242424"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":null,"padding":{"bottom":null,"left":null,"right":null,"top":null,"type":"custom"}},"mobile":{"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}},"tablet":{"padding":{"bottom":null,"left":null,"right":null,"top":null,"type":"custom"}}},"headerContentPadding":{"desktop":{"padding":{"bottom":null,"left":null,"right":null,"top":null,"type":"custom"}},"mobile":{"padding":{"bottom":"14px","left":"0px","right":"0px","top":"14px","type":"custom"}},"tablet":{"padding":{"bottom":null,"left":null,"right":null,"top":null,"type":"custom"}}},"widthHeightSize":{"desktop":{"width":"100%"},"mobile":{"width":"100%"},"tablet":{"width":"100%"}}},"uid":"g5Vq1zMkOM"}'
    >
    <div class="gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
    <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-g5Vq1zMkOM-0:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-g5Vq1zMkOM-0:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-g5Vq1zMkOM-0:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-g5Vq1zMkOM-0:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:1px 0px 0px 0px;--bc:#EEEEEE">
    <div
      data-index="0"
      class="g5Vq1zMkOM gp-accordion-item gp-overflow-hidden gp-child-item-g5Vq1zMkOM"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gnDG1_GwZO"
        id="gnDG1_GwZO"
        data-index="0"
        class="g5Vq1zMkOM gp-accordion-item-g5Vq1zMkOM-0 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:null;--pr:null;--pt:null;--pb:null;--pl-tablet:null;--pr-tablet:null;--pt-tablet:null;--pb-tablet:null;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-c:#242424;--c:#242424;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#EEEEEE;--hvr-bc:#EEEEEE"
      >
       <style class="accordion-style">.g5Vq1zMkOM.gp-accordion-item-g5Vq1zMkOM-0:hover .gp-collapsible-icon, .g5Vq1zMkOM.gp-accordion-item-g5Vq1zMkOM-0:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#242424;width:16px;height:16px"
            data-index="0"
            class="g5Vq1zMkOM gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ "sections.gp-global-section-539463247003124640.gg5Vq1zMkOM_childItem_0_html" | t }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gnDG1_GwZO"
        data-index="0"
        data-show="false"
        class="g5Vq1zMkOM gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gnDG1_GwZO"
        data-index="0"
        class="g5Vq1zMkOM gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:null;--pr:null;--pl-tablet:null;--pr-tablet:null;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="gpUDtM-l7D gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="guOLTrCfba">
    <div
      parentTag="Col"
        class="guOLTrCfba "
        style="--tt:default;--ta:left;--bs:solid;--bw:0px 0px 1px 0px;--bc:#EEEEEE;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--pt-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ "sections.gp-global-section-539463247003124640.gguOLTrCfba_text_html" | t }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-g5Vq1zMkOM-1:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-g5Vq1zMkOM-1:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-g5Vq1zMkOM-1:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-g5Vq1zMkOM-1:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:1px 0px 0px 0px;--bc:#EEEEEE">
    <div
      data-index="1"
      class="g5Vq1zMkOM gp-accordion-item gp-overflow-hidden gp-child-item-g5Vq1zMkOM"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="g4f-Mr7ubQ"
        id="g4f-Mr7ubQ"
        data-index="1"
        class="g5Vq1zMkOM gp-accordion-item-g5Vq1zMkOM-1 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:null;--pr:null;--pt:null;--pb:null;--pl-tablet:null;--pr-tablet:null;--pt-tablet:null;--pb-tablet:null;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-c:#242424;--c:#242424;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#EEEEEE;--hvr-bc:#EEEEEE"
      >
       <style class="accordion-style">.g5Vq1zMkOM.gp-accordion-item-g5Vq1zMkOM-1:hover .gp-collapsible-icon, .g5Vq1zMkOM.gp-accordion-item-g5Vq1zMkOM-1:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#242424;width:16px;height:16px"
            data-index="1"
            class="g5Vq1zMkOM gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ "sections.gp-global-section-539463247003124640.gg5Vq1zMkOM_childItem_1_html" | t }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="g4f-Mr7ubQ"
        data-index="1"
        data-show="false"
        class="g5Vq1zMkOM gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="g4f-Mr7ubQ"
        data-index="1"
        class="g5Vq1zMkOM gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:null;--pr:null;--pl-tablet:null;--pr-tablet:null;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="gyyAhtvaBK gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gIJa-mkWgZ">
    <div
      parentTag="Col"
        class="gIJa-mkWgZ "
        style="--tt:default;--ta:left;--bs:solid;--bw:0px 0px 1px 0px;--bc:#EEEEEE;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--pt-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ "sections.gp-global-section-539463247003124640.ggIJa-mkWgZ_text_html" | t }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-g5Vq1zMkOM-2:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-g5Vq1zMkOM-2:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-g5Vq1zMkOM-2:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-g5Vq1zMkOM-2:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:1px 0px 0px 0px;--bc:#EEEEEE">
    <div
      data-index="2"
      class="g5Vq1zMkOM gp-accordion-item gp-overflow-hidden gp-child-item-g5Vq1zMkOM"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="g4H-qDikH1"
        id="g4H-qDikH1"
        data-index="2"
        class="g5Vq1zMkOM gp-accordion-item-g5Vq1zMkOM-2 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:null;--pr:null;--pt:null;--pb:null;--pl-tablet:null;--pr-tablet:null;--pt-tablet:null;--pb-tablet:null;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-c:#242424;--c:#242424;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#EEEEEE;--hvr-bc:#EEEEEE"
      >
       <style class="accordion-style">.g5Vq1zMkOM.gp-accordion-item-g5Vq1zMkOM-2:hover .gp-collapsible-icon, .g5Vq1zMkOM.gp-accordion-item-g5Vq1zMkOM-2:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#242424;width:16px;height:16px"
            data-index="2"
            class="g5Vq1zMkOM gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ "sections.gp-global-section-539463247003124640.gg5Vq1zMkOM_childItem_2_html" | t }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="g4H-qDikH1"
        data-index="2"
        data-show="false"
        class="g5Vq1zMkOM gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="g4H-qDikH1"
        data-index="2"
        class="g5Vq1zMkOM gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:null;--pr:null;--pl-tablet:null;--pr-tablet:null;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="gAJZ3mN4tZ gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gMKjZinAm-">
    <div
      parentTag="Col"
        class="gMKjZinAm- "
        style="--tt:default;--ta:left;--bs:solid;--bw:0px 0px 1px 0px;--bc:#EEEEEE;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--pt-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ "sections.gp-global-section-539463247003124640.ggMKjZinAm-_text_html" | t }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            
    </gp-accordion>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-accordion.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>