

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-538970760266384380.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-538970760266384380.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-538970760266384380.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-538970760266384380.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-538970760266384380.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-538970760266384380.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-538970760266384380.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-538970760266384380.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-538970760266384380.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-538970760266384380.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-538970760266384380.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-538970760266384380.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-538970760266384380.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-538970760266384380.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-538970760266384380.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-538970760266384380.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-538970760266384380.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-538970760266384380.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-538970760266384380.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-538970760266384380.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-538970760266384380.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-538970760266384380.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-538970760266384380.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-538970760266384380.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-538970760266384380.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-538970760266384380.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-538970760266384380.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-538970760266384380.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-538970760266384380.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-538970760266384380.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-538970760266384380.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-538970760266384380.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-538970760266384380.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-538970760266384380.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-538970760266384380.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-538970760266384380.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-538970760266384380.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-538970760266384380.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-538970760266384380.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-538970760266384380.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-538970760266384380.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-538970760266384380.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-538970760266384380.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-538970760266384380.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-538970760266384380.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-538970760266384380.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-538970760266384380.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-538970760266384380.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-538970760266384380.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-538970760266384380.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-538970760266384380.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-538970760266384380.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-538970760266384380.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-538970760266384380.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-538970760266384380.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-538970760266384380.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-538970760266384380.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-538970760266384380.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-538970760266384380.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-538970760266384380.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-538970760266384380.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-538970760266384380.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-538970760266384380.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-538970760266384380.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-538970760266384380.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-538970760266384380 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-538970760266384380 .gp-relative{position:relative}.gps-538970760266384380 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-538970760266384380 .gp-mb-0{margin-bottom:0}.gps-538970760266384380 .\!gp-inline{display:inline!important}.gps-538970760266384380 .gp-flex{display:flex}.gps-538970760266384380 .gp-grid{display:grid}.gps-538970760266384380 .\!gp-hidden{display:none!important}.gps-538970760266384380 .gp-hidden{display:none}.gps-538970760266384380 .gp-h-full{height:100%}.gps-538970760266384380 .gp-w-full{width:100%}.gps-538970760266384380 .gp-max-w-full{max-width:100%}.gps-538970760266384380 .gp-flex-col{flex-direction:column}.gps-538970760266384380 .gp-gap-y-0{row-gap:0}.gps-538970760266384380 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-538970760266384380 .gp-duration-200{transition-duration:.2s}.gps-538970760266384380 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-538970760266384380 .tablet\:\!gp-hidden{display:none!important}.gps-538970760266384380 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-538970760266384380 .mobile\:\!gp-hidden{display:none!important}.gps-538970760266384380 .mobile\:gp-hidden{display:none}}.gps-538970760266384380 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-538970760266384380 .\[\&_p\]\:gp-inline p{display:inline}.gps-538970760266384380 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-538970760266384380 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gbUS_VZcog" data-id="gbUS_VZcog"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FBFBFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gbUS_VZcog gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gG-pdmZsE_ gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gGL2ogEVN1" data-id="gGL2ogEVN1"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(undefined);--cg:30px;--pc:start;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gGL2ogEVN1 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g-huaQMakf gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="g14YqA-Swc">
    <div
      parentTag="Col"
        class="g14YqA-Swc "
        style="--ta:left;--ta-mobile:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-3xl)"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:33px;--size-tablet:33px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden"
        >{{ section.settings.gg14YqA-Swc_text }}</h2>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      parentTag="Col" id="gDBHuFBAzG" data-id="gDBHuFBAzG"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-2xl);--cg:48px;--cg-tablet:24px;--cg-mobile:24px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gDBHuFBAzG gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gN0FiCqX8Y gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gPtzJ4Qqr6" data-id="gPtzJ4Qqr6"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-l);--cg:16px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gPtzJ4Qqr6 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gGxRh2DTeY gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gJr37jQWBn"
    role="presentation"
    class="gp-group/image gJr37jQWBn"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:auto;--mb:auto;--mt-mobile:auto;--mb-mobile:var(--g-s-s);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="https://ucarecdn.com/803834e6-3e5b-481f-9ec6-f9a13eea23ce/detection.svg" />
        <source media="(max-width: 1023px)" srcset="https://ucarecdn.com/803834e6-3e5b-481f-9ec6-f9a13eea23ce/detection.svg" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="https://ucarecdn.com/803834e6-3e5b-481f-9ec6-f9a13eea23ce/detection.svg"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:48/49;--aspect-tablet:48/49;--aspect-mobile:48/49;--objf:cover;--w-mobile:35px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="https://ucarecdn.com/803834e6-3e5b-481f-9ec6-f9a13eea23ce/detection.svg" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="https://ucarecdn.com/803834e6-3e5b-481f-9ec6-f9a13eea23ce/detection.svg" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="https://ucarecdn.com/803834e6-3e5b-481f-9ec6-f9a13eea23ce/detection.svg"
        width="100%"
        alt="Alt Image"
        style="--aspect:48/49;--aspect-tablet:48/49;--aspect-mobile:48/49;--objf:cover;--w-mobile:35px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gDjV9KVauj gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gzOwjk0A-B">
    <div
      parentTag="Col"
        class="gzOwjk0A-B "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:auto;--mb:auto"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden"
        >{{ section.settings.ggzOwjk0A-B_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
  <gp-text data-id="gZW5Im_u9o">
    <div
      parentTag="Col"
        class="gZW5Im_u9o "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--mb-mobile:var(undefined)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggZW5Im_u9o_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gXerp3AXLl gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gKpcfFYYXN" data-id="gKpcfFYYXN"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-l);--cg:16px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gKpcfFYYXN gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gWJZ5mxrPI gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gxJZoKRYPT"
    role="presentation"
    class="gp-group/image gxJZoKRYPT"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:auto;--mb:auto;--mt-mobile:auto;--mb-mobile:var(--g-s-s);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="https://ucarecdn.com/f44fe82a-e2dc-4e14-aa44-3b97cb4f602c/super-hd.svg" />
        <source media="(max-width: 1023px)" srcset="https://ucarecdn.com/f44fe82a-e2dc-4e14-aa44-3b97cb4f602c/super-hd.svg" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="https://ucarecdn.com/f44fe82a-e2dc-4e14-aa44-3b97cb4f602c/super-hd.svg"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:48/49;--aspect-tablet:48/49;--aspect-mobile:48/49;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:35px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="https://ucarecdn.com/f44fe82a-e2dc-4e14-aa44-3b97cb4f602c/super-hd.svg" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="https://ucarecdn.com/f44fe82a-e2dc-4e14-aa44-3b97cb4f602c/super-hd.svg" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="https://ucarecdn.com/f44fe82a-e2dc-4e14-aa44-3b97cb4f602c/super-hd.svg"
        width="100%"
        alt="Alt Image"
        style="--aspect:48/49;--aspect-tablet:48/49;--aspect-mobile:48/49;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:35px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gUbGPG99CM gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gk-ZoQwsx4">
    <div
      parentTag="Col"
        class="gk-ZoQwsx4 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:auto;--mb:auto"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden"
        >{{ section.settings.ggk-ZoQwsx4_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
  <gp-text data-id="gr-GtehDT4">
    <div
      parentTag="Col"
        class="gr-GtehDT4 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--mb-mobile:var(undefined)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggr-GtehDT4_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gC8Xuznnx_" data-id="gC8Xuznnx_"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(undefined);--mb-mobile:var(--g-s-4xl);--cg:48px;--cg-tablet:24px;--cg-mobile:24px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gC8Xuznnx_ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gAg_f_kapq gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="geAcfVotwO" data-id="geAcfVotwO"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-l);--cg:16px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="geAcfVotwO gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gVOdaydc-b gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gtVwCTWirw"
    role="presentation"
    class="gp-group/image gtVwCTWirw"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:auto;--mb:auto;--mt-mobile:auto;--mb-mobile:var(--g-s-s);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="https://ucarecdn.com/d0840e26-5463-4dba-9e16-94543cf4436e/storage.svg" />
        <source media="(max-width: 1023px)" srcset="https://ucarecdn.com/d0840e26-5463-4dba-9e16-94543cf4436e/storage.svg" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="https://ucarecdn.com/d0840e26-5463-4dba-9e16-94543cf4436e/storage.svg"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:48/49;--aspect-tablet:48/49;--aspect-mobile:48/49;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:35px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="https://ucarecdn.com/d0840e26-5463-4dba-9e16-94543cf4436e/storage.svg" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="https://ucarecdn.com/d0840e26-5463-4dba-9e16-94543cf4436e/storage.svg" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="https://ucarecdn.com/d0840e26-5463-4dba-9e16-94543cf4436e/storage.svg"
        width="100%"
        alt="Alt Image"
        style="--aspect:48/49;--aspect-tablet:48/49;--aspect-mobile:48/49;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:35px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="grAbUsd-Fr gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gWhIyo6g9V">
    <div
      parentTag="Col"
        class="gWhIyo6g9V "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:auto;--mb:auto"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden"
        >{{ section.settings.ggWhIyo6g9V_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
  <gp-text data-id="geIXbs8r_S">
    <div
      parentTag="Col"
        class="geIXbs8r_S "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--mb-mobile:var(undefined)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggeIXbs8r_S_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gAZ_dO7k2V gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gvs0KvUtxU" data-id="gvs0KvUtxU"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-l);--cg:16px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gvs0KvUtxU gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g6o0iNk0kK gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gE6VMAKB0g"
    role="presentation"
    class="gp-group/image gE6VMAKB0g"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:auto;--mb:auto;--mt-mobile:auto;--mb-mobile:var(--g-s-s);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="https://ucarecdn.com/a3c8912f-2afa-41de-8376-ea74298a36fc/battery.svg" />
        <source media="(max-width: 1023px)" srcset="https://ucarecdn.com/a3c8912f-2afa-41de-8376-ea74298a36fc/battery.svg" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="https://ucarecdn.com/a3c8912f-2afa-41de-8376-ea74298a36fc/battery.svg"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:48/49;--aspect-tablet:48/49;--aspect-mobile:48/49;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:35px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="https://ucarecdn.com/a3c8912f-2afa-41de-8376-ea74298a36fc/battery.svg" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="https://ucarecdn.com/a3c8912f-2afa-41de-8376-ea74298a36fc/battery.svg" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="https://ucarecdn.com/a3c8912f-2afa-41de-8376-ea74298a36fc/battery.svg"
        width="100%"
        alt="Alt Image"
        style="--aspect:48/49;--aspect-tablet:48/49;--aspect-mobile:48/49;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:35px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gu2xXCrD9b gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gcGgWAk6pK">
    <div
      parentTag="Col"
        class="gcGgWAk6pK "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:auto;--mb:auto"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden"
        >{{ section.settings.ggcGgWAk6pK_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
  <gp-text data-id="g2b-3MfN7f">
    <div
      parentTag="Col"
        class="g2b-3MfN7f "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--mb-mobile:var(undefined)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg2b-3MfN7f_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="goGxiYjm4N gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gsmD3Rrsg0"
    role="presentation"
    class="gp-group/image gsmD3Rrsg0"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(undefined);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="https://ucarecdn.com/fb32cd8a-d4b4-4d10-b187-a0d4abd22622/-/format/auto/-/preview/768x768/-/quality/lighter/Steadfast%20&%20Reliable.png" />
        <source media="(max-width: 1023px)" srcset="https://ucarecdn.com/fb32cd8a-d4b4-4d10-b187-a0d4abd22622/-/format/auto/-/preview/768x768/-/quality/lighter/Steadfast%20&%20Reliable.png" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="https://ucarecdn.com/fb32cd8a-d4b4-4d10-b187-a0d4abd22622/-/format/auto/-/preview/768x768/-/quality/lighter/Steadfast%20&%20Reliable.png"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:470/471;--aspect-tablet:470/471;--aspect-mobile:470/471;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="https://ucarecdn.com/fb32cd8a-d4b4-4d10-b187-a0d4abd22622/-/format/auto/-/preview/768x768/-/quality/lighter/Steadfast%20&%20Reliable.png" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="https://ucarecdn.com/fb32cd8a-d4b4-4d10-b187-a0d4abd22622/-/format/auto/-/preview/768x768/-/quality/lighter/Steadfast%20&%20Reliable.png" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="https://ucarecdn.com/fb32cd8a-d4b4-4d10-b187-a0d4abd22622/-/format/auto/-/preview/768x768/-/quality/lighter/Steadfast%20&%20Reliable.png"
        width="100%"
        alt="Alt Image"
        style="--aspect:470/471;--aspect-tablet:470/471;--aspect-mobile:470/471;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 7",
    "tag": "section",
    "class": "gps-538970760266384380 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/2a1421-6c/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=538970750988584068&sectionId=538970760266384380)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg14YqA-Swc_text","label":"gg14YqA-Swc_text","default":"<p>Steadfast &amp; Reliable</p>"},{"type":"html","id":"ggzOwjk0A-B_text","label":"ggzOwjk0A-B_text","default":"<p>Person/Vehicle Detection</p>"},{"type":"html","id":"ggZW5Im_u9o_text","label":"ggZW5Im_u9o_text","default":"<p>Discerns people and vehicles from other objects. More accurate alerts.</p>"},{"type":"html","id":"ggk-ZoQwsx4_text","label":"ggk-ZoQwsx4_text","default":"<p>2K 4MP Super HD</p>"},{"type":"html","id":"ggr-GtehDT4_text","label":"ggr-GtehDT4_text","default":"<p>2X clearer than 1080p HD. More details,<br>better visual experience.</p>"},{"type":"html","id":"ggWhIyo6g9V_text","label":"ggWhIyo6g9V_text","default":"<p>Person/Vehicle Detection</p>"},{"type":"html","id":"ggeIXbs8r_S_text","label":"ggeIXbs8r_S_text","default":"<p>You can insert a micro SD card for local storage (up to 128GB)</p>"},{"type":"html","id":"ggcGgWAk6pK_text","label":"ggcGgWAk6pK_text","default":"<p>2K 4MP Super HD</p>"},{"type":"html","id":"gg2b-3MfN7f_text","label":"gg2b-3MfN7f_text","default":"<p>Zero-cable installation. Long-lasting<br>on one charge.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
