

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-538970873344820356.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-538970873344820356.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-538970873344820356.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-538970873344820356.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-538970873344820356.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-538970873344820356.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-538970873344820356.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-538970873344820356.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-538970873344820356.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-538970873344820356.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-538970873344820356.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-538970873344820356.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-538970873344820356.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-538970873344820356.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-538970873344820356.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-538970873344820356.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-538970873344820356.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-538970873344820356.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-538970873344820356.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-538970873344820356.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-538970873344820356.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-538970873344820356.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-538970873344820356.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-538970873344820356.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-538970873344820356.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-538970873344820356.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-538970873344820356.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-538970873344820356.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-538970873344820356.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-538970873344820356.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-538970873344820356.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-538970873344820356.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-538970873344820356.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-538970873344820356.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-538970873344820356.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-538970873344820356.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-538970873344820356.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-538970873344820356.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-538970873344820356.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-538970873344820356.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-538970873344820356.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-538970873344820356.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-538970873344820356.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-538970873344820356.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-538970873344820356.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-538970873344820356.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-538970873344820356.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-538970873344820356.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-538970873344820356.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-538970873344820356.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-538970873344820356.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-538970873344820356.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-538970873344820356.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-538970873344820356.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-538970873344820356.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-538970873344820356.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-538970873344820356.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-538970873344820356.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-538970873344820356.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-538970873344820356.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-538970873344820356.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-538970873344820356.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-538970873344820356.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-538970873344820356.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-538970873344820356.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-538970873344820356.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-538970873344820356 .gp-relative{position:relative}.gps-538970873344820356 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-538970873344820356 .gp-mb-0{margin-bottom:0}.gps-538970873344820356 .\!gp-inline{display:inline!important}.gps-538970873344820356 .gp-flex{display:flex}.gps-538970873344820356 .gp-grid{display:grid}.gps-538970873344820356 .\!gp-hidden{display:none!important}.gps-538970873344820356 .gp-hidden{display:none}.gps-538970873344820356 .gp-h-full{height:100%}.gps-538970873344820356 .gp-w-full{width:100%}.gps-538970873344820356 .gp-max-w-full{max-width:100%}.gps-538970873344820356 .gp-flex-col{flex-direction:column}.gps-538970873344820356 .gp-gap-y-0{row-gap:0}.gps-538970873344820356 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-538970873344820356 .gp-duration-200{transition-duration:.2s}.gps-538970873344820356 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-538970873344820356 .tablet\:\!gp-hidden{display:none!important}.gps-538970873344820356 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-538970873344820356 .mobile\:\!gp-hidden{display:none!important}.gps-538970873344820356 .mobile\:gp-hidden{display:none}}.gps-538970873344820356 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-538970873344820356 .\[\&_p\]\:gp-inline p{display:inline}.gps-538970873344820356 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-538970873344820356 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gQ_Jp5Gxjr" data-id="gQ_Jp5Gxjr"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:72px;--pl:15px;--pb:72px;--pr:15px;--pt-tablet:64px;--pb-tablet:64px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQ_Jp5Gxjr gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gz-Ojuytb4 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gNs-VvAHNw" data-id="gNs-VvAHNw"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:30px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNs-VvAHNw gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g1rgiNHOmV gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gTh5U8gTD6" data-id="gTh5U8gTD6"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mb:var(undefined);--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--mb-mobile:30px;--cg:var(--g-s-l);--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F5F7F8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gTh5U8gTD6 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gpaPMy2mta gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="goiZn9VikR"
    role="presentation"
    class="gp-group/image goiZn9VikR"
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="https://ucarecdn.com/ab2902c6-0a80-49a4-9f12-7cd51202e2b3/-/format/auto/" />
        <source media="(max-width: 1023px)" srcset="https://ucarecdn.com/ab2902c6-0a80-49a4-9f12-7cd51202e2b3/-/format/auto/" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="https://ucarecdn.com/ab2902c6-0a80-49a4-9f12-7cd51202e2b3/-/format/auto/"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:68/68;--aspect-tablet:68/68;--aspect-mobile:68/68;--objf:cover;--w:68px;--w-tablet:68px;--w-mobile:68px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="https://ucarecdn.com/ab2902c6-0a80-49a4-9f12-7cd51202e2b3/-/format/auto/" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="https://ucarecdn.com/ab2902c6-0a80-49a4-9f12-7cd51202e2b3/-/format/auto/" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="https://ucarecdn.com/ab2902c6-0a80-49a4-9f12-7cd51202e2b3/-/format/auto/"
        width="100%"
        alt="Alt Image"
        style="--aspect:68/68;--aspect-tablet:68/68;--aspect-mobile:68/68;--objf:cover;--w:68px;--w-tablet:68px;--w-mobile:68px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gpS_zEzW_W gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gfFSXw3JtL">
    <div
      parentTag="Col"
        class="gfFSXw3JtL "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggfFSXw3JtL_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g7ZNd_sc1D gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gXh_makCa4" data-id="gXh_makCa4"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mb:var(undefined);--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--mb-mobile:30px;--cg:var(--g-s-l);--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F5F7F8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gXh_makCa4 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gupCdyyJan gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gERRRNm8jA"
    role="presentation"
    class="gp-group/image gERRRNm8jA"
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-4ceda0fa-88e1-4320-beea-8daa4bcfa9af_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-4ceda0fa-88e1-4320-beea-8daa4bcfa9af_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-4ceda0fa-88e1-4320-beea-8daa4bcfa9af.png" | file_url }}"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:68/68;--aspect-tablet:68/68;--aspect-mobile:68/68;--objf:cover;--w:68px;--w-tablet:68px;--w-mobile:68px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-4ceda0fa-88e1-4320-beea-8daa4bcfa9af_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-4ceda0fa-88e1-4320-beea-8daa4bcfa9af_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-4ceda0fa-88e1-4320-beea-8daa4bcfa9af.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:68/68;--aspect-tablet:68/68;--aspect-mobile:68/68;--objf:cover;--w:68px;--w-tablet:68px;--w-mobile:68px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gZomATZiRu gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gH_JHtGlQy">
    <div
      parentTag="Col"
        class="gH_JHtGlQy "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggH_JHtGlQy_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gV5q4HmC_t gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gficTJJDEK" data-id="gficTJJDEK"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mb:var(undefined);--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--cg:var(--g-s-l);--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F5F7F8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gficTJJDEK gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gYZJjzwSEV gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="grL23rbIee"
    role="presentation"
    class="gp-group/image grL23rbIee"
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-dde0c527-f324-400a-b7a1-d0269e651091_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-dde0c527-f324-400a-b7a1-d0269e651091_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-dde0c527-f324-400a-b7a1-d0269e651091.png" | file_url }}"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:68/68;--aspect-tablet:68/68;--aspect-mobile:68/68;--objf:cover;--w:68px;--w-tablet:68px;--w-mobile:68px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-dde0c527-f324-400a-b7a1-d0269e651091_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-dde0c527-f324-400a-b7a1-d0269e651091_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-dde0c527-f324-400a-b7a1-d0269e651091.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:68/68;--aspect-tablet:68/68;--aspect-mobile:68/68;--objf:cover;--w:68px;--w-tablet:68px;--w-mobile:68px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gjlVr7EnXQ gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="g5pJvubtGa">
    <div
      parentTag="Col"
        class="g5pJvubtGa "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg5pJvubtGa_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-538970873344820356 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/2a1421-6c/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=538970859721720828&sectionId=538970873344820356)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggfFSXw3JtL_text","label":"ggfFSXw3JtL_text","default":"<p>Free Shipping Worldwide&nbsp;</p>"},{"type":"html","id":"ggH_JHtGlQy_text","label":"ggH_JHtGlQy_text","default":"<p>Secure and Safe Payment&nbsp;</p>"},{"type":"html","id":"gg5pJvubtGa_text","label":"gg5pJvubtGa_text","default":"<p>7-day Easy Return</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
