

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-539461212111373217.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-539461212111373217.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-539461212111373217.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-539461212111373217.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-539461212111373217.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-539461212111373217.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-539461212111373217.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-539461212111373217.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-539461212111373217.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-539461212111373217.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-539461212111373217.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-539461212111373217.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-539461212111373217.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-539461212111373217.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-539461212111373217.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-539461212111373217.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-539461212111373217.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-539461212111373217.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-539461212111373217.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-539461212111373217.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-539461212111373217.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-539461212111373217.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-539461212111373217.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-539461212111373217.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-539461212111373217.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-539461212111373217.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-539461212111373217.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-539461212111373217.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-539461212111373217.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-539461212111373217.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-539461212111373217.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-539461212111373217.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-539461212111373217.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-539461212111373217.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-539461212111373217.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-539461212111373217.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-539461212111373217.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-539461212111373217.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-539461212111373217.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-539461212111373217.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-539461212111373217.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-539461212111373217.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-539461212111373217.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-539461212111373217.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-539461212111373217.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-539461212111373217.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-539461212111373217.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-539461212111373217.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-539461212111373217.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-539461212111373217.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-539461212111373217.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-539461212111373217.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-539461212111373217.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-539461212111373217.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-539461212111373217.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-539461212111373217.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-539461212111373217.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-539461212111373217.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-539461212111373217 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-539461212111373217 .gp-relative{position:relative}.gps-539461212111373217 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-539461212111373217 .gp-mb-0{margin-bottom:0}.gps-539461212111373217 .gp-flex{display:flex}.gps-539461212111373217 .gp-grid{display:grid}.gps-539461212111373217 .\!gp-hidden{display:none!important}.gps-539461212111373217 .gp-hidden{display:none}.gps-539461212111373217 .gp-max-w-full{max-width:100%}.gps-539461212111373217 .gp-flex-col{flex-direction:column}.gps-539461212111373217 .gp-gap-y-0{row-gap:0}.gps-539461212111373217 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-539461212111373217 .gp-duration-200{transition-duration:.2s}.gps-539461212111373217 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-539461212111373217 .tablet\:\!gp-hidden{display:none!important}.gps-539461212111373217 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-539461212111373217 .mobile\:\!gp-hidden{display:none!important}.gps-539461212111373217 .mobile\:gp-hidden{display:none}}.gps-539461212111373217 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-539461212111373217 .\[\&_p\]\:gp-inline p{display:inline}.gps-539461212111373217 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-539461212111373217 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gaNqM8BcCV" data-id="gaNqM8BcCV"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:0px;--pl:15px;--pb:0px;--pr:15px;--pt-mobile:0px;--pl-mobile:15px;--pb-mobile:35px;--pr-mobile:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#1D0D0D;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gaNqM8BcCV gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gwt0aAycst gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gtNwoQ3Khq" data-id="gtNwoQ3Khq"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gtNwoQ3Khq gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="go2N_BWYxD gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gRwtFW07VN">
    <div
      parentTag="Col"
        class="gRwtFW07VN "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggRwtFW07VN_text }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gcTIUmCi6C">
    <div
      parentTag="Col"
        class="gcTIUmCi6C "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-3xl)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#B4B4B4;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggcTIUmCi6C_text }}</div>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      parentTag="Col" id="gsXIXz1oUu" data-id="gsXIXz1oUu"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--mb:0px;--pb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url({{ "gempages_537482810403849348-27c6ea1e-38b9-4656-82d4-54d8271d740a.svg" | file_url }});--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gsXIXz1oUu gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gLzQ7rKjsD gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gSNdn87kfm" data-id="gSNdn87kfm"
        style="--bs:solid;--bw:0px 0px 1px 0px;--bc:rgba(255, 255, 255, 0.2);--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:20px;--btrr:20px;--mb:0px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--cg:30px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gSNdn87kfm gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g3On8x1flM gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="g3fn2n7opH">
    <div
      parentTag="Col"
        class="g3fn2n7opH "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg3fn2n7opH_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gVtb0TyksD gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="goA-cQ5-z-" data-id="goA-cQ5-z-"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:60px;--bbrr:60px;--btlr:60px;--btrr:60px;--mb:0px;--pt:var(--g-s-s);--pl:var(--g-s-s);--pb:var(--g-s-s);--pr:var(--g-s-s);--mb-mobile:0px;--pt-mobile:var(--g-s-s);--pl-mobile:var(--g-s-s);--pb-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:60px;--w-tablet:60px;--w-mobile:40px;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="goA-cQ5-z- gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gJkH6CcmjU gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gG-73rspTM">
    <div
      parentTag="Col"
        class="gG-73rspTM "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggG-73rspTM_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g6ziRjR1ql gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gh5YxVYE_D">
    <div
      parentTag="Col"
        class="gh5YxVYE_D "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#B4B4B4;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggh5YxVYE_D_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gGVdhmUiJA" data-id="gGVdhmUiJA"
        style="--bs:solid;--bw:0px 0px 1px 0px;--bc:rgba(255, 255, 255, 0.2);--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:20px;--btrr:20px;--mb:0px;--pt:var(--g-s-xl);--pb:var(--g-s-xl);--cg:30px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gGVdhmUiJA gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gf4uDkIeMk gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gljNXZhww0">
    <div
      parentTag="Col"
        class="gljNXZhww0 "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggljNXZhww0_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gIWGCx-baF gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g8-IWpKNPI" data-id="g8-IWpKNPI"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:60px;--bbrr:60px;--btlr:60px;--btrr:60px;--mb:0px;--pt:var(--g-s-s);--pl:var(--g-s-s);--pb:var(--g-s-s);--pr:var(--g-s-s);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:120px;--w-tablet:120px;--w-mobile:90px;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g8-IWpKNPI gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g6dyOCE-SX gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gOUEOC-QYF">
    <div
      parentTag="Col"
        class="gOUEOC-QYF "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggOUEOC-QYF_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gGDuHw58QM gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gyI5v8LFgm">
    <div
      parentTag="Col"
        class="gyI5v8LFgm "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#B4B4B4;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggyI5v8LFgm_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="g6lgMAdonb" data-id="g6lgMAdonb"
        style="--bs:solid;--bw:0px 0px 1px 0px;--bc:rgba(255, 255, 255, 0.2);--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:20px;--btrr:20px;--mb:0px;--pt:var(--g-s-xl);--pb:var(--g-s-xl);--cg:30px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g6lgMAdonb gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gs_kKAHqKN gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gtcHyOG7s8">
    <div
      parentTag="Col"
        class="gtcHyOG7s8 "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggtcHyOG7s8_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gW9enWZ3Xg gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="geSeksOnxr" data-id="geSeksOnxr"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:60px;--bbrr:60px;--btlr:60px;--btrr:60px;--mb:0px;--pt:var(--g-s-s);--pl:var(--g-s-s);--pb:var(--g-s-s);--pr:var(--g-s-s);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:120px;--w-tablet:120px;--w-mobile:90px;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="geSeksOnxr gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gk1Qmmgss_ gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gOviW74ws0">
    <div
      parentTag="Col"
        class="gOviW74ws0 "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggOviW74ws0_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gSHyDouRoO gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="g4tUw_TGgo">
    <div
      parentTag="Col"
        class="g4tUw_TGgo "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#B4B4B4;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg4tUw_TGgo_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="goLJdO0-B0" data-id="goLJdO0-B0"
        style="--bs:solid;--bw:0px 0px 1px 0px;--bc:rgba(255, 255, 255, 0.2);--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:20px;--btrr:20px;--mb:0px;--pt:var(--g-s-xl);--pb:var(--g-s-xl);--cg:30px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="goLJdO0-B0 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gtvNjOA1Ii gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gLA0vpVBpO">
    <div
      parentTag="Col"
        class="gLA0vpVBpO "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggLA0vpVBpO_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gqHGAXRKHl gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gbBX4U2dob" data-id="gbBX4U2dob"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:60px;--bbrr:60px;--btlr:60px;--btrr:60px;--mb:0px;--pt:var(--g-s-s);--pl:var(--g-s-s);--pb:var(--g-s-s);--pr:var(--g-s-s);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:120px;--w-tablet:120px;--w-mobile:90px;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gbBX4U2dob gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gzR1gKzyTT gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gz_Xyix0Am">
    <div
      parentTag="Col"
        class="gz_Xyix0Am "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggz_Xyix0Am_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gVVxAR-H6p gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gy5LhDKxMR">
    <div
      parentTag="Col"
        class="gy5LhDKxMR "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#B4B4B4;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggy5LhDKxMR_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="g9tebmtkfq" data-id="g9tebmtkfq"
        style="--bs:solid;--bw:0px 0px 1px 0px;--bc:rgba(255, 255, 255, 0.2);--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:20px;--btrr:20px;--mb:0px;--pt:var(--g-s-xl);--pb:var(--g-s-xl);--cg:30px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g9tebmtkfq gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gxXMrJWp3y gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="g_mcuEfNAH">
    <div
      parentTag="Col"
        class="g_mcuEfNAH "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg_mcuEfNAH_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gXnO4yMeyk gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g5U3Oh5BLY" data-id="g5U3Oh5BLY"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:60px;--bbrr:60px;--btlr:60px;--btrr:60px;--mb:0px;--pt:var(--g-s-s);--pl:var(--g-s-s);--pb:var(--g-s-s);--pr:var(--g-s-s);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:120px;--w-tablet:120px;--w-mobile:90px;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g5U3Oh5BLY gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gZHAmcIqHI gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="g3vhA3vmP6">
    <div
      parentTag="Col"
        class="g3vhA3vmP6 "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg3vhA3vmP6_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gphzVSXox5 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gZOpInMux_">
    <div
      parentTag="Col"
        class="gZOpInMux_ "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#B4B4B4;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggZOpInMux__text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="goygejfxs_" data-id="goygejfxs_"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:20px;--bbrr:20px;--btlr:0px;--btrr:0px;--mb:0px;--pt:var(--g-s-xl);--pb:var(--g-s-xl);--cg:30px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="goygejfxs_ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g9Rrkcyiw_ gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="g9Bygxrb8J">
    <div
      parentTag="Col"
        class="g9Bygxrb8J "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg9Bygxrb8J_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g6-YiqbsRv gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="glZE0ZYKx1" data-id="glZE0ZYKx1"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:60px;--bbrr:60px;--btlr:60px;--btrr:60px;--mb:0px;--pt:var(--g-s-s);--pl:var(--g-s-s);--pb:var(--g-s-s);--pr:var(--g-s-s);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:120px;--w-tablet:120px;--w-mobile:90px;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="glZE0ZYKx1 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gfxjGx1VRp gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gusCP8_x79">
    <div
      parentTag="Col"
        class="gusCP8_x79 "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggusCP8_x79_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gOggx1U_2g gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="ghUTb6iA9v">
    <div
      parentTag="Col"
        class="ghUTb6iA9v "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#B4B4B4;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gghUTb6iA9v_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-539461212111373217 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/2a1421-6c/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=539461193371223172&sectionId=539461212111373217)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggRwtFW07VN_text","label":"ggRwtFW07VN_text","default":"<p>Compare features</p>"},{"type":"html","id":"ggcTIUmCi6C_text","label":"ggcTIUmCi6C_text","default":"<p>Based on a package</p>"},{"type":"html","id":"gg3fn2n7opH_text","label":"gg3fn2n7opH_text","default":"<p>GemSweet</p>"},{"type":"html","id":"ggG-73rspTM_text","label":"ggG-73rspTM_text","default":"<p>VS</p>"},{"type":"html","id":"ggh5YxVYE_D_text","label":"ggh5YxVYE_D_text","default":"<p>Other</p>"},{"type":"html","id":"ggljNXZhww0_text","label":"ggljNXZhww0_text","default":"<p>0g</p>"},{"type":"html","id":"ggOUEOC-QYF_text","label":"ggOUEOC-QYF_text","default":"<p>Sugar</p>"},{"type":"html","id":"ggyI5v8LFgm_text","label":"ggyI5v8LFgm_text","default":"<p>6g</p>"},{"type":"html","id":"ggtcHyOG7s8_text","label":"ggtcHyOG7s8_text","default":"<p>5g</p>"},{"type":"html","id":"ggOviW74ws0_text","label":"ggOviW74ws0_text","default":"<p>Net carbs</p>"},{"type":"html","id":"gg4tUw_TGgo_text","label":"gg4tUw_TGgo_text","default":"<p>28g</p>"},{"type":"html","id":"ggLA0vpVBpO_text","label":"ggLA0vpVBpO_text","default":"<p>13g</p>"},{"type":"html","id":"ggz_Xyix0Am_text","label":"ggz_Xyix0Am_text","default":"<p>Protein</p>"},{"type":"html","id":"ggy5LhDKxMR_text","label":"ggy5LhDKxMR_text","default":"<p>1.6g</p>"},{"type":"html","id":"gg_mcuEfNAH_text","label":"gg_mcuEfNAH_text","default":"<p>Yes</p>"},{"type":"html","id":"gg3vhA3vmP6_text","label":"gg3vhA3vmP6_text","default":"<p>High fibre</p>"},{"type":"html","id":"ggZOpInMux__text","label":"ggZOpInMux__text","default":"<p>No</p>"},{"type":"html","id":"gg9Bygxrb8J_text","label":"gg9Bygxrb8J_text","default":"<p>Yes</p>"},{"type":"html","id":"ggusCP8_x79_text","label":"ggusCP8_x79_text","default":"<p>Gluten free</p>"},{"type":"html","id":"gghUTb6iA9v_text","label":"gghUTb6iA9v_text","default":"<p>No</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
