

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-538971006321034387.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-538971006321034387.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-538971006321034387.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-538971006321034387.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-538971006321034387.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-538971006321034387.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-538971006321034387.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-538971006321034387.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-538971006321034387.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-538971006321034387.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-538971006321034387.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-538971006321034387.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-538971006321034387.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-538971006321034387.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-538971006321034387.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-538971006321034387.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-538971006321034387.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-538971006321034387.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-538971006321034387.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-538971006321034387.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-538971006321034387.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-538971006321034387.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-538971006321034387.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-538971006321034387.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-538971006321034387.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-538971006321034387.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-538971006321034387.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-538971006321034387.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-538971006321034387.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-538971006321034387.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-538971006321034387.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-538971006321034387.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-538971006321034387.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-538971006321034387.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-538971006321034387.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-538971006321034387.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-538971006321034387.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-538971006321034387.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-538971006321034387.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-538971006321034387.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-538971006321034387.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-538971006321034387.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-538971006321034387.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-538971006321034387.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-538971006321034387.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-538971006321034387.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-538971006321034387.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-538971006321034387.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-538971006321034387.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-538971006321034387.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-538971006321034387.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-538971006321034387.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-538971006321034387.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-538971006321034387.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-538971006321034387.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-538971006321034387.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-538971006321034387.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-538971006321034387.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-538971006321034387 .gp-relative{position:relative}.gps-538971006321034387 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-538971006321034387 .gp-mb-0{margin-bottom:0}.gps-538971006321034387 .\!gp-inline{display:inline!important}.gps-538971006321034387 .gp-flex{display:flex}.gps-538971006321034387 .gp-grid{display:grid}.gps-538971006321034387 .\!gp-hidden{display:none!important}.gps-538971006321034387 .gp-hidden{display:none}.gps-538971006321034387 .gp-h-full{height:100%}.gps-538971006321034387 .gp-w-full{width:100%}.gps-538971006321034387 .gp-max-w-full{max-width:100%}.gps-538971006321034387 .gp-flex-col{flex-direction:column}.gps-538971006321034387 .gp-gap-y-0{row-gap:0}.gps-538971006321034387 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-538971006321034387 .gp-duration-200{transition-duration:.2s}.gps-538971006321034387 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-538971006321034387 .tablet\:\!gp-hidden{display:none!important}.gps-538971006321034387 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-538971006321034387 .mobile\:\!gp-hidden{display:none!important}.gps-538971006321034387 .mobile\:gp-hidden{display:none}}.gps-538971006321034387 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-538971006321034387 .\[\&_p\]\:gp-inline p{display:inline}.gps-538971006321034387 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-538971006321034387 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g3tNxoYZN8" data-id="g3tNxoYZN8"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-2xl);--pl:15px;--pb:var(--g-s-2xl);--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g3tNxoYZN8 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gNyMapO_QU gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g3PcryouCD" data-id="g3PcryouCD"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-xl);--pb:var(--g-s-xl);--cg:30px;--cg-tablet:16px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g3PcryouCD gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gFMEgIw7FO gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g2F-aR1QZa" data-id="g2F-aR1QZa"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb-mobile:var(--g-s-2xl);--cg:16px;--cg-tablet:14px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g2F-aR1QZa gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gpjsnIarDA gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gWzx1fp3_H"
    role="presentation"
    class="gp-group/image gWzx1fp3_H"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-2e46f7f8-7aa5-4d7e-b1e4-dedfbb224a2d_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-2e46f7f8-7aa5-4d7e-b1e4-dedfbb224a2d_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-2e46f7f8-7aa5-4d7e-b1e4-dedfbb224a2d.png" | file_url }}"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:140/140;--aspect-tablet:140/140;--aspect-mobile:140/140;--objf:cover;--w:70px;--w-tablet:54px;--w-mobile:54px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-2e46f7f8-7aa5-4d7e-b1e4-dedfbb224a2d_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-2e46f7f8-7aa5-4d7e-b1e4-dedfbb224a2d_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-2e46f7f8-7aa5-4d7e-b1e4-dedfbb224a2d.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:140/140;--aspect-tablet:140/140;--aspect-mobile:140/140;--objf:cover;--w:70px;--w-tablet:54px;--w-mobile:54px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g5xTs-jLJE gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gxKT1mYq_9">
    <div
      parentTag="Col"
        class="gxKT1mYq_9 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xs)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:21px;--size-tablet:19px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggxKT1mYq_9_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gP8EUcDC8Y">
    <div
      parentTag="Col"
        class="gP8EUcDC8Y "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggP8EUcDC8Y_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gSMWkh_pcI gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="ghGPoRoESp" data-id="ghGPoRoESp"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb-mobile:var(--g-s-2xl);--cg:16px;--cg-tablet:14px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ghGPoRoESp gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gE_cBWRRTj gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gJqg2h-TrQ"
    role="presentation"
    class="gp-group/image gJqg2h-TrQ"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-22c61a98-d7e8-4d9f-8a58-a26af9f9c867_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-22c61a98-d7e8-4d9f-8a58-a26af9f9c867_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-22c61a98-d7e8-4d9f-8a58-a26af9f9c867.png" | file_url }}"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:140/140;--aspect-tablet:140/140;--aspect-mobile:140/140;--objf:cover;--w:70px;--w-tablet:54px;--w-mobile:54px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-22c61a98-d7e8-4d9f-8a58-a26af9f9c867_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-22c61a98-d7e8-4d9f-8a58-a26af9f9c867_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-22c61a98-d7e8-4d9f-8a58-a26af9f9c867.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:140/140;--aspect-tablet:140/140;--aspect-mobile:140/140;--objf:cover;--w:70px;--w-tablet:54px;--w-mobile:54px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gnm0_sqiQA gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gseOEWzb6M">
    <div
      parentTag="Col"
        class="gseOEWzb6M "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xs)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:21px;--size-tablet:19px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggseOEWzb6M_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="g8DkFRk7HW">
    <div
      parentTag="Col"
        class="g8DkFRk7HW "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg8DkFRk7HW_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g6JqcUH3tS gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gSceA0v46C" data-id="gSceA0v46C"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:16px;--cg-tablet:14px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gSceA0v46C gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gk71NlAYf3 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gXqGrOhIar"
    role="presentation"
    class="gp-group/image gXqGrOhIar"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-4095544d-14fd-4646-b731-9fd1d79662b5_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-4095544d-14fd-4646-b731-9fd1d79662b5_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-4095544d-14fd-4646-b731-9fd1d79662b5.png" | file_url }}"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:140/140;--aspect-tablet:140/140;--aspect-mobile:140/140;--objf:cover;--w:70px;--w-tablet:54px;--w-mobile:54px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-4095544d-14fd-4646-b731-9fd1d79662b5_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-4095544d-14fd-4646-b731-9fd1d79662b5_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-4095544d-14fd-4646-b731-9fd1d79662b5.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:140/140;--aspect-tablet:140/140;--aspect-mobile:140/140;--objf:cover;--w:70px;--w-tablet:54px;--w-mobile:54px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gmRecFVnm4 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gkYV4d_7Or">
    <div
      parentTag="Col"
        class="gkYV4d_7Or "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xs)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:21px;--size-tablet:19px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggkYV4d_7Or_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gNHeX285ob">
    <div
      parentTag="Col"
        class="gNHeX285ob "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggNHeX285ob_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-538971006321034387 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/2a1421-6c/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=538970990382679172&sectionId=538971006321034387)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggxKT1mYq_9_text","label":"ggxKT1mYq_9_text","default":"<p>Freeshipping Worldwide</p>"},{"type":"html","id":"ggP8EUcDC8Y_text","label":"ggP8EUcDC8Y_text","default":"<p>On All Orders Over $50</p>"},{"type":"html","id":"ggseOEWzb6M_text","label":"ggseOEWzb6M_text","default":"<p>Easy and Free Returns</p>"},{"type":"html","id":"gg8DkFRk7HW_text","label":"gg8DkFRk7HW_text","default":"<p>30-Days Free Return Policy</p>"},{"type":"html","id":"ggkYV4d_7Or_text","label":"ggkYV4d_7Or_text","default":"<p>Money-Back Guarantee</p>"},{"type":"html","id":"ggNHeX285ob_text","label":"ggNHeX285ob_text","default":"<p>100% Money-Back Guarantee</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
