

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-539461211658388384.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-539461211658388384.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-539461211658388384.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-539461211658388384.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-539461211658388384.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-539461211658388384.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-539461211658388384.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-539461211658388384.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-539461211658388384.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-539461211658388384.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-539461211658388384.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-539461211658388384.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-539461211658388384.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-539461211658388384.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-539461211658388384.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-539461211658388384.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-539461211658388384.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-539461211658388384.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-539461211658388384.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-539461211658388384.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-539461211658388384.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-539461211658388384.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-539461211658388384.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-539461211658388384.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-539461211658388384.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-539461211658388384.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-539461211658388384.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-539461211658388384.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-539461211658388384.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-539461211658388384.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-539461211658388384.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-539461211658388384.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-539461211658388384.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-539461211658388384.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-539461211658388384.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-539461211658388384.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-539461211658388384.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-539461211658388384.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-539461211658388384.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-539461211658388384.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-539461211658388384.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-539461211658388384.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-539461211658388384.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-539461211658388384.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-539461211658388384.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-539461211658388384.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-539461211658388384.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-539461211658388384.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-539461211658388384.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-539461211658388384.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-539461211658388384.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-539461211658388384.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-539461211658388384.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-539461211658388384.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-539461211658388384.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-539461211658388384.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-539461211658388384.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-539461211658388384.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-539461211658388384.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-539461211658388384.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-539461211658388384.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-539461211658388384.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-539461211658388384.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-539461211658388384.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-539461211658388384.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-539461211658388384.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-539461211658388384.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-539461211658388384.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-539461211658388384.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-539461211658388384.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-539461211658388384.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-539461211658388384.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-539461211658388384.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-539461211658388384.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-539461211658388384.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-539461211658388384.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-539461211658388384.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-539461211658388384.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-539461211658388384.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-539461211658388384.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-539461211658388384.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-539461211658388384.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-539461211658388384.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-539461211658388384.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-539461211658388384.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-539461211658388384.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-539461211658388384.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-539461211658388384.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-539461211658388384.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-539461211658388384.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-539461211658388384.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-539461211658388384.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-539461211658388384.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-539461211658388384.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-539461211658388384.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-539461211658388384 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-539461211658388384 .gp-absolute{position:absolute}.gps-539461211658388384 .gp-relative{position:relative}.gps-539461211658388384 .gp-inset-0{inset:0}.gps-539461211658388384 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-539461211658388384 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-539461211658388384 .gp-z-1{z-index:1}.gps-539461211658388384 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-539461211658388384 .gp-mb-0{margin-bottom:0}.gps-539461211658388384 .gp-flex{display:flex}.gps-539461211658388384 .gp-inline-flex{display:inline-flex}.gps-539461211658388384 .gp-grid{display:grid}.gps-539461211658388384 .\!gp-hidden{display:none!important}.gps-539461211658388384 .gp-hidden{display:none}.gps-539461211658388384 .gp-h-full{height:100%}.gps-539461211658388384 .gp-w-full{width:100%}.gps-539461211658388384 .gp-w-max{width:-moz-max-content;width:max-content}.gps-539461211658388384 .gp-min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-539461211658388384 .\!gp-max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-539461211658388384 .gp-max-w-full{max-width:100%}.gps-539461211658388384 .gp-flex-1{flex:1 1 0%}.gps-539461211658388384 .gp-flex-col{flex-direction:column}.gps-539461211658388384 .gp-flex-wrap{flex-wrap:wrap}.gps-539461211658388384 .gp-items-center{align-items:center}.gps-539461211658388384 .\!gp-justify-center{justify-content:center!important}.gps-539461211658388384 .gp-justify-center{justify-content:center}.gps-539461211658388384 .gp-gap-y-0{row-gap:0}.gps-539461211658388384 .gp-overflow-hidden{overflow:hidden}.gps-539461211658388384 .gp-break-words{overflow-wrap:break-word}.gps-539461211658388384 .gp-rounded-none{border-radius:0}.gps-539461211658388384 .gp-text-center{text-align:center}.gps-539461211658388384 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-539461211658388384 .gp-no-underline{text-decoration-line:none}.gps-539461211658388384 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-539461211658388384 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-539461211658388384 .gp-duration-200{transition-duration:.2s}.gps-539461211658388384 .gp-duration-300{transition-duration:.3s}.gps-539461211658388384 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-539461211658388384 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-539461211658388384 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-539461211658388384 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-539461211658388384 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-539461211658388384 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-539461211658388384 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-539461211658388384 .tablet\:gp-absolute{position:absolute}.gps-539461211658388384 .tablet\:\!gp-hidden{display:none!important}.gps-539461211658388384 .tablet\:gp-hidden{display:none}.gps-539461211658388384 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-539461211658388384 .mobile\:gp-relative{position:relative}.gps-539461211658388384 .mobile\:\!gp-hidden{display:none!important}.gps-539461211658388384 .mobile\:gp-hidden{display:none}.gps-539461211658388384 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-539461211658388384 .mobile\:\!gp-justify-start,.gps-539461211658388384 .mobile\:\[\&\>\*\]\:\!gp-justify-start>*{justify-content:flex-start!important}}.gps-539461211658388384 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-539461211658388384 .\[\&_p\]\:gp-inline p{display:inline}.gps-539461211658388384 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-539461211658388384 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-539461211658388384 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="geQgh-SCly" data-id="geQgh-SCly"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:0px;--pb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="geQgh-SCly gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gh3w9Who_1 gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full" style="--h:auto;--h-tablet:auto;--h-mobile:fit-content;--d:flex;--d-mobile:flex;--d-tablet:flex;--mb:0px;--mb-mobile:0px">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":975,"src":"https://ucarecdn.com/482173eb-06e1-49b7-abc7-048450d98c37/-/format/auto/","width":2160},"position":{"x":50,"y":100},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":975,"src":"https://ucarecdn.com/482173eb-06e1-49b7-abc7-048450d98c37/-/format/auto/","width":2160},"position":{"x":50,"y":100},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_537482810403849348-d77ed9a6-5b25-48d9-8a8a-7739921d4236.png","height":1275,"src":"https://cdn.shopify.com/s/files/1/0903/0575/7498/files/gempages_537482810403849348-d77ed9a6-5b25-48d9-8a8a-7739921d4236.png","width":563,"storage":"FILE_CONTENT"},"position":{"x":50,"y":100},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"g0Q0L-t27n","enableParallax":false,"speedParallax":0,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[6,6],"display":"fill"},"mobile":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center","mobile":"top"},"contentPosition2Col":{"desktop":"center"}}'
        
        class="g0Q0L-t27n gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--h:auto;--h-tablet:auto;--h-mobile:fit-content;--w:auto;--w-tablet:auto;--w-mobile:100%;--aspect:auto;--aspect-tablet:auto"
        data-id="g0Q0L-t27n"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-start"
          style="--h:auto;--h-tablet:auto;--h-mobile:fit-content;--aspect:auto;--aspect-tablet:auto"
        >
          
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" class="gp-w-full">
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-d77ed9a6-5b25-48d9-8a8a-7739921d4236_768x.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="https://ucarecdn.com/482173eb-06e1-49b7-abc7-048450d98c37/-/format/auto/" />
        <img
          title
          class="adaptive-hero-banner"
          src="https://ucarecdn.com/482173eb-06e1-49b7-abc7-048450d98c37/-/format/auto/"
          alt=""
          fetchpriority="high"
          style="--aspect:2160/975;--aspect-tablet:2160/975;--aspect-mobile:563/1275;--d:block;--d-tablet:block;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:fit-content;--w:auto;--w-tablet:auto;--w-mobile:100%;--op:0;--z:-1"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-d77ed9a6-5b25-48d9-8a8a-7739921d4236_768x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="https://ucarecdn.com/482173eb-06e1-49b7-abc7-048450d98c37/-/format/auto/" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="https://ucarecdn.com/482173eb-06e1-49b7-abc7-048450d98c37/-/format/auto/"
        width="100%"
        alt=""
        style="--aspect:2160/975;--aspect-tablet:2160/975;--aspect-mobile:563/1275;--d:block;--d-tablet:block;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:fit-content;--w:auto;--w-tablet:auto;--w-mobile:100%;--op:0;--z:-1"
      />
    {%- endif -%}
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
              >
              <div
                aria-label="Background Image"
                role="banner"
                class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
                style="clip-path:inset(0 0 0)"
              > 
              <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp_lazybg"
              style="--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgp:50% 100%;--bgp-mobile:50% 100%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bgi:url('https://ucarecdn.com/482173eb-06e1-49b7-abc7-048450d98c37/-/format/auto/');--bgi-tablet:url('https://ucarecdn.com/482173eb-06e1-49b7-abc7-048450d98c37/-/format/auto/');--bgi-mobile:url('https://cdn.shopify.com/s/files/1/0903/0575/7498/files/gempages_537482810403849348-d77ed9a6-5b25-48d9-8a8a-7739921d4236.png');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
             >
             
              </div>  
               </div>
            </div>
            <div
            aria-label="Overlay"
            role="banner"
            class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#121212;--top:0;--left:0;--op:0%"
          > </div>
          </div>
          
          
       
      
    <div
      id data-id
        style="--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full gp-absolute tablet:gp-absolute mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-start gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start;--o:0"
      class="g0h4oXcTKf gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gvgeuF6i4S" data-id="gvgeuF6i4S"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:15px;--pb:0px;--pr:15px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:64px;--pl-mobile:15px;--pb-mobile:401px;--pr-mobile:15px;--ml-tablet:auto;--mb-tablet:0px;--mr-tablet:auto;--pt-tablet:var(--g-s-xl);--pl-tablet:15px;--pb-tablet:var(--g-s-xl);--pr-tablet:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:500px;--w-tablet:470px;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gvgeuF6i4S gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gmc8amBd-4 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gaVnvnNZGJ">
    <div
      parentTag="Col"
        class="gaVnvnNZGJ "
        style="--ta:left;--ta-mobile:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:57px;--size-tablet:57px;--size-mobile:50px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggaVnvnNZGJ_text }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gBc68_nJvH">
    <div
      parentTag="Col"
        class="gBc68_nJvH "
        style="--ta:left;--ta-mobile:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgba(255, 255, 255, 0.8);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggBc68_nJvH_text }}</div>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      parentTag="Col" id="gNhll8bYsZ" data-id="gNhll8bYsZ"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNhll8bYsZ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gLEihxTpCQ gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gSK4ymz5fJ" data-id="gSK4ymz5fJ"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--ml:auto;--mb:var(--g-s-2xl);--mr:auto;--ml-mobile:auto;--mb-mobile:var(--g-s-2xl);--mr-mobile:auto;--cg:32px;--pc:start;--pc-mobile:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:300px;--w-tablet:300px;--w-mobile:270px;--bgc:transparent;--bgi:url({{ "gempages_537482810403849348-2b75ca11-3c47-4c14-9126-eac7d5fefb53.svg" | file_url }});--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gSK4ymz5fJ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gFtTrmhrEr gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--mr:0px;--pt:var(--g-s-l);--pl:var(--g-s-xl);--pb:var(--g-s-l);--pr:var(--g-s-xl)" class="gM6h9VGfkZ ">
      
    <gp-countdown-timer
      data-id="gM6h9VGfkZ"
     class="gp-flex "
     gp-data='{"behaviour":"daily","dateStandard":1695771998348,"dayLabel":"Days","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hrs","minuteLabel":"Mins","redirectUrl":{"link":"#","target":"_self"},"secondLabel":"Secs","timeZone":"UTC+7","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":0,"endTime":1695177998348,"hours":3,"mins":0,"startTime":1695167198348},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks","uid":"gM6h9VGfkZ","builderData":{"advanced":{"border":{"desktop":{"normal":{"border":"solid","borderType":"none","borderWidth":"0px","color":"#121212","isCustom":true,"width":"0px"}}},"boxShadow":{"desktop":{"normal":{"angle":90,"blur":"12px","color":"rgba(0, 0, 0, 0.20)","distance":"4px","spread":"0px","type":"shadow-1"}}},"d":{"desktop":true,"mobile":true,"tablet":true},"hasBoxShadow":{"desktop":{"normal":false}},"op":{"desktop":"100%"},"rounded":{"desktop":{"normal":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"}}},"spacing-setting":{"desktop":{"link":false,"margin":{"bottom":"0px","right":"0px"},"padding":{"bottom":"var(--g-s-l)","left":"var(--g-s-xl)","right":"var(--g-s-xl)","top":"var(--g-s-l)"}}}},"label":"Countdown Timer","settings":{"behaviour":"daily","dateStandard":1695771998348,"dayLabel":"Days","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hrs","minuteLabel":"Mins","redirectUrl":{"link":"#","target":"_self"},"secondLabel":"Secs","timeZone":"UTC+7","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":0,"endTime":1695177998348,"hours":3,"mins":0,"startTime":1695167198348},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks"},"styles":{"backgroundItemColor":"transparent","borderState":{"normal":{"border":"none","borderType":"none","color":"transparent","isCustom":false,"width":"0px"}},"colorLabel":"text-1","colorNumber":"text-2","horizontalGap":"12px","itemPadding":{"custom":{"desktop":{"horizontal":"8px","vertical":"0px"}}},"labelTypo":{"attrs":{"color":"#B4B4B4","transform":"uppercase"},"custom":{"fontSize":{"desktop":"13px","mobile":"12px","tablet":"13px"},"fontStyle":"normal","fontVariants":["300","regular","500","600","700"],"fontWeight":"400","letterSpacing":"normal","lineHeight":{"desktop":"150%","mobile":"150%","tablet":"150%"}},"type":"paragraph-1"},"numTypo":{"attrs":{"color":"#FFFFFF"},"custom":{"fontSize":{"desktop":"28px","mobile":"24px","tablet":"28px"},"fontStyle":"normal","fontVariants":["300","regular","500","600","700"],"fontWeight":"600","letterSpacing":"normal","lineHeight":{"desktop":"130%","mobile":"130%","tablet":"130%"}},"type":"heading-2"},"roundedState":{"normal":{"radiusType":"none"}},"textAlign":{"desktop":"center"},"verticalGap":"0px"},"tag":"Countdown","uid":"gM6h9VGfkZ","childrens":[],"type":"component"}}'
     gp-href="#"
     style="--jc:center"
     >
      <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative" style="gap:12px;--jc:center">
        <a
            href="#"
            target="_self"
            aria-label="Countdown link"
            class="gp-absolute gp-inset-0 gp-z-1"
          > </a>
          
          
    <div
        style="--pl:8px;--pr:8px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
  <gp-text data-id="gM6h9VGfkZ-text">
    <div
      id="day"
        class="gM6h9VGfkZ "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    </gp-text>
    
    
  <gp-text data-id="gM6h9VGfkZ-text">
    <div
      
        class="gM6h9VGfkZ "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#B4B4B4;--tt:uppercase;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggM6h9VGfkZ_dayLabel }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    
          
    <div
        style="--pl:8px;--pr:8px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
  <gp-text data-id="gM6h9VGfkZ-text">
    <div
      id="hour"
        class="gM6h9VGfkZ "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    </gp-text>
    
    
  <gp-text data-id="gM6h9VGfkZ-text">
    <div
      
        class="gM6h9VGfkZ "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#B4B4B4;--tt:uppercase;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggM6h9VGfkZ_hourLabel }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    
          
    <div
        style="--pl:8px;--pr:8px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
  <gp-text data-id="gM6h9VGfkZ-text">
    <div
      id="minute"
        class="gM6h9VGfkZ "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    </gp-text>
    
    
  <gp-text data-id="gM6h9VGfkZ-text">
    <div
      
        class="gM6h9VGfkZ "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#B4B4B4;--tt:uppercase;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggM6h9VGfkZ_minuteLabel }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    
          
    <div
        style="--pl:8px;--pr:8px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
  <gp-text data-id="gM6h9VGfkZ-text">
    <div
      id="second"
        class="gM6h9VGfkZ "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    </gp-text>
    
    
  <gp-text data-id="gM6h9VGfkZ-text">
    <div
      
        class="gM6h9VGfkZ "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#B4B4B4;--tt:uppercase;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggM6h9VGfkZ_secondLabel }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    
      </div>
     </gp-countdown-timer>
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-countdown.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start;--d:none;--d-tablet:none;--d-mobile:none"
      class="guP6TUOTCB gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left;--ta-mobile:center"
    
  >
    <style>
    .gXNxzvZc6N.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
      
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
    }

    .gXNxzvZc6N:hover::before {
      
      
    }

    .gXNxzvZc6N:hover .gp-button-icon {
      color: undefined;
    }

     .gXNxzvZc6N .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gXNxzvZc6N:hover .gp-button-price {
      color: undefined;
    }

    .gXNxzvZc6N .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gXNxzvZc6N .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gXNxzvZc6N:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="button" data-id="gXNxzvZc6N" aria-label="Grab The Deal"
      
      data-state="idle"
      class="gXNxzvZc6N gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3"
      style="--hvr-bg:#212121;--bg:#000000;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--shadow:none;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:12px;--pb-mobile:12px;--w:191px;--w-tablet:191px;--w-mobile:191px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:var(--g-c-text-3, text-3);--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px"
      >
        {{ section.settings.ggXNxzvZc6N_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start;--o:1;--d-mobile:none"
      class="gHe3OKbs1c gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-539461211658388384 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/2a1421-6c/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=539461193371223172&sectionId=539461211658388384)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggaVnvnNZGJ_text","label":"ggaVnvnNZGJ_text","default":"<p>Treat, Not Trick!</p>"},{"type":"html","id":"ggBc68_nJvH_text","label":"ggBc68_nJvH_text","default":"<p>What better way to greet the, ghosts, and goblins than with the sweetest and most delicious treats in town?</p>"},{"type":"html","id":"ggM6h9VGfkZ_dayLabel","label":"ggM6h9VGfkZ_dayLabel","default":"Days"},{"type":"html","id":"ggM6h9VGfkZ_hourLabel","label":"ggM6h9VGfkZ_hourLabel","default":"Hrs"},{"type":"html","id":"ggM6h9VGfkZ_minuteLabel","label":"ggM6h9VGfkZ_minuteLabel","default":"Mins"},{"type":"html","id":"ggM6h9VGfkZ_secondLabel","label":"ggM6h9VGfkZ_secondLabel","default":"Secs"},{"type":"html","id":"ggM6h9VGfkZ_weekLabel","label":"ggM6h9VGfkZ_weekLabel","default":"Weeks"},{"type":"html","id":"ggXNxzvZc6N_label","label":"ggXNxzvZc6N_label","default":"Grab The Deal"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
