

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-539411149536363516.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-539411149536363516.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-539411149536363516.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-539411149536363516.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-539411149536363516.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-539411149536363516.gps.gpsil [style*="--hvr-bgc:"]:hover{background-color:var(--hvr-bgc)}.gps-539411149536363516.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-539411149536363516.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-539411149536363516.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-539411149536363516.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-539411149536363516.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-539411149536363516.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-539411149536363516.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-539411149536363516.gps.gpsil [style*="--hvr-bc:"]:hover{border-color:var(--hvr-bc)}.gps-539411149536363516.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-539411149536363516.gps.gpsil [style*="--hvr-bs:"]:hover{border-style:var(--hvr-bs)}.gps-539411149536363516.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-539411149536363516.gps.gpsil [style*="--hvr-bw:"]:hover{border-width:var(--hvr-bw)}.gps-539411149536363516.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-539411149536363516.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-539411149536363516.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-539411149536363516.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-539411149536363516.gps.gpsil [style*="--fd:"]{flex-direction:var(--fd)}.gps-539411149536363516.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-539411149536363516.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-539411149536363516.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-539411149536363516.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-539411149536363516.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-539411149536363516.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-539411149536363516.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-539411149536363516.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-539411149536363516.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-539411149536363516.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-539411149536363516.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-539411149536363516.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-539411149536363516.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-539411149536363516.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-539411149536363516.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-539411149536363516.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-539411149536363516.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-539411149536363516.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-539411149536363516.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-539411149536363516.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-539411149536363516.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-539411149536363516.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-539411149536363516.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-539411149536363516.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-539411149536363516.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-539411149536363516.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-539411149536363516.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-539411149536363516.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-539411149536363516.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-539411149536363516.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-539411149536363516.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-539411149536363516.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-539411149536363516.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-539411149536363516.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-539411149536363516.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-539411149536363516.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-539411149536363516.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-539411149536363516.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-539411149536363516.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-539411149536363516.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-539411149536363516.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-539411149536363516.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-539411149536363516.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-539411149536363516.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-539411149536363516.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-539411149536363516.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-539411149536363516.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-539411149536363516.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-539411149536363516.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-539411149536363516.gps.gpsil [style*="--gg-mobile:"]{grid-gap:var(--gg-mobile)}.gps-539411149536363516.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-539411149536363516.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-539411149536363516.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-539411149536363516.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-539411149536363516.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-539411149536363516.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-539411149536363516.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-539411149536363516.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-539411149536363516.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-539411149536363516.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-539411149536363516.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-539411149536363516.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-539411149536363516.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-539411149536363516 .-gp-rotate-90,.gps-539411149536363516 .gp-rotate-180,.gps-539411149536363516 .gp-rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-539411149536363516 .gp-invisible{visibility:hidden}.gps-539411149536363516 .gp-absolute{position:absolute}.gps-539411149536363516 .gp-relative{position:relative}.gps-539411149536363516 .gp-top-0{top:0}.gps-539411149536363516 .gp-z-1{z-index:1}.gps-539411149536363516 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-539411149536363516 .gp-mb-0{margin-bottom:0}.gps-539411149536363516 .\!gp-inline{display:inline!important}.gps-539411149536363516 .gp-flex{display:flex}.gps-539411149536363516 .gp-inline-flex{display:inline-flex}.gps-539411149536363516 .gp-grid{display:grid}.gps-539411149536363516 .\!gp-hidden{display:none!important}.gps-539411149536363516 .gp-hidden{display:none}.gps-539411149536363516 .gp-h-full{height:100%}.gps-539411149536363516 .gp-min-h-0{min-height:0}.gps-539411149536363516 .gp-w-full{width:100%}.gps-539411149536363516 .gp-max-w-full{max-width:100%}.gps-539411149536363516 .-gp-rotate-90{--tw-rotate:-90deg}.gps-539411149536363516 .-gp-rotate-90,.gps-539411149536363516 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-539411149536363516 .gp-rotate-180{--tw-rotate:180deg}.gps-539411149536363516 .gp-rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-539411149536363516 .gp-cursor-pointer{cursor:pointer}.gps-539411149536363516 .gp-flex-col{flex-direction:column}.gps-539411149536363516 .gp-items-center{align-items:center}.gps-539411149536363516 .\!gp-justify-center{justify-content:center!important}.gps-539411149536363516 .gp-justify-center{justify-content:center}.gps-539411149536363516 .gp-gap-y-0{row-gap:0}.gps-539411149536363516 .gp-overflow-hidden{overflow:hidden}.gps-539411149536363516 .gp-overflow-clip{overflow:clip}.gps-539411149536363516 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-539411149536363516 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-539411149536363516 .gp-duration-200{transition-duration:.2s}.gps-539411149536363516 .gp-duration-500{transition-duration:.5s}.gps-539411149536363516 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-539411149536363516 .tablet\:gp-relative{position:relative}.gps-539411149536363516 .tablet\:\!gp-hidden{display:none!important}.gps-539411149536363516 .tablet\:gp-hidden{display:none}.gps-539411149536363516 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-539411149536363516 .mobile\:gp-relative{position:relative}.gps-539411149536363516 .mobile\:\!gp-hidden{display:none!important}.gps-539411149536363516 .mobile\:gp-hidden{display:none}.gps-539411149536363516 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-539411149536363516 .mobile\:\!gp-justify-center,.gps-539411149536363516 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-539411149536363516 .\[\&\>svg\]\:\!gp-h-\[var\(--height-iconCollapseSize\)\]>svg{height:var(--height-iconCollapseSize)!important}.gps-539411149536363516 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-539411149536363516 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-539411149536363516 .\[\&_p\]\:gp-inline p{display:inline}.gps-539411149536363516 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-539411149536363516 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g11KkFi2Ro" data-id="g11KkFi2Ro"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g11KkFi2Ro gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gvKZYl0HH- gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:auto;--h-tablet:auto;--h-mobile:fit-content;--d:flex;--d-mobile:flex;--d-tablet:flex">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_537482810403849348-7df42b65-f8a1-4f7f-a072-daf8711414ed.png","height":1130,"src":"https://cdn.shopify.com/s/files/1/0903/0575/7498/files/gempages_537482810403849348-7df42b65-f8a1-4f7f-a072-daf8711414ed.png","storage":"FILE_CONTENT","width":2160},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_537482810403849348-7df42b65-f8a1-4f7f-a072-daf8711414ed.png","height":1130,"src":"https://cdn.shopify.com/s/files/1/0903/0575/7498/files/gempages_537482810403849348-7df42b65-f8a1-4f7f-a072-daf8711414ed.png","storage":"FILE_CONTENT","width":2160},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"#FEB884","position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gOJlJYYoOa","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[6,6],"display":"fill"},"mobile":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"}}'
        
        class="gOJlJYYoOa gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pl:0px;--pr:0px;--h:auto;--h-tablet:auto;--h-mobile:fit-content;--w:100%;--w-tablet:100%;--w-mobile:100%"
        data-id="gOJlJYYoOa"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
          style="--h:auto;--h-tablet:auto;--h-mobile:fit-content;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--shadow:none"
        >
          
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" class="gp-w-full">
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-7df42b65-f8a1-4f7f-a072-daf8711414ed_768x.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-7df42b65-f8a1-4f7f-a072-daf8711414ed_1024x.png" | file_url }}" />
        <img
          title
          class="adaptive-hero-banner"
          src="{{ "gempages_537482810403849348-7df42b65-f8a1-4f7f-a072-daf8711414ed.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:2160/1130;--aspect-tablet:2160/1130;--aspect-mobile:2160/1130;--d:none;--d-tablet:none;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:fit-content;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-7df42b65-f8a1-4f7f-a072-daf8711414ed_768x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-7df42b65-f8a1-4f7f-a072-daf8711414ed_1024x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-7df42b65-f8a1-4f7f-a072-daf8711414ed.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:2160/1130;--aspect-tablet:2160/1130;--aspect-mobile:2160/1130;--d:none;--d-tablet:none;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:fit-content;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    {%- endif -%}
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
              >
              <div
                aria-label="Background Image"
                role="banner"
                class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
                style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
              > 
              <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp_lazybg"
              style="--bgc:var(--g-c-bg-2);--bgc-mobile:#FEB884;--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bgi:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=');--bgi-tablet:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=');--bgi-mobile:url('');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
             >
             
  {%- liquid
    assign isFetchPriorityHigh = false 
    
  -%}

  {%- if isFetchPriorityHigh == true or isFetchPriorityHigh == 'true' -%}
    <img
      
      
      draggable="false"
      isNotLazyload="true"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  "
      src="https://cdn.shopify.com/s/files/1/0903/0575/7498/files/gempages_537482810403849348-7df42b65-f8a1-4f7f-a072-daf8711414ed.png" width="2237" height="1678" alt="lazy image desktop"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      srcset=""
      sizes="100vw"
      
    />
  {%- else -%}
    <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg   gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0903/0575/7498/files/gempages_537482810403849348-7df42b65-f8a1-4f7f-a072-daf8711414ed.png" data-srcset="https://cdn.shopify.com/s/files/1/0903/0575/7498/files/gempages_537482810403849348-7df42b65-f8a1-4f7f-a072-daf8711414ed.png 768w,https://cdn.shopify.com/s/files/1/0903/0575/7498/files/gempages_537482810403849348-7df42b65-f8a1-4f7f-a072-daf8711414ed.png 1024w,https://cdn.shopify.com/s/files/1/0903/0575/7498/files/gempages_537482810403849348-7df42b65-f8a1-4f7f-a072-daf8711414ed.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="2237" height="1678" alt="lazy image desktop"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  {%- endif -%}
  
  {%- liquid
    assign isFetchPriorityHigh = false 
    
  -%}

  {%- if isFetchPriorityHigh == true or isFetchPriorityHigh == 'true' -%}
    <img
      
      
      draggable="false"
      isNotLazyload="true"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl "
      src="https://cdn.shopify.com/s/files/1/0903/0575/7498/files/gempages_537482810403849348-7df42b65-f8a1-4f7f-a072-daf8711414ed.png" width="2237" height="1678" alt="lazy image tablet"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      srcset=""
      sizes="100vw"
      
    />
  {%- else -%}
    <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl  gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0903/0575/7498/files/gempages_537482810403849348-7df42b65-f8a1-4f7f-a072-daf8711414ed.png" data-srcset="https://cdn.shopify.com/s/files/1/0903/0575/7498/files/gempages_537482810403849348-7df42b65-f8a1-4f7f-a072-daf8711414ed.png 768w,https://cdn.shopify.com/s/files/1/0903/0575/7498/files/gempages_537482810403849348-7df42b65-f8a1-4f7f-a072-daf8711414ed.png 1024w,https://cdn.shopify.com/s/files/1/0903/0575/7498/files/gempages_537482810403849348-7df42b65-f8a1-4f7f-a072-daf8711414ed.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="2237" height="1678" alt="lazy image tablet"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  {%- endif -%}
  
              </div>  
               </div>
            </div>
            
          </div>
          
          
       
      
    <div
      id data-id
        style="--pl:15px;--pr:15px;--pt:80px;--pb:39px;--pl-tablet:15px;--pr-tablet:15px;--pt-tablet:80px;--pb-tablet:39px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:0"
      class="gfHQgzwO1j gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g9txUCLw3y"
    role="presentation"
    class="gp-group/image g9txUCLw3y"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--mb:16px;--mb-mobile:21px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-072a45c4-3585-453d-bbe6-b863c49b9cfb_768x.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-072a45c4-3585-453d-bbe6-b863c49b9cfb_1024x.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-072a45c4-3585-453d-bbe6-b863c49b9cfb.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:750/900;--aspect-tablet:750/900;--aspect-mobile:750/900;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-072a45c4-3585-453d-bbe6-b863c49b9cfb_768x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-072a45c4-3585-453d-bbe6-b863c49b9cfb_1024x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-072a45c4-3585-453d-bbe6-b863c49b9cfb.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:750/900;--aspect-tablet:750/900;--aspect-mobile:750/900;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-g9txUCLw3y">
        .g9txUCLw3y {

}
.g9txUCLw3y > figure > img {

}
      </style>
    
       
      
    <div
      parentTag="Col" id="g97CtTVHwW" data-id="g97CtTVHwW"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:16px;--pr:48px;--mb-mobile:7px;--pl-mobile:15px;--pr-mobile:15px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g97CtTVHwW gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="go5Wfhwpqh gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gUSI-wyTJc">
    <div
      parentTag="Col"
        class="gUSI-wyTJc "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:16px;--mb-mobile:4px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:33px;--size-tablet:33px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggUSI-wyTJc_text }}</h2>
      </div>
    </div>
    </gp-text>
    <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:16px;--mb-mobile:14px" class="gaXwxVMxxi ">
      
    <gp-accordion
      data-id="gaXwxVMxxi"
     uid="gaXwxVMxxi"
      class="gp-flex gp-w-full gp-flex-col "
      style="--gg:0px;--gg-mobile:0px;--bgr:function (n) {
                return new Array(1 + n).join(this);
            };border-radius:inherit;overflow:hidden"
      gp-data='{"setting":{"iconSvg":"<svg width=\"17\" height=\"16\" viewBox=\"0 0 17 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                  <path d=\"M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z\" fill=\"currentColor\"/>\n                  </svg>","isIconPlus":false,"activeKey":"1","expanded":false,"expandItem":true,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px"}},"iconCollapse":"\n            <svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" classname=\"w-6 h-6\" viewBox=\"0 0 512 512\" fill=\"currentColor\">\n              <path fill=\"currentColor\" strokelinecap=\"round\" strokelinejoin=\"round\" d=\"M256 64a16 16 0 0 1 16 16v160h160a16 16 0 0 1 0 32h-160v160a16 16 0 0 1 -32 0v-160h-160a16 16 0 0 1 0 -32h160v-160A16 16 0 0 1 256 64Z\"></path></svg>\n            ","iconExpand":"\n            <svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" classname=\"w-6 h-6\" viewBox=\"0 0 512 512\" fill=\"currentColor\">\n              <path fill=\"currentColor\" strokelinecap=\"round\" strokelinejoin=\"round\" d=\"M64 256a16 16 0 0 1 16 -16h352a16 16 0 0 1 0 32h-352A16 16 0 0 1 64 256Z\"></path></svg>\n            ","iconCollapseSize":16,"layoutHeader":"text-only","expandedMode":"single","configIconSize":16,"parentUid":"gaXwxVMxxi","childListNumber":["0"],"chidlrenUid":["gpKF-kCyJ8","gBPyXWAzI4","gM0DkjQNwy","gb9YtSpYRq","gGvj8q9olN","gABOmA91AZ"]},"styles":{"bgColor":{"active":"transparent","hover":"transparent","normal":"transparent"},"color":{"active":"#00000000","hover":"#00000000","normal":"#00000000"},"headerBorder":{"active":{"border":"none","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"},"hover":{"border":"none","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"},"normal":{"border":"none","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"}},"textColor":{"active":"#242424","hover":"#242424","normal":"#242424"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"0px","padding":{"bottom":"24px","left":"50px","right":"16px","top":"0px","type":"custom"}},"mobile":{"customShapeValue":"","gap":"0px","height":"","padding":{"bottom":"21px","left":"44px","right":"14px","top":"0px","type":"custom"},"shape":"","shapeValue":"","width":""}},"headerContentPadding":{"desktop":{"gap":"","padding":{"bottom":"24px","left":"16px","right":"16px","top":"24px","type":"custom"}},"mobile":{"customShapeValue":"","gap":"","height":"","padding":{"bottom":"21px","left":"14px","right":"14px","top":"21px","type":"custom"},"shape":"","shapeValue":"","width":""}},"widthHeightSize":{"desktop":{"gap":"","height":"Auto","width":"100%"}}},"uid":"gaXwxVMxxi"}'
    >
    <div class="gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
    <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gaXwxVMxxi-0:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gaXwxVMxxi-0:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #00000000 !important
      }
    .gp-accordion-item .gp-accordion-item-gaXwxVMxxi-0:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gaXwxVMxxi-0:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E59860;--bg:transparent;--shadow:none">
    <div
      data-index="0"
      class="gaXwxVMxxi gp-accordion-item gp-overflow-hidden gp-child-item-gaXwxVMxxi"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gpKF-kCyJ8"
        id="gpKF-kCyJ8"
        data-index="0"
        class="gaXwxVMxxi gp-accordion-item-gaXwxVMxxi-0 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:24px;--pb:24px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:21px;--pb-mobile:21px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:transparent;--bs:none;--bw:0px 0px 1px 0px;--bc:#121212;--c:#242424"
      >
       <style class="accordion-style">.gaXwxVMxxi.gp-accordion-item-gaXwxVMxxi-0:hover .gp-collapsible-icon, .gaXwxVMxxi.gp-accordion-item-gaXwxVMxxi-0:hover .gp-icon {
                  color: #00000000
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--c:#00000000;width:16px;height:16px"
            data-index="0"
            class="gaXwxVMxxi gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
            <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M64 256a16 16 0 0 1 16 -16h352a16 16 0 0 1 0 32h-352A16 16 0 0 1 64 256Z"></path></svg>
            </span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggaXwxVMxxi_childItem_0 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gpKF-kCyJ8"
        data-index="0"
        data-show="true"
        class="gaXwxVMxxi gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:1fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gpKF-kCyJ8"
        data-index="0"
        class="gaXwxVMxxi gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:50px;--pr:16px;--pt:0px;--pb:24px;--pl-mobile:44px;--pr-mobile:14px;--pt-mobile:0px;--pb-mobile:21px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="gIj_2aN6Xi gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gx2A-cpMbE">
    <div
      parentTag="Col"
        class="gx2A-cpMbE "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggx2A-cpMbE_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gx2A-cpMbE">
        .gx2A-cpMbE {

}
.gx2A-cpMbE p {

}
      </style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gaXwxVMxxi-1:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gaXwxVMxxi-1:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #00000000 !important
      }
    .gp-accordion-item .gp-accordion-item-gaXwxVMxxi-1:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gaXwxVMxxi-1:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E59860;--bg:transparent;--shadow:none">
    <div
      data-index="1"
      class="gaXwxVMxxi gp-accordion-item gp-overflow-hidden gp-child-item-gaXwxVMxxi"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gBPyXWAzI4"
        id="gBPyXWAzI4"
        data-index="1"
        class="gaXwxVMxxi gp-accordion-item-gaXwxVMxxi-1 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:24px;--pb:24px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:21px;--pb-mobile:21px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#242424;--c:#242424;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gaXwxVMxxi.gp-accordion-item-gaXwxVMxxi-1:hover .gp-collapsible-icon, .gaXwxVMxxi.gp-accordion-item-gaXwxVMxxi-1:hover .gp-icon {
                  color: #00000000
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#00000000;--c:#00000000;width:16px;height:16px"
            data-index="1"
            class="gaXwxVMxxi gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
            <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M256 64a16 16 0 0 1 16 16v160h160a16 16 0 0 1 0 32h-160v160a16 16 0 0 1 -32 0v-160h-160a16 16 0 0 1 0 -32h160v-160A16 16 0 0 1 256 64Z"></path></svg>
            </span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggaXwxVMxxi_childItem_1 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gBPyXWAzI4"
        data-index="1"
        data-show="false"
        class="gaXwxVMxxi gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gBPyXWAzI4"
        data-index="1"
        class="gaXwxVMxxi gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:50px;--pr:16px;--pl-mobile:44px;--pr-mobile:14px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="gERsnz9o6F gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gqxKMTfZIc">
    <div
      parentTag="Col"
        class="gqxKMTfZIc "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggqxKMTfZIc_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gqxKMTfZIc">
        .gqxKMTfZIc {

}
.gqxKMTfZIc p {

}
      </style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gaXwxVMxxi-2:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gaXwxVMxxi-2:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #00000000 !important
      }
    .gp-accordion-item .gp-accordion-item-gaXwxVMxxi-2:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gaXwxVMxxi-2:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E59860;--bg:transparent;--shadow:none">
    <div
      data-index="2"
      class="gaXwxVMxxi gp-accordion-item gp-overflow-hidden gp-child-item-gaXwxVMxxi"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gM0DkjQNwy"
        id="gM0DkjQNwy"
        data-index="2"
        class="gaXwxVMxxi gp-accordion-item-gaXwxVMxxi-2 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:24px;--pb:24px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:21px;--pb-mobile:21px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#242424;--c:#242424;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gaXwxVMxxi.gp-accordion-item-gaXwxVMxxi-2:hover .gp-collapsible-icon, .gaXwxVMxxi.gp-accordion-item-gaXwxVMxxi-2:hover .gp-icon {
                  color: #00000000
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#00000000;--c:#00000000;width:16px;height:16px"
            data-index="2"
            class="gaXwxVMxxi gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
            <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M256 64a16 16 0 0 1 16 16v160h160a16 16 0 0 1 0 32h-160v160a16 16 0 0 1 -32 0v-160h-160a16 16 0 0 1 0 -32h160v-160A16 16 0 0 1 256 64Z"></path></svg>
            </span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggaXwxVMxxi_childItem_2 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gM0DkjQNwy"
        data-index="2"
        data-show="false"
        class="gaXwxVMxxi gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gM0DkjQNwy"
        data-index="2"
        class="gaXwxVMxxi gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:50px;--pr:16px;--pl-mobile:44px;--pr-mobile:14px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="gZthIyHZ5L gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gqSULv6LKC">
    <div
      parentTag="Col"
        class="gqSULv6LKC "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggqSULv6LKC_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gqSULv6LKC">
        .gqSULv6LKC {

}
.gqSULv6LKC p {

}
      </style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gaXwxVMxxi-3:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gaXwxVMxxi-3:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #00000000 !important
      }
    .gp-accordion-item .gp-accordion-item-gaXwxVMxxi-3:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gaXwxVMxxi-3:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E59860;--bg:transparent;--shadow:none">
    <div
      data-index="3"
      class="gaXwxVMxxi gp-accordion-item gp-overflow-hidden gp-child-item-gaXwxVMxxi"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gb9YtSpYRq"
        id="gb9YtSpYRq"
        data-index="3"
        class="gaXwxVMxxi gp-accordion-item-gaXwxVMxxi-3 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:24px;--pb:24px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:21px;--pb-mobile:21px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#242424;--c:#242424;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gaXwxVMxxi.gp-accordion-item-gaXwxVMxxi-3:hover .gp-collapsible-icon, .gaXwxVMxxi.gp-accordion-item-gaXwxVMxxi-3:hover .gp-icon {
                  color: #00000000
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#00000000;--c:#00000000;width:16px;height:16px"
            data-index="3"
            class="gaXwxVMxxi gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
            <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M256 64a16 16 0 0 1 16 16v160h160a16 16 0 0 1 0 32h-160v160a16 16 0 0 1 -32 0v-160h-160a16 16 0 0 1 0 -32h160v-160A16 16 0 0 1 256 64Z"></path></svg>
            </span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggaXwxVMxxi_childItem_3 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gb9YtSpYRq"
        data-index="3"
        data-show="false"
        class="gaXwxVMxxi gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gb9YtSpYRq"
        data-index="3"
        class="gaXwxVMxxi gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:50px;--pr:16px;--pl-mobile:44px;--pr-mobile:14px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="gFfZPOhm3D gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gnFWmfrRAj">
    <div
      parentTag="Col"
        class="gnFWmfrRAj "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggnFWmfrRAj_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gnFWmfrRAj">
        .gnFWmfrRAj {

}
.gnFWmfrRAj p {

}
      </style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gaXwxVMxxi-4:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gaXwxVMxxi-4:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #00000000 !important
      }
    .gp-accordion-item .gp-accordion-item-gaXwxVMxxi-4:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gaXwxVMxxi-4:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E59860;--bg:transparent;--shadow:none">
    <div
      data-index="4"
      class="gaXwxVMxxi gp-accordion-item gp-overflow-hidden gp-child-item-gaXwxVMxxi"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gGvj8q9olN"
        id="gGvj8q9olN"
        data-index="4"
        class="gaXwxVMxxi gp-accordion-item-gaXwxVMxxi-4 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:24px;--pb:24px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:21px;--pb-mobile:21px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#242424;--c:#242424;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gaXwxVMxxi.gp-accordion-item-gaXwxVMxxi-4:hover .gp-collapsible-icon, .gaXwxVMxxi.gp-accordion-item-gaXwxVMxxi-4:hover .gp-icon {
                  color: #00000000
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#00000000;--c:#00000000;width:16px;height:16px"
            data-index="4"
            class="gaXwxVMxxi gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
            <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M256 64a16 16 0 0 1 16 16v160h160a16 16 0 0 1 0 32h-160v160a16 16 0 0 1 -32 0v-160h-160a16 16 0 0 1 0 -32h160v-160A16 16 0 0 1 256 64Z"></path></svg>
            </span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggaXwxVMxxi_childItem_4 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gGvj8q9olN"
        data-index="4"
        data-show="false"
        class="gaXwxVMxxi gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gGvj8q9olN"
        data-index="4"
        class="gaXwxVMxxi gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:50px;--pr:16px;--pl-mobile:44px;--pr-mobile:14px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="ghl9qL5jKr gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="geHdeM4GTp">
    <div
      parentTag="Col"
        class="geHdeM4GTp "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggeHdeM4GTp_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-geHdeM4GTp">
        .geHdeM4GTp {

}
.geHdeM4GTp p {

}
      </style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gaXwxVMxxi-5:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gaXwxVMxxi-5:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #00000000 !important
      }
    .gp-accordion-item .gp-accordion-item-gaXwxVMxxi-5:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gaXwxVMxxi-5:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E59860;--bg:transparent;--shadow:none">
    <div
      data-index="5"
      class="gaXwxVMxxi gp-accordion-item gp-overflow-hidden gp-child-item-gaXwxVMxxi"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gABOmA91AZ"
        id="gABOmA91AZ"
        data-index="5"
        class="gaXwxVMxxi gp-accordion-item-gaXwxVMxxi-5 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:24px;--pb:24px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:21px;--pb-mobile:21px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#242424;--c:#242424;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gaXwxVMxxi.gp-accordion-item-gaXwxVMxxi-5:hover .gp-collapsible-icon, .gaXwxVMxxi.gp-accordion-item-gaXwxVMxxi-5:hover .gp-icon {
                  color: #00000000
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#00000000;--c:#00000000;width:16px;height:16px"
            data-index="5"
            class="gaXwxVMxxi gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
            <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M256 64a16 16 0 0 1 16 16v160h160a16 16 0 0 1 0 32h-160v160a16 16 0 0 1 -32 0v-160h-160a16 16 0 0 1 0 -32h160v-160A16 16 0 0 1 256 64Z"></path></svg>
            </span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggaXwxVMxxi_childItem_5 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gABOmA91AZ"
        data-index="5"
        data-show="false"
        class="gaXwxVMxxi gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gABOmA91AZ"
        data-index="5"
        class="gaXwxVMxxi gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:50px;--pr:16px;--pl-mobile:44px;--pr-mobile:14px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="g0KbRqjvTp gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gNTF_hOHEO">
    <div
      parentTag="Col"
        class="gNTF_hOHEO "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggNTF_hOHEO_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gNTF_hOHEO">
        .gNTF_hOHEO {

}
.gNTF_hOHEO p {

}
      </style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            
    </gp-accordion>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-accordion.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
   
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:center;--o:1;--d-mobile:none"
      class="g2nuSNuPlH gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-539411149536363516 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/2a1421-6c/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=539410450933089412&sectionId=539411149536363516)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggUSI-wyTJc_text","label":"ggUSI-wyTJc_text","default":"Ask us anything"},{"type":"html","id":"ggaXwxVMxxi_childItem_0","label":"ggaXwxVMxxi_childItem_0","default":"<p>01. &nbsp; Lorem ipsum dolor sit amet?</p>"},{"type":"html","id":"ggaXwxVMxxi_childItem_1","label":"ggaXwxVMxxi_childItem_1","default":"<p>02. &nbsp; Lorem ipsum dolor sit amet consectetur?</p>"},{"type":"html","id":"ggaXwxVMxxi_childItem_2","label":"ggaXwxVMxxi_childItem_2","default":"<p>03. &nbsp; Lorem ipsum dolor sit amet consectetur adipiscing?</p>"},{"type":"html","id":"ggaXwxVMxxi_childItem_3","label":"ggaXwxVMxxi_childItem_3","default":"<p>04. &nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?</p>"},{"type":"html","id":"ggaXwxVMxxi_childItem_4","label":"ggaXwxVMxxi_childItem_4","default":"<p>05. &nbsp; Lorem ipsum dolor sit amet consectetur adipiscing elit?</p>"},{"type":"html","id":"ggaXwxVMxxi_childItem_5","label":"ggaXwxVMxxi_childItem_5","default":"<p>06. &nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt?</p>"},{"type":"html","id":"ggx2A-cpMbE_text","label":"ggx2A-cpMbE_text","default":"<p>Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae&nbsp;</p>"},{"type":"html","id":"ggqxKMTfZIc_text","label":"ggqxKMTfZIc_text","default":"<p>Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae&nbsp;</p>"},{"type":"html","id":"ggqSULv6LKC_text","label":"ggqSULv6LKC_text","default":"<p>Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae&nbsp;</p>"},{"type":"html","id":"ggnFWmfrRAj_text","label":"ggnFWmfrRAj_text","default":"<p>Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae&nbsp;</p>"},{"type":"html","id":"ggeHdeM4GTp_text","label":"ggeHdeM4GTp_text","default":"<p>Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae&nbsp;</p>"},{"type":"html","id":"ggNTF_hOHEO_text","label":"ggNTF_hOHEO_text","default":"<p>Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae&nbsp;</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
