

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-539411150475887402.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-539411150475887402.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-539411150475887402.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-539411150475887402.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-539411150475887402.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-539411150475887402.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-539411150475887402.gps.gpsil [style*="--hvr-bgc:"]:hover{background-color:var(--hvr-bgc)}.gps-539411150475887402.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-539411150475887402.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-539411150475887402.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-539411150475887402.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-539411150475887402.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-539411150475887402.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-539411150475887402.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-539411150475887402.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-539411150475887402.gps.gpsil [style*="--hvr-bc:"]:hover{border-color:var(--hvr-bc)}.gps-539411150475887402.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-539411150475887402.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-539411150475887402.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-539411150475887402.gps.gpsil [style*="--hvr-bs:"]:hover{border-style:var(--hvr-bs)}.gps-539411150475887402.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-539411150475887402.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-539411150475887402.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-539411150475887402.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-539411150475887402.gps.gpsil [style*="--hvr-bw:"]:hover{border-width:var(--hvr-bw)}.gps-539411150475887402.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-539411150475887402.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-539411150475887402.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-539411150475887402.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-539411150475887402.gps.gpsil [style*="--fd:"]{flex-direction:var(--fd)}.gps-539411150475887402.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-539411150475887402.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-539411150475887402.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-539411150475887402.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-539411150475887402.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-539411150475887402.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-539411150475887402.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-539411150475887402.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-539411150475887402.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-539411150475887402.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-539411150475887402.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-539411150475887402.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-539411150475887402.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-539411150475887402.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-539411150475887402.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-539411150475887402.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-539411150475887402.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-539411150475887402.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-539411150475887402.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-539411150475887402.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-539411150475887402.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-539411150475887402.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-539411150475887402.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-539411150475887402.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-539411150475887402.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-539411150475887402.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-539411150475887402.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-539411150475887402.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-539411150475887402.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-539411150475887402.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-539411150475887402.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-539411150475887402.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-539411150475887402.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-539411150475887402.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-539411150475887402.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-539411150475887402.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-539411150475887402.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-539411150475887402.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-539411150475887402.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-539411150475887402.gps.gpsil [style*="--gg-mobile:"]{grid-gap:var(--gg-mobile)}.gps-539411150475887402.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-539411150475887402.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-539411150475887402.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-539411150475887402.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-539411150475887402.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-539411150475887402.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-539411150475887402.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-539411150475887402.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-539411150475887402.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-539411150475887402.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-539411150475887402.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-539411150475887402 .-gp-rotate-90,.gps-539411150475887402 .gp-rotate-180,.gps-539411150475887402 .gp-rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-539411150475887402 .gp-relative{position:relative}.gps-539411150475887402 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-539411150475887402 .gp-mb-0{margin-bottom:0}.gps-539411150475887402 .\!gp-inline{display:inline!important}.gps-539411150475887402 .gp-flex{display:flex}.gps-539411150475887402 .gp-inline-flex{display:inline-flex}.gps-539411150475887402 .gp-grid{display:grid}.gps-539411150475887402 .\!gp-hidden{display:none!important}.gps-539411150475887402 .gp-hidden{display:none}.gps-539411150475887402 .gp-h-full{height:100%}.gps-539411150475887402 .gp-min-h-0{min-height:0}.gps-539411150475887402 .gp-w-full{width:100%}.gps-539411150475887402 .gp-max-w-full{max-width:100%}.gps-539411150475887402 .-gp-rotate-90{--tw-rotate:-90deg}.gps-539411150475887402 .-gp-rotate-90,.gps-539411150475887402 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-539411150475887402 .gp-rotate-180{--tw-rotate:180deg}.gps-539411150475887402 .gp-rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-539411150475887402 .gp-cursor-pointer{cursor:pointer}.gps-539411150475887402 .gp-flex-col{flex-direction:column}.gps-539411150475887402 .gp-items-center{align-items:center}.gps-539411150475887402 .gp-justify-center{justify-content:center}.gps-539411150475887402 .gp-gap-y-0{row-gap:0}.gps-539411150475887402 .gp-overflow-hidden{overflow:hidden}.gps-539411150475887402 .gp-overflow-clip{overflow:clip}.gps-539411150475887402 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-539411150475887402 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-539411150475887402 .gp-duration-200{transition-duration:.2s}.gps-539411150475887402 .gp-duration-500{transition-duration:.5s}.gps-539411150475887402 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-539411150475887402 .tablet\:\!gp-hidden{display:none!important}.gps-539411150475887402 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-539411150475887402 .mobile\:\!gp-hidden{display:none!important}.gps-539411150475887402 .mobile\:gp-hidden{display:none}}.gps-539411150475887402 .\[\&\>svg\]\:\!gp-h-\[var\(--height-iconCollapseSize\)\]>svg{height:var(--height-iconCollapseSize)!important}.gps-539411150475887402 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-539411150475887402 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-539411150475887402 .\[\&_p\]\:gp-inline p{display:inline}.gps-539411150475887402 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-539411150475887402 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gjUGzysoeH" data-id="gjUGzysoeH"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:80px;--pb:0px;--pt-mobile:0px;--pb-mobile:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgc-mobile:#FFFFFF;--bgi:url({{ "gempages_537482810403849348-ff262cf8-a326-404f-abd3-4a1dd9619613.png" | file_url }});--bgi-mobile:url();--bgp:50% 100%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gjUGzysoeH gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gxVWMpj7Vm gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gm_kDBL4MM" data-id="gm_kDBL4MM"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pl:0px;--pr:0px;--cg:30px;--pc:start;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gm_kDBL4MM gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start;--o-mobile:1"
      class="gIA6fjchrj gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gRcS0UpC6_" data-id="gRcS0UpC6_"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:38px;--pl:20px;--pr:48px;--mb-mobile:14px;--pl-mobile:20px;--pr-mobile:20px;--pl-tablet:20px;--pr-tablet:20px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gRcS0UpC6_ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gegRCExjfl gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gMmC1CGNTp">
    <div
      parentTag="Col"
        class="gMmC1CGNTp "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:32px;--mb-mobile:28px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#83351B;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggMmC1CGNTp_text }}</h2>
      </div>
    </div>
    </gp-text>
    <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:32px;--mb-mobile:7px" class="gyRM0lOyy0 ">
      
    <gp-accordion
      data-id="gyRM0lOyy0"
     uid="gyRM0lOyy0"
      class="gp-flex gp-w-full gp-flex-col "
      style="--gg:16px;--gg-mobile:14px;--bgr:function (n) {
                return new Array(1 + n).join(this);
            };border-radius:inherit;overflow:hidden"
      gp-data='{"setting":{"iconSvg":"<svg width=\"17\" height=\"16\" viewBox=\"0 0 17 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                  <path d=\"M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z\" fill=\"currentColor\"/>\n                  </svg>","isIconPlus":false,"activeKey":"1","expanded":false,"expandItem":false,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px"}},"iconCollapse":"<svg height=\"20\" width=\"20\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"493334322350326109\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216Zm48-88a8,8,0,0,1-8,8H136v32a8,8,0,0,1-16,0V136H88a8,8,0,0,1,0-16h32V88a8,8,0,0,1,16,0v32h32A8,8,0,0,1,176,128Z\" /></svg>","iconExpand":"<svg height=\"20\" width=\"20\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"493334322263687517\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M176,128a8,8,0,0,1-8,8H88a8,8,0,0,1,0-16h80A8,8,0,0,1,176,128Zm56,0A104,104,0,1,1,128,24,104.11,104.11,0,0,1,232,128Zm-16,0a88,88,0,1,0-88,88A88.1,88.1,0,0,0,216,128Z\" /></svg>","iconCollapseSize":26,"layoutHeader":"text-only","expandedMode":"single","configIconSize":16,"parentUid":"gyRM0lOyy0","childListNumber":[],"chidlrenUid":["gIgGvtO2w-","guL8_X9JGp","gYC3wttYfT","g_-BWu_Zil","g2latGVJuY"]},"styles":{"bgColor":{"active":"#FFFFFF","hover":"#FFFFFF","normal":"#FFFFFF"},"color":{"active":"#83351B","hover":"#83351B","normal":"#83351B"},"headerBorder":{"active":{"border":"none","borderWidth":"1px","color":"#83351B","isCustom":true,"position":"bottom","width":"1px 1px 1px 1px"},"hover":{"border":"none","borderWidth":"1px","color":"#83351B","isCustom":true,"position":"bottom","width":"1px 1px 1px 1px"},"normal":{"border":"none","borderWidth":"1px","color":"#83351B","isCustom":true,"position":"bottom","width":"1px 1px 1px 1px"}},"textColor":{"active":"#83351B","hover":"#83351B","normal":"#83351B"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"16px","padding":{"bottom":"24px","left":"16px","linked":false,"right":"16px","top":"0px","type":"custom"}},"mobile":{"customShapeValue":"","gap":"14px","height":"","padding":{"bottom":"21px","left":"14px","linked":false,"right":"14px","top":"0px","type":"custom"},"shape":"","shapeValue":"","width":""}},"headerContentPadding":{"desktop":{"gap":"","padding":{"bottom":"24px","left":"16px","right":"16px","top":"24px","type":"custom"}},"mobile":{"customShapeValue":"","gap":"","height":"","padding":{"bottom":"21px","left":"14px","right":"14px","top":"21px","type":"custom"},"shape":"","shapeValue":"","width":""}},"widthHeightSize":{"desktop":{"height":"auto","width":"100%"}}},"uid":"gyRM0lOyy0"}'
    >
    <div class="gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
    <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gyRM0lOyy0-0:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gyRM0lOyy0-0:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #83351B !important
      }
    .gp-accordion-item .gp-accordion-item-gyRM0lOyy0-0:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gyRM0lOyy0-0:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:26px;--height-configIconSize:16px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#83351B;--bg:#FFFFFF;--shadow:none;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px">
    <div
      data-index="0"
      class="gyRM0lOyy0 gp-accordion-item gp-overflow-hidden gp-child-item-gyRM0lOyy0"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gIgGvtO2w-"
        id="gIgGvtO2w-"
        data-index="0"
        class="gyRM0lOyy0 gp-accordion-item-gyRM0lOyy0-0 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:24px;--pb:24px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:21px;--pb-mobile:21px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:#FFFFFF;--bgc:#FFFFFF;--hvr-c:#83351B;--c:#83351B;--bs:none;--hvr-bs:none;--bw:1px 1px 1px 1px;--hvr-bw:1px 1px 1px 1px;--bc:#83351B;--hvr-bc:#83351B"
      >
       <style class="accordion-style">.gyRM0lOyy0.gp-accordion-item-gyRM0lOyy0-0:hover .gp-collapsible-icon, .gyRM0lOyy0.gp-accordion-item-gyRM0lOyy0-0:hover .gp-icon {
                  color: #83351B
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#83351B;--c:#83351B;width:26px;height:26px"
            data-index="0"
            class="gyRM0lOyy0 gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334322350326109">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216Zm48-88a8,8,0,0,1-8,8H136v32a8,8,0,0,1-16,0V136H88a8,8,0,0,1,0-16h32V88a8,8,0,0,1,16,0v32h32A8,8,0,0,1,176,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggyRM0lOyy0_childItem_0 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gIgGvtO2w-"
        data-index="0"
        data-show="false"
        class="gyRM0lOyy0 gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gIgGvtO2w-"
        data-index="0"
        class="gyRM0lOyy0 gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:16px;--pr:16px;--pl-mobile:14px;--pr-mobile:14px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="gBcR7IDTLE gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gttp2d35FR">
    <div
      parentTag="Col"
        class="gttp2d35FR "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#83351B;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggttp2d35FR_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gyRM0lOyy0-1:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gyRM0lOyy0-1:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #83351B !important
      }
    .gp-accordion-item .gp-accordion-item-gyRM0lOyy0-1:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gyRM0lOyy0-1:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:26px;--height-configIconSize:16px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#83351B;--bg:#FFFFFF;--shadow:none;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px">
    <div
      data-index="1"
      class="gyRM0lOyy0 gp-accordion-item gp-overflow-hidden gp-child-item-gyRM0lOyy0"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="guL8_X9JGp"
        id="guL8_X9JGp"
        data-index="1"
        class="gyRM0lOyy0 gp-accordion-item-gyRM0lOyy0-1 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:24px;--pb:24px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:21px;--pb-mobile:21px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:#FFFFFF;--bgc:#FFFFFF;--hvr-c:#83351B;--c:#83351B;--bs:none;--hvr-bs:none;--bw:1px 1px 1px 1px;--hvr-bw:1px 1px 1px 1px;--bc:#83351B;--hvr-bc:#83351B"
      >
       <style class="accordion-style">.gyRM0lOyy0.gp-accordion-item-gyRM0lOyy0-1:hover .gp-collapsible-icon, .gyRM0lOyy0.gp-accordion-item-gyRM0lOyy0-1:hover .gp-icon {
                  color: #83351B
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#83351B;--c:#83351B;width:26px;height:26px"
            data-index="1"
            class="gyRM0lOyy0 gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334322350326109">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216Zm48-88a8,8,0,0,1-8,8H136v32a8,8,0,0,1-16,0V136H88a8,8,0,0,1,0-16h32V88a8,8,0,0,1,16,0v32h32A8,8,0,0,1,176,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggyRM0lOyy0_childItem_1 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="guL8_X9JGp"
        data-index="1"
        data-show="false"
        class="gyRM0lOyy0 gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="guL8_X9JGp"
        data-index="1"
        class="gyRM0lOyy0 gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:16px;--pr:16px;--pl-mobile:14px;--pr-mobile:14px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="gcEMgqncM6 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gxz9XNSJHV">
    <div
      parentTag="Col"
        class="gxz9XNSJHV "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#83351B;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggxz9XNSJHV_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gyRM0lOyy0-2:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gyRM0lOyy0-2:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #83351B !important
      }
    .gp-accordion-item .gp-accordion-item-gyRM0lOyy0-2:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gyRM0lOyy0-2:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:26px;--height-configIconSize:16px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#83351B;--bg:#FFFFFF;--shadow:none;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px">
    <div
      data-index="2"
      class="gyRM0lOyy0 gp-accordion-item gp-overflow-hidden gp-child-item-gyRM0lOyy0"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gYC3wttYfT"
        id="gYC3wttYfT"
        data-index="2"
        class="gyRM0lOyy0 gp-accordion-item-gyRM0lOyy0-2 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:24px;--pb:24px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:21px;--pb-mobile:21px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:#FFFFFF;--bgc:#FFFFFF;--hvr-c:#83351B;--c:#83351B;--bs:none;--hvr-bs:none;--bw:1px 1px 1px 1px;--hvr-bw:1px 1px 1px 1px;--bc:#83351B;--hvr-bc:#83351B"
      >
       <style class="accordion-style">.gyRM0lOyy0.gp-accordion-item-gyRM0lOyy0-2:hover .gp-collapsible-icon, .gyRM0lOyy0.gp-accordion-item-gyRM0lOyy0-2:hover .gp-icon {
                  color: #83351B
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#83351B;--c:#83351B;width:26px;height:26px"
            data-index="2"
            class="gyRM0lOyy0 gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334322350326109">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216Zm48-88a8,8,0,0,1-8,8H136v32a8,8,0,0,1-16,0V136H88a8,8,0,0,1,0-16h32V88a8,8,0,0,1,16,0v32h32A8,8,0,0,1,176,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggyRM0lOyy0_childItem_2 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gYC3wttYfT"
        data-index="2"
        data-show="false"
        class="gyRM0lOyy0 gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gYC3wttYfT"
        data-index="2"
        class="gyRM0lOyy0 gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:16px;--pr:16px;--pl-mobile:14px;--pr-mobile:14px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="gh_305eAPE gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="g1HhoZjytt">
    <div
      parentTag="Col"
        class="g1HhoZjytt "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#83351B;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg1HhoZjytt_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gyRM0lOyy0-3:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gyRM0lOyy0-3:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #83351B !important
      }
    .gp-accordion-item .gp-accordion-item-gyRM0lOyy0-3:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gyRM0lOyy0-3:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:26px;--height-configIconSize:16px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#83351B;--bg:#FFFFFF;--shadow:none;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px">
    <div
      data-index="3"
      class="gyRM0lOyy0 gp-accordion-item gp-overflow-hidden gp-child-item-gyRM0lOyy0"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="g_-BWu_Zil"
        id="g_-BWu_Zil"
        data-index="3"
        class="gyRM0lOyy0 gp-accordion-item-gyRM0lOyy0-3 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:24px;--pb:24px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:21px;--pb-mobile:21px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:#FFFFFF;--bgc:#FFFFFF;--hvr-c:#83351B;--c:#83351B;--bs:none;--hvr-bs:none;--bw:1px 1px 1px 1px;--hvr-bw:1px 1px 1px 1px;--bc:#83351B;--hvr-bc:#83351B"
      >
       <style class="accordion-style">.gyRM0lOyy0.gp-accordion-item-gyRM0lOyy0-3:hover .gp-collapsible-icon, .gyRM0lOyy0.gp-accordion-item-gyRM0lOyy0-3:hover .gp-icon {
                  color: #83351B
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#83351B;--c:#83351B;width:26px;height:26px"
            data-index="3"
            class="gyRM0lOyy0 gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334322350326109">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216Zm48-88a8,8,0,0,1-8,8H136v32a8,8,0,0,1-16,0V136H88a8,8,0,0,1,0-16h32V88a8,8,0,0,1,16,0v32h32A8,8,0,0,1,176,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggyRM0lOyy0_childItem_3 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="g_-BWu_Zil"
        data-index="3"
        data-show="false"
        class="gyRM0lOyy0 gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="g_-BWu_Zil"
        data-index="3"
        class="gyRM0lOyy0 gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:16px;--pr:16px;--pl-mobile:14px;--pr-mobile:14px" >
            <div
      tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gmxtlsuzdg gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gM28fEQFta">
    <div
      parentTag="Col"
        class="gM28fEQFta "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#83351B;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggM28fEQFta_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gyRM0lOyy0-4:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gyRM0lOyy0-4:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #83351B !important
      }
    .gp-accordion-item .gp-accordion-item-gyRM0lOyy0-4:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gyRM0lOyy0-4:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:26px;--height-configIconSize:16px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#83351B;--bg:#FFFFFF;--shadow:none;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px">
    <div
      data-index="4"
      class="gyRM0lOyy0 gp-accordion-item gp-overflow-hidden gp-child-item-gyRM0lOyy0"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="g2latGVJuY"
        id="g2latGVJuY"
        data-index="4"
        class="gyRM0lOyy0 gp-accordion-item-gyRM0lOyy0-4 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:24px;--pb:24px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:21px;--pb-mobile:21px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:#FFFFFF;--bgc:#FFFFFF;--hvr-c:#83351B;--c:#83351B;--bs:none;--hvr-bs:none;--bw:1px 1px 1px 1px;--hvr-bw:1px 1px 1px 1px;--bc:#83351B;--hvr-bc:#83351B"
      >
       <style class="accordion-style">.gyRM0lOyy0.gp-accordion-item-gyRM0lOyy0-4:hover .gp-collapsible-icon, .gyRM0lOyy0.gp-accordion-item-gyRM0lOyy0-4:hover .gp-icon {
                  color: #83351B
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#83351B;--c:#83351B;width:26px;height:26px"
            data-index="4"
            class="gyRM0lOyy0 gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334322350326109">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216Zm48-88a8,8,0,0,1-8,8H136v32a8,8,0,0,1-16,0V136H88a8,8,0,0,1,0-16h32V88a8,8,0,0,1,16,0v32h32A8,8,0,0,1,176,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggyRM0lOyy0_childItem_4 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="g2latGVJuY"
        data-index="4"
        data-show="false"
        class="gyRM0lOyy0 gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="g2latGVJuY"
        data-index="4"
        class="gyRM0lOyy0 gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:16px;--pr:16px;--pl-mobile:14px;--pr-mobile:14px" >
            <div
      tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gxQ8IjB2-S gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gr6YO3lnan">
    <div
      parentTag="Col"
        class="gr6YO3lnan "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#83351B;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggr6YO3lnan_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            
    </gp-accordion>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-accordion.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start;--o-mobile:0"
      class="gYlkvDn-jr gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gyRAfcQD2D"
    role="presentation"
    class="gp-group/image gyRAfcQD2D"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--mb-mobile:21px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-cffa8bfa-858b-4155-937b-1c7cf2690157_768x.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-cffa8bfa-858b-4155-937b-1c7cf2690157_1024x.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-cffa8bfa-858b-4155-937b-1c7cf2690157.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:563/590;--aspect-tablet:563/590;--aspect-mobile:563/590;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-cffa8bfa-858b-4155-937b-1c7cf2690157_768x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-cffa8bfa-858b-4155-937b-1c7cf2690157_1024x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-cffa8bfa-858b-4155-937b-1c7cf2690157.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:563/590;--aspect-tablet:563/590;--aspect-mobile:563/590;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-539411150475887402 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/2a1421-6c/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=539410450933089412&sectionId=539411150475887402)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggMmC1CGNTp_text","label":"ggMmC1CGNTp_text","default":"Frequently asked questions"},{"type":"html","id":"ggyRM0lOyy0_childItem_0","label":"ggyRM0lOyy0_childItem_0","default":"<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod?</p>"},{"type":"html","id":"ggyRM0lOyy0_childItem_1","label":"ggyRM0lOyy0_childItem_1","default":"<p>Lorem ipsum dolor sit amet, consectetur?</p>"},{"type":"html","id":"ggyRM0lOyy0_childItem_2","label":"ggyRM0lOyy0_childItem_2","default":"<p>Lorem ipsum dolor sit amet, consectetur elit sed do eiusmod?</p>"},{"type":"html","id":"ggyRM0lOyy0_childItem_3","label":"ggyRM0lOyy0_childItem_3","default":"<p>Lorem ipsum dolor sit amet consectetur?</p>"},{"type":"html","id":"ggyRM0lOyy0_childItem_4","label":"ggyRM0lOyy0_childItem_4","default":"<p>Lorem ipsum dolor sit amet, consectetur adipiscing sed do eiusmod?</p>"},{"type":"html","id":"ggttp2d35FR_text","label":"ggttp2d35FR_text","default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."},{"type":"html","id":"ggxz9XNSJHV_text","label":"ggxz9XNSJHV_text","default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."},{"type":"html","id":"gg1HhoZjytt_text","label":"gg1HhoZjytt_text","default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."},{"type":"html","id":"ggM28fEQFta_text","label":"ggM28fEQFta_text","default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."},{"type":"html","id":"ggr6YO3lnan_text","label":"ggr6YO3lnan_text","default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
