

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-539461212061041796.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-539461212061041796.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-539461212061041796.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-539461212061041796.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-539461212061041796.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-539461212061041796.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-539461212061041796.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-539461212061041796.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-539461212061041796.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-539461212061041796.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-539461212061041796.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-539461212061041796.gps.gpsil [style*="--hvr-bc:"]:hover{border-color:var(--hvr-bc)}.gps-539461212061041796.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-539461212061041796.gps.gpsil [style*="--hvr-bs:"]:hover{border-style:var(--hvr-bs)}.gps-539461212061041796.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-539461212061041796.gps.gpsil [style*="--hvr-bw:"]:hover{border-width:var(--hvr-bw)}.gps-539461212061041796.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-539461212061041796.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-539461212061041796.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-539461212061041796.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-539461212061041796.gps.gpsil [style*="--fd:"]{flex-direction:var(--fd)}.gps-539461212061041796.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-539461212061041796.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-539461212061041796.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-539461212061041796.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-539461212061041796.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-539461212061041796.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-539461212061041796.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-539461212061041796.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-539461212061041796.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-539461212061041796.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-539461212061041796.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-539461212061041796.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-539461212061041796.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-539461212061041796.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-539461212061041796.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-539461212061041796.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-539461212061041796.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-539461212061041796.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-539461212061041796.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-539461212061041796.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-539461212061041796.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-539461212061041796.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-539461212061041796.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-539461212061041796.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-539461212061041796.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-539461212061041796.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-539461212061041796.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-539461212061041796.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-539461212061041796.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-539461212061041796.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-539461212061041796.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-539461212061041796.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-539461212061041796.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-539461212061041796.gps.gpsil [style*="--gg-mobile:"]{grid-gap:var(--gg-mobile)}.gps-539461212061041796.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-539461212061041796.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-539461212061041796.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-539461212061041796.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-539461212061041796.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-539461212061041796.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-539461212061041796.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-539461212061041796.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-539461212061041796.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-539461212061041796 .-gp-rotate-90,.gps-539461212061041796 .gp-rotate-180,.gps-539461212061041796 .gp-rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-539461212061041796 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-539461212061041796 .gp-relative{position:relative}.gps-539461212061041796 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-539461212061041796 .gp-mb-0{margin-bottom:0}.gps-539461212061041796 .gp-flex{display:flex}.gps-539461212061041796 .gp-inline-flex{display:inline-flex}.gps-539461212061041796 .gp-grid{display:grid}.gps-539461212061041796 .\!gp-hidden{display:none!important}.gps-539461212061041796 .gp-hidden{display:none}.gps-539461212061041796 .gp-min-h-0{min-height:0}.gps-539461212061041796 .gp-w-full{width:100%}.gps-539461212061041796 .gp-max-w-full{max-width:100%}.gps-539461212061041796 .-gp-rotate-90{--tw-rotate:-90deg}.gps-539461212061041796 .-gp-rotate-90,.gps-539461212061041796 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-539461212061041796 .gp-rotate-180{--tw-rotate:180deg}.gps-539461212061041796 .gp-rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-539461212061041796 .gp-cursor-pointer{cursor:pointer}.gps-539461212061041796 .gp-flex-col{flex-direction:column}.gps-539461212061041796 .gp-items-center{align-items:center}.gps-539461212061041796 .gp-justify-center{justify-content:center}.gps-539461212061041796 .gp-gap-y-0{row-gap:0}.gps-539461212061041796 .gp-overflow-hidden{overflow:hidden}.gps-539461212061041796 .gp-overflow-clip{overflow:clip}.gps-539461212061041796 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-539461212061041796 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-539461212061041796 .gp-duration-200{transition-duration:.2s}.gps-539461212061041796 .gp-duration-500{transition-duration:.5s}.gps-539461212061041796 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-539461212061041796 .tablet\:\!gp-hidden{display:none!important}.gps-539461212061041796 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-539461212061041796 .mobile\:\!gp-hidden{display:none!important}.gps-539461212061041796 .mobile\:gp-hidden{display:none}}.gps-539461212061041796 .\[\&\>svg\]\:\!gp-h-\[var\(--height-iconCollapseSize\)\]>svg{height:var(--height-iconCollapseSize)!important}.gps-539461212061041796 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-539461212061041796 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-539461212061041796 .\[\&_p\]\:gp-inline p{display:inline}.gps-539461212061041796 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-539461212061041796 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gOIPmnACeW" data-id="gOIPmnACeW"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-3xl);--pr:15px;--pt-mobile:35px;--pl-mobile:15px;--pb-mobile:var(--g-s-3xl);--pr-mobile:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#160A0A;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gOIPmnACeW gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gyBMtCqrfR gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g4sCMZjHCp" data-id="g4sCMZjHCp"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g4sCMZjHCp gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gM4D9feUxq gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gm0DZxXiiu">
    <div
      parentTag="Col"
        class="gm0DZxXiiu "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggm0DZxXiiu_text }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gr0M3_7dsM">
    <div
      parentTag="Col"
        class="gr0M3_7dsM "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#B4B4B4;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggr0M3_7dsM_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gcyGgpxTUi" data-id="gcyGgpxTUi"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-l);--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gcyGgpxTUi gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gKTc92XELm gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--pl:var(--g-s-xl);--pr:var(--g-s-xl);--mb-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-xl);--pr-mobile:var(--g-s-xl)" class="gRRUW39LPB ">
      
    <gp-accordion
      data-id="gRRUW39LPB"
     uid="gRRUW39LPB"
      class="gp-flex gp-w-full gp-flex-col "
      style="--gg:24px;--gg-mobile:21px;border-radius:inherit;overflow:hidden"
      gp-data='{"setting":{"iconSvg":"plus","isIconPlus":true,"activeKey":1,"expanded":false,"expandItem":false,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px","height":"16px","width":"16px"}},"layoutHeader":"text-only","expandedMode":"single","configIconSize":16,"parentUid":"gRRUW39LPB","childListNumber":[],"chidlrenUid":["gziwMyMoZu","gPFMSRhWXC","g-tpJr5npd","gU4AeFDsPE","gF119th-Wp"]},"styles":{"color":{"active":"#FBFBFB","hover":"#B4B4B4","normal":"#B4B4B4"},"headerBorder":{"active":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"},"hover":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"},"normal":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"}},"fullWidth":{"desktop":true},"width":{"desktop":"1170px"},"itemHeaderSpacing":{"custom":{"desktop":{"horizontal":"0px","vertical":"16px"}}},"textColor":{"active":"#FFFFFF","hover":"#FFFFFF","normal":"#FFFFFF"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"24px","padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}},"mobile":{"gap":"21px","padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}},"tablet":{"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}}},"headerContentPadding":{"desktop":{"padding":{"bottom":"16px","left":"0px","right":"0px","top":"16px","type":"custom"}},"mobile":{"padding":{"bottom":"16px","left":"0px","right":"0px","top":"16px","type":"custom"}},"tablet":{"padding":{"bottom":"16px","left":"0px","right":"0px","top":"16px","type":"custom"}}},"widthHeightSize":{"desktop":{"width":"100%"},"mobile":{"width":"100%"},"tablet":{"width":"100%"}}},"uid":"gRRUW39LPB"}'
    >
    <div class="gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
    <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gRRUW39LPB-0:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gRRUW39LPB-0:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #B4B4B4 !important
      }
    .gp-accordion-item .gp-accordion-item-gRRUW39LPB-0:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gRRUW39LPB-0:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
    <div
      data-index="0"
      class="gRRUW39LPB gp-accordion-item gp-overflow-hidden gp-child-item-gRRUW39LPB"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gziwMyMoZu"
        id="gziwMyMoZu"
        data-index="0"
        class="gRRUW39LPB gp-accordion-item-gRRUW39LPB-0 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:0px;--pr:0px;--pt:16px;--pb:16px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:16px;--pb-mobile:16px;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-c:#FFFFFF;--c:#FFFFFF;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gRRUW39LPB.gp-accordion-item-gRRUW39LPB-0:hover .gp-collapsible-icon, .gRRUW39LPB.gp-accordion-item-gRRUW39LPB-0:hover .gp-icon {
                  color: #B4B4B4
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#B4B4B4;--c:#B4B4B4;width:16px;height:16px"
            data-index="0"
            class="gRRUW39LPB gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggRRUW39LPB_childItem_0 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gziwMyMoZu"
        data-index="0"
        data-show="false"
        class="gRRUW39LPB gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gziwMyMoZu"
        data-index="0"
        class="gRRUW39LPB gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="gmF-59r-Up gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gw4wig0o70">
    <div
      parentTag="Col"
        class="gw4wig0o70 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--pr:80px;--mb-mobile:var(--g-s-l);--pr-mobile:40px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgba(255, 255, 255, 0.7);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggw4wig0o70_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gRRUW39LPB-1:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gRRUW39LPB-1:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #B4B4B4 !important
      }
    .gp-accordion-item .gp-accordion-item-gRRUW39LPB-1:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gRRUW39LPB-1:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
    <div
      data-index="1"
      class="gRRUW39LPB gp-accordion-item gp-overflow-hidden gp-child-item-gRRUW39LPB"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gPFMSRhWXC"
        id="gPFMSRhWXC"
        data-index="1"
        class="gRRUW39LPB gp-accordion-item-gRRUW39LPB-1 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:0px;--pr:0px;--pt:16px;--pb:16px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:16px;--pb-mobile:16px;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-c:#FFFFFF;--c:#FFFFFF;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gRRUW39LPB.gp-accordion-item-gRRUW39LPB-1:hover .gp-collapsible-icon, .gRRUW39LPB.gp-accordion-item-gRRUW39LPB-1:hover .gp-icon {
                  color: #B4B4B4
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#B4B4B4;--c:#B4B4B4;width:16px;height:16px"
            data-index="1"
            class="gRRUW39LPB gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggRRUW39LPB_childItem_1 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gPFMSRhWXC"
        data-index="1"
        data-show="false"
        class="gRRUW39LPB gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gPFMSRhWXC"
        data-index="1"
        class="gRRUW39LPB gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="gnBePkx9H8 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gOhD8-a1Tp">
    <div
      parentTag="Col"
        class="gOhD8-a1Tp "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--pr:80px;--mb-mobile:var(--g-s-l);--pr-mobile:40px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgba(255, 255, 255, 0.7);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggOhD8-a1Tp_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gRRUW39LPB-2:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gRRUW39LPB-2:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #B4B4B4 !important
      }
    .gp-accordion-item .gp-accordion-item-gRRUW39LPB-2:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gRRUW39LPB-2:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
    <div
      data-index="2"
      class="gRRUW39LPB gp-accordion-item gp-overflow-hidden gp-child-item-gRRUW39LPB"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="g-tpJr5npd"
        id="g-tpJr5npd"
        data-index="2"
        class="gRRUW39LPB gp-accordion-item-gRRUW39LPB-2 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:0px;--pr:0px;--pt:16px;--pb:16px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:16px;--pb-mobile:16px;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-c:#FFFFFF;--c:#FFFFFF;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gRRUW39LPB.gp-accordion-item-gRRUW39LPB-2:hover .gp-collapsible-icon, .gRRUW39LPB.gp-accordion-item-gRRUW39LPB-2:hover .gp-icon {
                  color: #B4B4B4
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#B4B4B4;--c:#B4B4B4;width:16px;height:16px"
            data-index="2"
            class="gRRUW39LPB gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggRRUW39LPB_childItem_2 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="g-tpJr5npd"
        data-index="2"
        data-show="false"
        class="gRRUW39LPB gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="g-tpJr5npd"
        data-index="2"
        class="gRRUW39LPB gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="gWFQrjVAOq gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="g6TjaJ2KMZ">
    <div
      parentTag="Col"
        class="g6TjaJ2KMZ "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--pr:80px;--mb-mobile:var(--g-s-l);--pr-mobile:40px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgba(255, 255, 255, 0.7);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg6TjaJ2KMZ_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gRRUW39LPB-3:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gRRUW39LPB-3:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #B4B4B4 !important
      }
    .gp-accordion-item .gp-accordion-item-gRRUW39LPB-3:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gRRUW39LPB-3:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
    <div
      data-index="3"
      class="gRRUW39LPB gp-accordion-item gp-overflow-hidden gp-child-item-gRRUW39LPB"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gU4AeFDsPE"
        id="gU4AeFDsPE"
        data-index="3"
        class="gRRUW39LPB gp-accordion-item-gRRUW39LPB-3 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:0px;--pr:0px;--pt:16px;--pb:16px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:16px;--pb-mobile:16px;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-c:#FFFFFF;--c:#FFFFFF;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gRRUW39LPB.gp-accordion-item-gRRUW39LPB-3:hover .gp-collapsible-icon, .gRRUW39LPB.gp-accordion-item-gRRUW39LPB-3:hover .gp-icon {
                  color: #B4B4B4
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#B4B4B4;--c:#B4B4B4;width:16px;height:16px"
            data-index="3"
            class="gRRUW39LPB gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggRRUW39LPB_childItem_3 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gU4AeFDsPE"
        data-index="3"
        data-show="false"
        class="gRRUW39LPB gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gU4AeFDsPE"
        data-index="3"
        class="gRRUW39LPB gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gFcCCN5IRY gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gPbDXdU3Z7">
    <div
      parentTag="Col"
        class="gPbDXdU3Z7 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--pr:80px;--mb-mobile:var(--g-s-l);--pr-mobile:40px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgba(255, 255, 255, 0.7);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggPbDXdU3Z7_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gRRUW39LPB-4:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gRRUW39LPB-4:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #B4B4B4 !important
      }
    .gp-accordion-item .gp-accordion-item-gRRUW39LPB-4:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gRRUW39LPB-4:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
    <div
      data-index="4"
      class="gRRUW39LPB gp-accordion-item gp-overflow-hidden gp-child-item-gRRUW39LPB"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gF119th-Wp"
        id="gF119th-Wp"
        data-index="4"
        class="gRRUW39LPB gp-accordion-item-gRRUW39LPB-4 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:0px;--pr:0px;--pt:16px;--pb:16px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:16px;--pb-mobile:16px;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-c:#FFFFFF;--c:#FFFFFF;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gRRUW39LPB.gp-accordion-item-gRRUW39LPB-4:hover .gp-collapsible-icon, .gRRUW39LPB.gp-accordion-item-gRRUW39LPB-4:hover .gp-icon {
                  color: #B4B4B4
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#B4B4B4;--c:#B4B4B4;width:16px;height:16px"
            data-index="4"
            class="gRRUW39LPB gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggRRUW39LPB_childItem_4 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gF119th-Wp"
        data-index="4"
        data-show="false"
        class="gRRUW39LPB gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gF119th-Wp"
        data-index="4"
        class="gRRUW39LPB gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gCMfNbyag5 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gG5rVIm3d7">
    <div
      parentTag="Col"
        class="gG5rVIm3d7 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--pr:80px;--mb-mobile:var(--g-s-l);--pr-mobile:40px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgba(255, 255, 255, 0.7);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggG5rVIm3d7_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            
    </gp-accordion>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-accordion.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gvG2mUk0fH gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--pl:var(--g-s-xl);--pr:var(--g-s-xl)" class="gdBkbp9VnM ">
      
    <gp-accordion
      data-id="gdBkbp9VnM"
     uid="gdBkbp9VnM"
      class="gp-flex gp-w-full gp-flex-col "
      style="--gg:24px;--gg-mobile:21px;border-radius:inherit;overflow:hidden"
      gp-data='{"setting":{"iconSvg":"plus","isIconPlus":true,"activeKey":1,"expanded":false,"expandItem":false,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px","height":"16px","width":"16px"}},"layoutHeader":"text-only","expandedMode":"single","configIconSize":16,"parentUid":"gdBkbp9VnM","childListNumber":[],"chidlrenUid":["gBibaq1ZAu","g-oE2O0xw6","gZW8AlJm5W","gUAsaJ4hgk","grrVmOgm4j"]},"styles":{"color":{"active":"#FBFBFB","hover":"#B4B4B4","normal":"#B4B4B4"},"headerBorder":{"active":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"},"hover":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"},"normal":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"}},"fullWidth":{"desktop":true},"width":{"desktop":"1170px"},"itemHeaderSpacing":{"custom":{"desktop":{"horizontal":"0px","vertical":"16px"}}},"textColor":{"active":"#FFFFFF","hover":"#FFFFFF","normal":"#FFFFFF"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"24px","padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}},"mobile":{"gap":"21px","padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}},"tablet":{"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}}},"headerContentPadding":{"desktop":{"padding":{"bottom":"16px","left":"0px","right":"0px","top":"16px","type":"custom"}},"mobile":{"padding":{"bottom":"16px","left":"0px","right":"0px","top":"16px","type":"custom"}},"tablet":{"padding":{"bottom":"16px","left":"0px","right":"0px","top":"16px","type":"custom"}}},"widthHeightSize":{"desktop":{"width":"100%"},"mobile":{"width":"100%"},"tablet":{"width":"100%"}}},"uid":"gdBkbp9VnM"}'
    >
    <div class="gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
    <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gdBkbp9VnM-0:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gdBkbp9VnM-0:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #B4B4B4 !important
      }
    .gp-accordion-item .gp-accordion-item-gdBkbp9VnM-0:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gdBkbp9VnM-0:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
    <div
      data-index="0"
      class="gdBkbp9VnM gp-accordion-item gp-overflow-hidden gp-child-item-gdBkbp9VnM"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gBibaq1ZAu"
        id="gBibaq1ZAu"
        data-index="0"
        class="gdBkbp9VnM gp-accordion-item-gdBkbp9VnM-0 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:0px;--pr:0px;--pt:16px;--pb:16px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:16px;--pb-mobile:16px;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-c:#FFFFFF;--c:#FFFFFF;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gdBkbp9VnM.gp-accordion-item-gdBkbp9VnM-0:hover .gp-collapsible-icon, .gdBkbp9VnM.gp-accordion-item-gdBkbp9VnM-0:hover .gp-icon {
                  color: #B4B4B4
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#B4B4B4;--c:#B4B4B4;width:16px;height:16px"
            data-index="0"
            class="gdBkbp9VnM gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggdBkbp9VnM_childItem_0 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gBibaq1ZAu"
        data-index="0"
        data-show="false"
        class="gdBkbp9VnM gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gBibaq1ZAu"
        data-index="0"
        class="gdBkbp9VnM gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="gB4c4DYs2E gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gzPjTyc4fx">
    <div
      parentTag="Col"
        class="gzPjTyc4fx "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--pr:80px;--mb-mobile:var(--g-s-l);--pr-mobile:40px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgba(255, 255, 255, 0.7);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggzPjTyc4fx_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gdBkbp9VnM-1:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gdBkbp9VnM-1:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #B4B4B4 !important
      }
    .gp-accordion-item .gp-accordion-item-gdBkbp9VnM-1:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gdBkbp9VnM-1:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
    <div
      data-index="1"
      class="gdBkbp9VnM gp-accordion-item gp-overflow-hidden gp-child-item-gdBkbp9VnM"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="g-oE2O0xw6"
        id="g-oE2O0xw6"
        data-index="1"
        class="gdBkbp9VnM gp-accordion-item-gdBkbp9VnM-1 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:0px;--pr:0px;--pt:16px;--pb:16px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:16px;--pb-mobile:16px;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-c:#FFFFFF;--c:#FFFFFF;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gdBkbp9VnM.gp-accordion-item-gdBkbp9VnM-1:hover .gp-collapsible-icon, .gdBkbp9VnM.gp-accordion-item-gdBkbp9VnM-1:hover .gp-icon {
                  color: #B4B4B4
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#B4B4B4;--c:#B4B4B4;width:16px;height:16px"
            data-index="1"
            class="gdBkbp9VnM gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggdBkbp9VnM_childItem_1 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="g-oE2O0xw6"
        data-index="1"
        data-show="false"
        class="gdBkbp9VnM gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="g-oE2O0xw6"
        data-index="1"
        class="gdBkbp9VnM gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="gWz-qijeWW gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gOt-ZOowjR">
    <div
      parentTag="Col"
        class="gOt-ZOowjR "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--pr:80px;--mb-mobile:var(--g-s-l);--pr-mobile:40px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgba(255, 255, 255, 0.7);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggOt-ZOowjR_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gdBkbp9VnM-2:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gdBkbp9VnM-2:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #B4B4B4 !important
      }
    .gp-accordion-item .gp-accordion-item-gdBkbp9VnM-2:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gdBkbp9VnM-2:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
    <div
      data-index="2"
      class="gdBkbp9VnM gp-accordion-item gp-overflow-hidden gp-child-item-gdBkbp9VnM"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gZW8AlJm5W"
        id="gZW8AlJm5W"
        data-index="2"
        class="gdBkbp9VnM gp-accordion-item-gdBkbp9VnM-2 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:0px;--pr:0px;--pt:16px;--pb:16px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:16px;--pb-mobile:16px;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-c:#FFFFFF;--c:#FFFFFF;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gdBkbp9VnM.gp-accordion-item-gdBkbp9VnM-2:hover .gp-collapsible-icon, .gdBkbp9VnM.gp-accordion-item-gdBkbp9VnM-2:hover .gp-icon {
                  color: #B4B4B4
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#B4B4B4;--c:#B4B4B4;width:16px;height:16px"
            data-index="2"
            class="gdBkbp9VnM gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggdBkbp9VnM_childItem_2 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gZW8AlJm5W"
        data-index="2"
        data-show="false"
        class="gdBkbp9VnM gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gZW8AlJm5W"
        data-index="2"
        class="gdBkbp9VnM gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="gO4pGzalAR gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="g4K7k1I4Tc">
    <div
      parentTag="Col"
        class="g4K7k1I4Tc "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--pr:80px;--mb-mobile:var(--g-s-l);--pr-mobile:40px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgba(255, 255, 255, 0.7);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg4K7k1I4Tc_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gdBkbp9VnM-3:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gdBkbp9VnM-3:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #B4B4B4 !important
      }
    .gp-accordion-item .gp-accordion-item-gdBkbp9VnM-3:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gdBkbp9VnM-3:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
    <div
      data-index="3"
      class="gdBkbp9VnM gp-accordion-item gp-overflow-hidden gp-child-item-gdBkbp9VnM"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gUAsaJ4hgk"
        id="gUAsaJ4hgk"
        data-index="3"
        class="gdBkbp9VnM gp-accordion-item-gdBkbp9VnM-3 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:0px;--pr:0px;--pt:16px;--pb:16px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:16px;--pb-mobile:16px;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-c:#FFFFFF;--c:#FFFFFF;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gdBkbp9VnM.gp-accordion-item-gdBkbp9VnM-3:hover .gp-collapsible-icon, .gdBkbp9VnM.gp-accordion-item-gdBkbp9VnM-3:hover .gp-icon {
                  color: #B4B4B4
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#B4B4B4;--c:#B4B4B4;width:16px;height:16px"
            data-index="3"
            class="gdBkbp9VnM gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggdBkbp9VnM_childItem_3 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gUAsaJ4hgk"
        data-index="3"
        data-show="false"
        class="gdBkbp9VnM gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gUAsaJ4hgk"
        data-index="3"
        class="gdBkbp9VnM gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gkypJL0x_m gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gBbfIeZnYJ">
    <div
      parentTag="Col"
        class="gBbfIeZnYJ "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--pr:80px;--mb-mobile:var(--g-s-l);--pr-mobile:40px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgba(255, 255, 255, 0.7);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggBbfIeZnYJ_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gdBkbp9VnM-4:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gdBkbp9VnM-4:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #B4B4B4 !important
      }
    .gp-accordion-item .gp-accordion-item-gdBkbp9VnM-4:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gdBkbp9VnM-4:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
    <div
      data-index="4"
      class="gdBkbp9VnM gp-accordion-item gp-overflow-hidden gp-child-item-gdBkbp9VnM"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="grrVmOgm4j"
        id="grrVmOgm4j"
        data-index="4"
        class="gdBkbp9VnM gp-accordion-item-gdBkbp9VnM-4 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:0px;--pr:0px;--pt:16px;--pb:16px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:16px;--pb-mobile:16px;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-c:#FFFFFF;--c:#FFFFFF;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gdBkbp9VnM.gp-accordion-item-gdBkbp9VnM-4:hover .gp-collapsible-icon, .gdBkbp9VnM.gp-accordion-item-gdBkbp9VnM-4:hover .gp-icon {
                  color: #B4B4B4
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#B4B4B4;--c:#B4B4B4;width:16px;height:16px"
            data-index="4"
            class="gdBkbp9VnM gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggdBkbp9VnM_childItem_4 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="grrVmOgm4j"
        data-index="4"
        data-show="false"
        class="gdBkbp9VnM gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="grrVmOgm4j"
        data-index="4"
        class="gdBkbp9VnM gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gKAqOKJ8Xm gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gTz3tx0-dw">
    <div
      parentTag="Col"
        class="gTz3tx0-dw "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--pr:80px;--mb-mobile:var(--g-s-l);--pr-mobile:40px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgba(255, 255, 255, 0.7);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggTz3tx0-dw_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            
    </gp-accordion>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-accordion.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 11",
    "tag": "section",
    "class": "gps-539461212061041796 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/2a1421-6c/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=539461193371223172&sectionId=539461212061041796)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggm0DZxXiiu_text","label":"ggm0DZxXiiu_text","default":"<p>Frequently asked questions</p>"},{"type":"html","id":"ggr0M3_7dsM_text","label":"ggr0M3_7dsM_text","default":"<p>Have questions? Were here to help</p>"},{"type":"html","id":"ggRRUW39LPB_childItem_0","label":"ggRRUW39LPB_childItem_0","default":"<p>Is there a free trial available?</p>"},{"type":"html","id":"ggRRUW39LPB_childItem_1","label":"ggRRUW39LPB_childItem_1","default":"<p>Can I change my plan later?</p>"},{"type":"html","id":"ggRRUW39LPB_childItem_2","label":"ggRRUW39LPB_childItem_2","default":"<p>What is your cancellation policy?</p>"},{"type":"html","id":"ggRRUW39LPB_childItem_3","label":"ggRRUW39LPB_childItem_3","default":"<p>Can other infor be added to an invoice?</p>"},{"type":"html","id":"ggRRUW39LPB_childItem_4","label":"ggRRUW39LPB_childItem_4","default":"<p>How does billing work?</p>"},{"type":"html","id":"ggw4wig0o70_text","label":"ggw4wig0o70_text","default":"<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massanah. Cum sociis Theme natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>"},{"type":"html","id":"ggOhD8-a1Tp_text","label":"ggOhD8-a1Tp_text","default":"<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massanah. Cum sociis Theme natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>"},{"type":"html","id":"gg6TjaJ2KMZ_text","label":"gg6TjaJ2KMZ_text","default":"<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massanah. Cum sociis Theme natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>"},{"type":"html","id":"ggPbDXdU3Z7_text","label":"ggPbDXdU3Z7_text","default":"<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massanah. Cum sociis Theme natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>"},{"type":"html","id":"ggG5rVIm3d7_text","label":"ggG5rVIm3d7_text","default":"<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massanah. Cum sociis Theme natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>"},{"type":"html","id":"ggdBkbp9VnM_childItem_0","label":"ggdBkbp9VnM_childItem_0","default":"<p>How do I change my account email?</p>"},{"type":"html","id":"ggdBkbp9VnM_childItem_1","label":"ggdBkbp9VnM_childItem_1","default":"<p>What are your opening hours</p>"},{"type":"html","id":"ggdBkbp9VnM_childItem_2","label":"ggdBkbp9VnM_childItem_2","default":"<p>Do I need a referral?</p>"},{"type":"html","id":"ggdBkbp9VnM_childItem_3","label":"ggdBkbp9VnM_childItem_3","default":"<p>What can I expect at my first consultation?</p>"},{"type":"html","id":"ggdBkbp9VnM_childItem_4","label":"ggdBkbp9VnM_childItem_4","default":"<p>Whart are the parking and public transport option?</p>"},{"type":"html","id":"ggzPjTyc4fx_text","label":"ggzPjTyc4fx_text","default":"<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massanah. Cum sociis Theme natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>"},{"type":"html","id":"ggOt-ZOowjR_text","label":"ggOt-ZOowjR_text","default":"<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massanah. Cum sociis Theme natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>"},{"type":"html","id":"gg4K7k1I4Tc_text","label":"gg4K7k1I4Tc_text","default":"<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massanah. Cum sociis Theme natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>"},{"type":"html","id":"ggBbfIeZnYJ_text","label":"ggBbfIeZnYJ_text","default":"<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massanah. Cum sociis Theme natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>"},{"type":"html","id":"ggTz3tx0-dw_text","label":"ggTz3tx0-dw_text","default":"<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massanah. Cum sociis Theme natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
