

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-538966020719641386.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-538966020719641386.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-538966020719641386.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-538966020719641386.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-538966020719641386.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-538966020719641386.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-538966020719641386.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-538966020719641386.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-538966020719641386.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-538966020719641386.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-538966020719641386.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-538966020719641386.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-538966020719641386.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-538966020719641386.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-538966020719641386.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-538966020719641386.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-538966020719641386.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-538966020719641386.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-538966020719641386.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-538966020719641386.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-538966020719641386.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-538966020719641386.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-538966020719641386.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-538966020719641386.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-538966020719641386.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-538966020719641386.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-538966020719641386.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-538966020719641386.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-538966020719641386.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-538966020719641386.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-538966020719641386.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-538966020719641386.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-538966020719641386.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-538966020719641386.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-538966020719641386.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-538966020719641386.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-538966020719641386.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-538966020719641386.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-538966020719641386.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-538966020719641386.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-538966020719641386.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-538966020719641386.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-538966020719641386.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-538966020719641386.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-538966020719641386.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-538966020719641386.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-538966020719641386.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-538966020719641386.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-538966020719641386.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-538966020719641386.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-538966020719641386.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-538966020719641386.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-538966020719641386.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-538966020719641386.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-538966020719641386.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-538966020719641386.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-538966020719641386.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-538966020719641386.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-538966020719641386.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-538966020719641386.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-538966020719641386.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-538966020719641386.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-538966020719641386.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-538966020719641386 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-538966020719641386 .gp-relative{position:relative}.gps-538966020719641386 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-538966020719641386 .gp-mb-0{margin-bottom:0}.gps-538966020719641386 .\!gp-inline{display:inline!important}.gps-538966020719641386 .gp-flex{display:flex}.gps-538966020719641386 .gp-grid{display:grid}.gps-538966020719641386 .\!gp-hidden{display:none!important}.gps-538966020719641386 .gp-hidden{display:none}.gps-538966020719641386 .gp-h-full{height:100%}.gps-538966020719641386 .gp-w-full{width:100%}.gps-538966020719641386 .gp-max-w-full{max-width:100%}.gps-538966020719641386 .gp-flex-col{flex-direction:column}.gps-538966020719641386 .gp-gap-y-0{row-gap:0}.gps-538966020719641386 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-538966020719641386 .gp-duration-200{transition-duration:.2s}.gps-538966020719641386 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-538966020719641386 .tablet\:\!gp-hidden{display:none!important}.gps-538966020719641386 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-538966020719641386 .mobile\:\!gp-hidden{display:none!important}.gps-538966020719641386 .mobile\:gp-hidden{display:none}}.gps-538966020719641386 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-538966020719641386 .\[\&_p\]\:gp-inline p{display:inline}.gps-538966020719641386 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-538966020719641386 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gBS1qzuSbR" data-id="gBS1qzuSbR"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gBS1qzuSbR gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gFdC4-T6mg gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g1LSxX01Ju" data-id="g1LSxX01Ju"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g1LSxX01Ju gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gqXxFDphFd gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gn_oxBhmbg">
    <div
      parentTag="Col"
        class="gn_oxBhmbg "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:24px;--size-tablet:24px;--size-mobile:21px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggn_oxBhmbg_text }}</h2>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      parentTag="Col" id="gflf13feGM" data-id="gflf13feGM"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-2xl);--cg:48px;--cg-tablet:32px;--cg-mobile:24px;--pc:center;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gflf13feGM gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g3mGxKIGyB gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gCaMdyiBCu">
    <div
      parentTag="Col"
        class="gCaMdyiBCu "
        style="--ta:center;--ta-mobile:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:var(--g-s-3xl)"
      >
      <div class="gp-flex" style="--jc:center;--jc-mobile:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggCaMdyiBCu_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gfDgJWSpVJ gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gyiO-z20No">
    <div
      parentTag="Col"
        class="gyiO-z20No "
        style="--ta:center;--ta-mobile:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:var(--g-s-3xl)"
      >
      <div class="gp-flex" style="--jc:center;--jc-mobile:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggyiO-z20No_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gl-crYCRQw gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="g-r-8R-c_M">
    <div
      parentTag="Col"
        class="g-r-8R-c_M "
        style="--ta:center;--ta-mobile:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:var(--g-s-3xl)"
      >
      <div class="gp-flex" style="--jc:center;--jc-mobile:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg-r-8R-c_M_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gCRw75QArh gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gDa7WeEh0f">
    <div
      parentTag="Col"
        class="gDa7WeEh0f "
        style="--ta:center;--ta-mobile:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:var(--g-s-3xl)"
      >
      <div class="gp-flex" style="--jc:center;--jc-mobile:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggDa7WeEh0f_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g88Fj7I2vc gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gftzhx6-wl">
    <div
      parentTag="Col"
        class="gftzhx6-wl "
        style="--ta:center;--ta-mobile:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:center;--jc-mobile:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggftzhx6-wl_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g6T26QaPlc gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gXp1EwIvZk">
    <div
      parentTag="Col"
        class="gXp1EwIvZk "
        style="--ta:center;--ta-mobile:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:center;--jc-mobile:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggXp1EwIvZk_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gxafNuVbWE" data-id="gxafNuVbWE"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-3xl);--cg:32px;--pc:center;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gxafNuVbWE gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gpnNtxbtNs gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="ghxp4L7euD"
    role="presentation"
    class="gp-group/image ghxp4L7euD"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-b640bb6d-9120-4fd9-bed7-d824ac5dca47_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-b640bb6d-9120-4fd9-bed7-d824ac5dca47_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-b640bb6d-9120-4fd9-bed7-d824ac5dca47.png" | file_url }}"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:60/60;--aspect-tablet:60/60;--aspect-mobile:60/60;--objf:fill;--w:20px;--w-tablet:20px;--w-mobile:20px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-b640bb6d-9120-4fd9-bed7-d824ac5dca47_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-b640bb6d-9120-4fd9-bed7-d824ac5dca47_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-b640bb6d-9120-4fd9-bed7-d824ac5dca47.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:60/60;--aspect-tablet:60/60;--aspect-mobile:60/60;--objf:fill;--w:20px;--w-tablet:20px;--w-mobile:20px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gwnjD_uFMa gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gU5zPoQ-9F"
    role="presentation"
    class="gp-group/image gU5zPoQ-9F"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-07ce0f08-ba39-4799-b536-e6f06f186446_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-07ce0f08-ba39-4799-b536-e6f06f186446_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-07ce0f08-ba39-4799-b536-e6f06f186446.png" | file_url }}"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:60/60;--aspect-tablet:60/60;--aspect-mobile:60/60;--objf:fill;--w:20px;--w-tablet:20px;--w-mobile:20px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-07ce0f08-ba39-4799-b536-e6f06f186446_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-07ce0f08-ba39-4799-b536-e6f06f186446_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-07ce0f08-ba39-4799-b536-e6f06f186446.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:60/60;--aspect-tablet:60/60;--aspect-mobile:60/60;--objf:fill;--w:20px;--w-tablet:20px;--w-mobile:20px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g3vOVqB2hg gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g4aVAzDm74"
    role="presentation"
    class="gp-group/image g4aVAzDm74"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-129cff5b-5036-4e2d-9f55-9753b6066078_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-129cff5b-5036-4e2d-9f55-9753b6066078_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-129cff5b-5036-4e2d-9f55-9753b6066078.png" | file_url }}"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:60/60;--aspect-tablet:60/60;--aspect-mobile:60/60;--objf:fill;--w:20px;--w-tablet:20px;--w-mobile:20px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-129cff5b-5036-4e2d-9f55-9753b6066078_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-129cff5b-5036-4e2d-9f55-9753b6066078_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-129cff5b-5036-4e2d-9f55-9753b6066078.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:60/60;--aspect-tablet:60/60;--aspect-mobile:60/60;--objf:fill;--w:20px;--w-tablet:20px;--w-mobile:20px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gr7Andcfvg gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gbKwVl6-Pq"
    role="presentation"
    class="gp-group/image gbKwVl6-Pq"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-3b4298dc-be60-4cdc-9e08-f4851f6a0ab7_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-3b4298dc-be60-4cdc-9e08-f4851f6a0ab7_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-3b4298dc-be60-4cdc-9e08-f4851f6a0ab7.png" | file_url }}"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:60/60;--aspect-tablet:60/60;--aspect-mobile:60/60;--objf:fill;--w:20px;--w-tablet:20px;--w-mobile:20px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-3b4298dc-be60-4cdc-9e08-f4851f6a0ab7_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-3b4298dc-be60-4cdc-9e08-f4851f6a0ab7_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-3b4298dc-be60-4cdc-9e08-f4851f6a0ab7.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:60/60;--aspect-tablet:60/60;--aspect-mobile:60/60;--objf:fill;--w:20px;--w-tablet:20px;--w-mobile:20px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
  <gp-text data-id="gcodw8DFlY">
    <div
      parentTag="Col"
        class="gcodw8DFlY "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggcodw8DFlY_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-538966020719641386 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/2a1421-6c/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=538965637511250730&sectionId=538966020719641386)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggn_oxBhmbg_text","label":"ggn_oxBhmbg_text","default":"<p>GemThemes</p>"},{"type":"html","id":"ggCaMdyiBCu_text","label":"ggCaMdyiBCu_text","default":"<p><a href=\"#\">About</a></p>"},{"type":"html","id":"ggyiO-z20No_text","label":"ggyiO-z20No_text","default":"<p><a href=\"#\">Shipping Policy</a></p>"},{"type":"html","id":"gg-r-8R-c_M_text","label":"gg-r-8R-c_M_text","default":"<p><a href=\"#\">Refunds</a></p>"},{"type":"html","id":"ggDa7WeEh0f_text","label":"ggDa7WeEh0f_text","default":"<p><a href=\"#\">Terms &amp; Conditions</a></p>"},{"type":"html","id":"ggftzhx6-wl_text","label":"ggftzhx6-wl_text","default":"<p><a href=\"#\">Blog</a></p>"},{"type":"html","id":"ggXp1EwIvZk_text","label":"ggXp1EwIvZk_text","default":"<p><a href=\"#\">Stores</a></p>"},{"type":"html","id":"ggcodw8DFlY_text","label":"ggcodw8DFlY_text","default":"<p>© 2022 GemThemes</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
