

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-538971006639801340.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-538971006639801340.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-538971006639801340.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-538971006639801340.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-538971006639801340.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-538971006639801340.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-538971006639801340.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-538971006639801340.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-538971006639801340.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-538971006639801340.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-538971006639801340.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-538971006639801340.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-538971006639801340.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-538971006639801340.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-538971006639801340.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-538971006639801340.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-538971006639801340.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-538971006639801340.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-538971006639801340.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-538971006639801340.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-538971006639801340.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-538971006639801340.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-538971006639801340.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-538971006639801340.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-538971006639801340.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-538971006639801340.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-538971006639801340.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-538971006639801340.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-538971006639801340.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-538971006639801340.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-538971006639801340.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-538971006639801340.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-538971006639801340.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1023px){.gps-538971006639801340.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-538971006639801340.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-538971006639801340.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-538971006639801340.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-538971006639801340.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-538971006639801340.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-538971006639801340.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-538971006639801340.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-538971006639801340.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-538971006639801340.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-538971006639801340.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-538971006639801340.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-538971006639801340.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-538971006639801340.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-538971006639801340.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-538971006639801340.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-538971006639801340 .gp-relative{position:relative}.gps-538971006639801340 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-538971006639801340 .gp-mb-0{margin-bottom:0}.gps-538971006639801340 .\!gp-inline{display:inline!important}.gps-538971006639801340 .gp-flex{display:flex}.gps-538971006639801340 .gp-grid{display:grid}.gps-538971006639801340 .\!gp-hidden{display:none!important}.gps-538971006639801340 .gp-hidden{display:none}.gps-538971006639801340 .gp-h-full{height:100%}.gps-538971006639801340 .gp-w-full{width:100%}.gps-538971006639801340 .gp-max-w-full{max-width:100%}.gps-538971006639801340 .gp-flex-col{flex-direction:column}.gps-538971006639801340 .gp-gap-y-0{row-gap:0}.gps-538971006639801340 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-538971006639801340 .gp-duration-200{transition-duration:.2s}.gps-538971006639801340 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-538971006639801340 .tablet\:\!gp-hidden{display:none!important}.gps-538971006639801340 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-538971006639801340 .mobile\:\!gp-hidden{display:none!important}.gps-538971006639801340 .mobile\:gp-hidden{display:none}}.gps-538971006639801340 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gJGHVE1q4c" data-id="gJGHVE1q4c"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-3xl);--pb:var(--g-s-3xl);--pt-mobile:var(--g-s-s);--pb-mobile:var(--g-s-s);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gJGHVE1q4c gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gyN9nxicOb gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gE8Lxtw8ew" data-id="gE8Lxtw8ew"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mt:var(--g-s-xl);--mb:var(--g-s-l);--mt-mobile:var(--g-s-xl);--mb-mobile:var(--g-s-s);--cg:16px;--cg-mobile:7px;--pc:start;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gE8Lxtw8ew gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gQu0hKCr6W gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gt7g9jiv8A"
    role="presentation"
    class="gp-group/image gt7g9jiv8A"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-1ddd0ced-d126-4dae-bafe-7c66faeed51a_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-1ddd0ced-d126-4dae-bafe-7c66faeed51a_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-1ddd0ced-d126-4dae-bafe-7c66faeed51a.png" | file_url }}"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:1/1;--aspect-tablet:522/522;--aspect-mobile:522/522;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-1ddd0ced-d126-4dae-bafe-7c66faeed51a_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-1ddd0ced-d126-4dae-bafe-7c66faeed51a_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-1ddd0ced-d126-4dae-bafe-7c66faeed51a.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:1/1;--aspect-tablet:522/522;--aspect-mobile:522/522;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="guwYcnD8Mv gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="go9B-gZVe1"
    role="presentation"
    class="gp-group/image go9B-gZVe1"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-ecadc35d-3818-4931-8910-bae57d63b51e_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-ecadc35d-3818-4931-8910-bae57d63b51e_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-ecadc35d-3818-4931-8910-bae57d63b51e.png" | file_url }}"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:1/1;--aspect-tablet:522/522;--aspect-mobile:522/522;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-ecadc35d-3818-4931-8910-bae57d63b51e_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-ecadc35d-3818-4931-8910-bae57d63b51e_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-ecadc35d-3818-4931-8910-bae57d63b51e.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:1/1;--aspect-tablet:522/522;--aspect-mobile:522/522;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g-8F_GXnrE gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gnT1sWHS4C"
    role="presentation"
    class="gp-group/image gnT1sWHS4C"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-1036b7d3-5296-489c-8db7-ced5b4daa0c8_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-1036b7d3-5296-489c-8db7-ced5b4daa0c8_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-1036b7d3-5296-489c-8db7-ced5b4daa0c8.png" | file_url }}"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:1/1;--aspect-tablet:522/522;--aspect-mobile:522/522;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-1036b7d3-5296-489c-8db7-ced5b4daa0c8_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-1036b7d3-5296-489c-8db7-ced5b4daa0c8_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-1036b7d3-5296-489c-8db7-ced5b4daa0c8.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:1/1;--aspect-tablet:522/522;--aspect-mobile:522/522;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gKq8GI-KcD gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gpq0ZM2NML"
    role="presentation"
    class="gp-group/image gpq0ZM2NML"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-fa5ca11b-cea7-4187-9047-885aad5c9dfe_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-fa5ca11b-cea7-4187-9047-885aad5c9dfe_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-fa5ca11b-cea7-4187-9047-885aad5c9dfe.png" | file_url }}"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:1/1;--aspect-tablet:522/522;--aspect-mobile:522/522;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-fa5ca11b-cea7-4187-9047-885aad5c9dfe_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-fa5ca11b-cea7-4187-9047-885aad5c9dfe_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-fa5ca11b-cea7-4187-9047-885aad5c9dfe.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:1/1;--aspect-tablet:522/522;--aspect-mobile:522/522;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gUeuyOBMta" data-id="gUeuyOBMta"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-xl);--mb-mobile:var(--g-s-xl);--cg:16px;--cg-mobile:7px;--pc:start;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gUeuyOBMta gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gksWku-3la gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g3kXS6RzhT"
    role="presentation"
    class="gp-group/image g3kXS6RzhT"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-05b50dd9-57ff-4d98-8c3d-4d502e10b5f1_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-05b50dd9-57ff-4d98-8c3d-4d502e10b5f1_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-05b50dd9-57ff-4d98-8c3d-4d502e10b5f1.png" | file_url }}"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:1/1;--aspect-tablet:522/522;--aspect-mobile:522/522;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-05b50dd9-57ff-4d98-8c3d-4d502e10b5f1_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-05b50dd9-57ff-4d98-8c3d-4d502e10b5f1_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-05b50dd9-57ff-4d98-8c3d-4d502e10b5f1.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:1/1;--aspect-tablet:522/522;--aspect-mobile:522/522;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gqu9v80cKp gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g5PNa7vm1y"
    role="presentation"
    class="gp-group/image g5PNa7vm1y"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-6c481d6e-22c2-4c85-ac11-9f09ad0d99af_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-6c481d6e-22c2-4c85-ac11-9f09ad0d99af_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-6c481d6e-22c2-4c85-ac11-9f09ad0d99af.png" | file_url }}"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:1/1;--aspect-tablet:522/522;--aspect-mobile:522/522;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-6c481d6e-22c2-4c85-ac11-9f09ad0d99af_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-6c481d6e-22c2-4c85-ac11-9f09ad0d99af_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-6c481d6e-22c2-4c85-ac11-9f09ad0d99af.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:1/1;--aspect-tablet:522/522;--aspect-mobile:522/522;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g0n7-g6y-0 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="goTI5OQYVs"
    role="presentation"
    class="gp-group/image goTI5OQYVs"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-6a94c1bf-caa2-4dca-b664-88af9a2fe0c8_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-6a94c1bf-caa2-4dca-b664-88af9a2fe0c8_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-6a94c1bf-caa2-4dca-b664-88af9a2fe0c8.png" | file_url }}"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:1/1;--aspect-tablet:522/522;--aspect-mobile:522/522;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-6a94c1bf-caa2-4dca-b664-88af9a2fe0c8_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-6a94c1bf-caa2-4dca-b664-88af9a2fe0c8_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-6a94c1bf-caa2-4dca-b664-88af9a2fe0c8.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:1/1;--aspect-tablet:522/522;--aspect-mobile:522/522;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gK0cTFblbu gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gxaF3pQcSB"
    role="presentation"
    class="gp-group/image gxaF3pQcSB"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-54402392-f39b-4797-8216-e33c950d48ad_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-54402392-f39b-4797-8216-e33c950d48ad_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-54402392-f39b-4797-8216-e33c950d48ad.png" | file_url }}"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:1/1;--aspect-tablet:522/522;--aspect-mobile:522/522;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-54402392-f39b-4797-8216-e33c950d48ad_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-54402392-f39b-4797-8216-e33c950d48ad_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-54402392-f39b-4797-8216-e33c950d48ad.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:1/1;--aspect-tablet:522/522;--aspect-mobile:522/522;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 11",
    "tag": "section",
    "class": "gps-538971006639801340 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/2a1421-6c/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=538970990382679172&sectionId=538971006639801340)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
