

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-538970499682665258.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-538970499682665258.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-538970499682665258.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-538970499682665258.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-538970499682665258.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-538970499682665258.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-538970499682665258.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-538970499682665258.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-538970499682665258.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-538970499682665258.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-538970499682665258.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-538970499682665258.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-538970499682665258.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-538970499682665258.gps.gpsil [style*="--hvr-bc:"]:hover{border-color:var(--hvr-bc)}.gps-538970499682665258.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-538970499682665258.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-538970499682665258.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-538970499682665258.gps.gpsil [style*="--hvr-bs:"]:hover{border-style:var(--hvr-bs)}.gps-538970499682665258.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-538970499682665258.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-538970499682665258.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-538970499682665258.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-538970499682665258.gps.gpsil [style*="--hvr-bw:"]:hover{border-width:var(--hvr-bw)}.gps-538970499682665258.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-538970499682665258.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-538970499682665258.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-538970499682665258.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-538970499682665258.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-538970499682665258.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-538970499682665258.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-538970499682665258.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-538970499682665258.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-538970499682665258.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-538970499682665258.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-538970499682665258.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-538970499682665258.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-538970499682665258.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-538970499682665258.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-538970499682665258.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-538970499682665258.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-538970499682665258.gps.gpsil [style*="--tdc:"]{text-decoration-color:var(--tdc)}.gps-538970499682665258.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-538970499682665258.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-538970499682665258.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-538970499682665258.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-538970499682665258.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-538970499682665258.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-538970499682665258.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-538970499682665258.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-538970499682665258.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-538970499682665258.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-538970499682665258.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-538970499682665258.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-538970499682665258.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-538970499682665258.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-538970499682665258.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-538970499682665258.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-538970499682665258.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-538970499682665258.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-538970499682665258.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-538970499682665258.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-538970499682665258.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-538970499682665258.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-538970499682665258.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-538970499682665258.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-538970499682665258.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-538970499682665258.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-538970499682665258.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-538970499682665258.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-538970499682665258.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-538970499682665258.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-538970499682665258.gps.gpsil [style*="--o-tablet:"]{order:var(--o-tablet)}.gps-538970499682665258.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-538970499682665258.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-538970499682665258.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-538970499682665258.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-538970499682665258.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-538970499682665258.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-538970499682665258.gps.gpsil [style*="--t-tablet:"]{transform:var(--t-tablet)}.gps-538970499682665258.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-538970499682665258.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-538970499682665258.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-538970499682665258.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-538970499682665258.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-538970499682665258.gps.gpsil [style*="--gg-mobile:"]{grid-gap:var(--gg-mobile)}.gps-538970499682665258.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-538970499682665258.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-538970499682665258.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-538970499682665258.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-538970499682665258.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-538970499682665258.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-538970499682665258.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-538970499682665258.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-538970499682665258.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-538970499682665258.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-538970499682665258.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-538970499682665258.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-538970499682665258.gps.gpsil [style*="--t-mobile:"]{transform:var(--t-mobile)}.gps-538970499682665258.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-538970499682665258.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-538970499682665258 .-gp-translate-x-1\/2,.gps-538970499682665258 .-gp-translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-538970499682665258 .gp-shadow-none{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000}.gps-538970499682665258 .gp-invisible{visibility:hidden}.gps-538970499682665258 .gp-absolute{position:absolute}.gps-538970499682665258 .gp-relative{position:relative}.gps-538970499682665258 .gp-sticky{position:sticky}.gps-538970499682665258 .gp-inset-0{inset:0}.gps-538970499682665258 .gp-left-0{left:0}.gps-538970499682665258 .gp-left-1\/2{left:50%}.gps-538970499682665258 .gp-top-0{top:0}.gps-538970499682665258 .gp-top-1\/2{top:50%}.gps-538970499682665258 .gp-z-0{z-index:0}.gps-538970499682665258 .gp-z-1{z-index:1}.gps-538970499682665258 .gp-z-\[90\]{z-index:90}.gps-538970499682665258 .\!gp-m-0{margin:0!important}.gps-538970499682665258 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-538970499682665258 .gp-mb-0{margin-bottom:0}.gps-538970499682665258 .gp-block{display:block}.gps-538970499682665258 .gp-flex{display:flex}.gps-538970499682665258 .gp-inline-flex{display:inline-flex}.gps-538970499682665258 .gp-grid{display:grid}.gps-538970499682665258 .\!gp-hidden{display:none!important}.gps-538970499682665258 .gp-hidden{display:none}.gps-538970499682665258 .gp-aspect-\[56\/32\]{aspect-ratio:56/32}.gps-538970499682665258 .gp-aspect-square{aspect-ratio:1/1}.gps-538970499682665258 .gp-h-0{height:0}.gps-538970499682665258 .gp-h-5{height:20px}.gps-538970499682665258 .gp-h-auto{height:auto}.gps-538970499682665258 .gp-h-full{height:100%}.gps-538970499682665258 .gp-w-14{width:56px}.gps-538970499682665258 .gp-w-5{width:20px}.gps-538970499682665258 .gp-w-full{width:100%}.gps-538970499682665258 .gp-w-max{width:-moz-max-content;width:max-content}.gps-538970499682665258 .gp-min-w-\[45px\]{min-width:45px}.gps-538970499682665258 .gp-min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-538970499682665258 .\!gp-max-w-full{max-width:100%!important}.gps-538970499682665258 .\!gp-max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-538970499682665258 .gp-max-w-full{max-width:100%}.gps-538970499682665258 .gp-flex-1{flex:1 1 0%}.gps-538970499682665258 .gp-shrink-\[99999\]{flex-shrink:99999}.gps-538970499682665258 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-538970499682665258 .-gp-translate-x-1\/2,.gps-538970499682665258 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-538970499682665258 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-538970499682665258 .gp-cursor-default{cursor:default}.gps-538970499682665258 .gp-cursor-pointer{cursor:pointer}.gps-538970499682665258 .gp-appearance-none{-webkit-appearance:none;-moz-appearance:none;appearance:none}.gps-538970499682665258 .gp-flex-col{flex-direction:column}.gps-538970499682665258 .gp-flex-wrap{flex-wrap:wrap}.gps-538970499682665258 .gp-items-start{align-items:flex-start}.gps-538970499682665258 .gp-items-end{align-items:flex-end}.gps-538970499682665258 .gp-items-center{align-items:center}.gps-538970499682665258 .gp-justify-center{justify-content:center}.gps-538970499682665258 .gp-gap-3{gap:12px}.gps-538970499682665258 .gp-gap-y-0{row-gap:0}.gps-538970499682665258 .gp-overflow-hidden{overflow:hidden}.gps-538970499682665258 .gp-break-words{overflow-wrap:break-word}.gps-538970499682665258 .\!gp-rounded-none{border-radius:0!important}.gps-538970499682665258 .gp-rounded{border-radius:4px}.gps-538970499682665258 .gp-rounded-none{border-radius:0}.gps-538970499682665258 .\!gp-border-x-0{border-left-width:0!important;border-right-width:0!important}.gps-538970499682665258 .gp-border-y{border-bottom-width:1px;border-top-width:1px}.gps-538970499682665258 .gp-bg-black\/80{background-color:rgba(0,0,0,.8)}.gps-538970499682665258 .gp-bg-g-bg-3{background-color:var(--g-c-bg-3)}.gps-538970499682665258 .gp-bg-transparent{background-color:transparent}.gps-538970499682665258 .gp-object-cover{-o-object-fit:cover;object-fit:cover}.gps-538970499682665258 .gp-px-4{padding-left:16px;padding-right:16px}.gps-538970499682665258 .\!gp-pb-0{padding-bottom:0!important}.gps-538970499682665258 .gp-text-center{text-align:center}.gps-538970499682665258 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-538970499682665258 .gp-text-white{--tw-text-opacity:1;color:rgb(255 255 255/var(--tw-text-opacity))}.gps-538970499682665258 .gp-line-through{text-decoration-line:line-through}.gps-538970499682665258 .gp-no-underline{text-decoration-line:none}.gps-538970499682665258 .gp-decoration-g-text-1{text-decoration-color:var(--g-c-text-1)}.gps-538970499682665258 .gp-opacity-25{opacity:.25}.gps-538970499682665258 .gp-opacity-30{opacity:.3}.gps-538970499682665258 .gp-opacity-75{opacity:.75}.gps-538970499682665258 .gp-shadow-none{--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-538970499682665258 .gp-outline-none{outline:2px solid transparent;outline-offset:2px}.gps-538970499682665258 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-538970499682665258 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-538970499682665258 .gp-transition-opacity{transition-duration:.15s;transition-property:opacity;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-538970499682665258 .gp-duration-150{transition-duration:.15s}.gps-538970499682665258 .gp-duration-200{transition-duration:.2s}.gps-538970499682665258 .gp-duration-300{transition-duration:.3s}.gps-538970499682665258 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-538970499682665258 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-538970499682665258 .hover\:gp-bg-\[\#ef0800\]:hover{--tw-bg-opacity:1;background-color:rgb(239 8 0/var(--tw-bg-opacity))}.gps-538970499682665258 .hover\:gp-text-black:hover{--tw-text-opacity:1;color:rgb(0 0 0/var(--tw-text-opacity))}}.gps-538970499682665258 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-538970499682665258 .disabled\:gp-cursor-not-allowed:disabled{cursor:not-allowed}.gps-538970499682665258 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-538970499682665258 .data-\[disabled\=true\]\:gp-hidden[data-disabled=true],.gps-538970499682665258 .data-\[hidden\=true\]\:gp-hidden[data-hidden=true]{display:none}.gps-538970499682665258 .data-\[disabled\=true\]\:gp-opacity-60[data-disabled=true]{opacity:.6}.gps-538970499682665258 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-538970499682665258 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-538970499682665258 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-538970499682665258 .tablet\:\!gp-hidden{display:none!important}.gps-538970499682665258 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-538970499682665258 .mobile\:\!gp-hidden{display:none!important}.gps-538970499682665258 .mobile\:gp-hidden{display:none}}.gps-538970499682665258 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-538970499682665258 .\[\&_p\]\:gp-inline p{display:inline}.gps-538970499682665258 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-538970499682665258 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-538970499682665258 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

    
    <gp-sticky
    data-id="gEtH5SppMq"
      gp-data='{"uid":"gEtH5SppMq","setting":{"display":{"desktop":"after-first-cart-button"}},"advanced":{"d":{"desktop":true,"mobile":true,"tablet":true}}}'
      id="gEtH5SppMq"
      data-id="gEtH5SppMq"
      class="gEtH5SppMq {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}  "
      style="margin:0 auto;--bs:solid;--bw:0px;--bc:#121212;--shadow:0px 0px 10px 0px #0000001a;--d:none;--d-mobile:none;--d-tablet:none;--op:100%;--pt:var(--g-s-m);--pl:15px;--pb:var(--g-s-m);--pr:15px;--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--top:auto;--bottom:0;--pos:fixed;--top-tablet:auto;--bottom-tablet:0;--pos-tablet:fixed;--top-mobile:auto;--bottom-mobile:0;--pos-mobile:fixed;--left:50%;--t:translateX(-50%);--left-tablet:50%;--t-tablet:translateX(-50%);--left-mobile:50%;--t-mobile:translateX(-50%);zIndex:100000"
    >
      <div >
        <div
      
      
      class="glAPkEWIQ8 gp-relative gp-flex gp-flex-col"
    >
      
    
    {%- assign gpBkProduct = product -%}
    
        {%- liquid
          if request.page_type == 'product'
            if 'static' == 'static'
              if 'latest' == 'latest'
                paginate collections.all.products by 100000
                  assign product = collections.all.products | sort: 'created_at' | reverse | first
                endpaginate
              else
                assign product = all_products['']
                assign productId = 'latest' | times: 1
                if product == empty or product == null
                  paginate collections.all.products by 100000
                    for item in collections.all.products
                      if item.id == productId
                        assign product = item
                      endif
                    endfor
                  endpaginate
                endif
              endif
            endif
          else
            if 'latest' == 'latest'
              paginate collections.all.products by 100000
                assign product = collections.all.products | sort: 'created_at'| reverse | first
              endpaginate
            else
              assign product = all_products['']
              assign productId = 'latest' | times: 1
              if product == empty or product == null
                paginate collections.all.products by 100000
                  for item in collections.all.products
                    if item.id == productId
                      assign product = item
                    endif
                  endfor
                endpaginate
              endif
            endif
          endif
        -%}
      

    {%-if product != empty and product != null -%}
      {%- assign initVariantId =  -%}
      {%- assign product_form_id = 'product-form-' | append: "grm5xNCW14" -%}
      {%- assign variant = product.selected_or_first_available_variant -%}
      {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%-if productSelectedVariant == empty or productSelectedVariant == null -%}
        {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      <gp-product data-uid="grm5xNCW14" data-id="grm5xNCW14"   gp-context='{"productId": {{ product.id }}, "isSyncProduct": "true", "variantSelected": {{ variant | json | escape }}, "quantity": 1, "formId": "{{ product_form_id }}" }'
        gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1, "productUrl":{{ product.url | json | escape }}, "productHandle":{{ product.handle | json | escape }}, "collectionUrl": {{ collection.url | json | escape }}, "collectionHandle": {{ collection.handle | json | escape }}}'>
        <product-form class="product-form">
          {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
            <input type="hidden" name="id" value="{{ variant.id }}" />
            <input type="hidden" name="quantity" value="{{ quantity }}" />
            <button type="submit" onclick="return false;" style="display:none;"></button>
            
       
      
    <div
      id="grm5xNCW14" data-id="grm5xNCW14-row"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:12px;--cg-tablet:12px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 8fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%"
        class="grm5xNCW14 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gCTH8uNZKB gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gIly8AUqGG" data-id="gIly8AUqGG"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--mb-tablet:var(--g-s-m);--cg:16px;--cg-tablet:12px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gIly8AUqGG gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gL-fdqIUbf gp-relative gp-flex gp-flex-col"
    >
      
  {% assign featured_image = product.featured_image %}
  {%- if variant != null and variant.featured_image != null -%}
  {% assign featured_image = variant.featured_image %}
  {%- endif -%}
    <gp-product-images-v2
      gp-data='
    {
      "id":"g4iBCXqtSz",
      "setting":{"arrowIcon":"<svg width=\"100%\" height=\"100%\" viewBox=\"0 0 24 24\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n    <rect width=\"24\" height=\"24\" rx=\"12\" fill=\"#151515\"/>\n    <path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M10.1172 8.13017C10.2734 7.95661 10.5266 7.95661 10.6828 8.13017L13.8828 11.6857C14.0391 11.8593 14.0391 12.1407 13.8828 12.3143L10.6828 15.8698C10.5266 16.0434 10.2734 16.0434 10.1172 15.8698C9.96095 15.6963 9.96095 15.4149 10.1172 15.2413L13.0343 12L10.1172 8.75871C9.96095 8.58515 9.96095 8.30374 10.1172 8.13017Z\" fill=\"#F9F9F9\"/>\n    </svg>\n    ","borderActive":{"borderType":"none","borderWidth":"1px","color":"#000000","isCustom":"false","width":"1px 1px 1px 1px"},"clickOpenLightBox":{"desktop":false},"dragToScroll":true,"ftArrowIcon":"<svg width=\"100%\" height=\"100%\" viewBox=\"0 0 24 24\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n    <rect width=\"24\" height=\"24\" rx=\"12\" fill=\"#151515\"/>\n    <path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M10.1172 8.13017C10.2734 7.95661 10.5266 7.95661 10.6828 8.13017L13.8828 11.6857C14.0391 11.8593 14.0391 12.1407 13.8828 12.3143L10.6828 15.8698C10.5266 16.0434 10.2734 16.0434 10.1172 15.8698C9.96095 15.6963 9.96095 15.4149 10.1172 15.2413L13.0343 12L10.1172 8.75871C9.96095 8.58515 9.96095 8.30374 10.1172 8.13017Z\" fill=\"#F9F9F9\"/>\n    </svg>\n    ","ftClickOpenLightBox":{"desktop":false},"ftDotActiveColor":{"desktop":"line-3"},"ftDotColor":{"desktop":"bg-1"},"ftDotGapToCarousel":{"desktop":16},"ftDotSize":{"desktop":12},"ftDotStyle":{"desktop":"none"},"ftDragToScroll":false,"ftLoop":{"desktop":false},"ftNavigationPosition":{"desktop":"none"},"ftPauseOnHover":true,"ftSpeed":1,"galleryHoverEffect":"none","galleryZoom":150,"galleryZoomType":"default","hoverEffect":"none","loop":{"desktop":true},"navigationPosition":{"desktop":"inside"},"otherImage":0,"pauseOnHover":true,"speed":1,"type":{"desktop":"slider"},"typeDisplay":"all-images","zoom":150,"zoomType":"default"},
      "styles":{"align":{"desktop":"flex-start"},"corner":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"},"ftCorner":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"},"ftLayout":{"desktop":"cover"},"ftShape":{"desktop":{"shape":"square","shapeValue":"1/1","width":"56px"}},"itemSpacing":{"desktop":"var(--g-s-s)","mobile":"var(--g-s-s)"},"layout":{"desktop":"cover"},"position":{"desktop":"only-feature","mobile":"only-feature"},"ratioLayout":{"desktop":[2,10]},"ratioLayoutRight":{"desktop":[10,2]},"shape":{"desktop":{"shape":"square","shapeValue":"1/1","width":"100%"}},"shapeFor1Col":{"desktop":{"shape":"square","shapeValue":"1/1","width":"100%"}},"shapeFor2Col":{"desktop":{"shape":"square","shapeValue":"1/1","width":"50%"}},"shapeForBottom":{"desktop":{"shape":"square","shapeValue":"1/1","width":"20%"}},"shapeForFtOnly":{"desktop":{"shape":"square","shapeValue":"1/1","width":"100%"}},"spacing":{"desktop":"var(--g-s-s)","mobile":"var(--g-s-s)"}}, "productUrl":{{product.url | json | escape}}, "product":{{product | json | escape}}, "collectionUrl": {{ collection.url | json | escape }}, "collection": {{ collection | json | escape}}
    }
  '
      section-id="{{section.id}}"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      data-id="g4iBCXqtSz"
      class="g4iBCXqtSz gp-overflow-hidden"
    >
      <div
        class="{%- if product.media.size > 1 -%} gp-grid gp-w-full !gp-m-0 gp-relative {%- else -%} gp-w-full !gp-m-0 gp-relative {%- endif -%}"
        {%- if product.media.size > 1 -%}
        style="--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--gg:var(--g-s-s);--gg-mobile:var(--g-s-s)"
        {%- else -%}
        style="--gtc:minmax(0, 12fr);--gg:var(--g-s-s);--gg-mobile:var(--g-s-s)"
        {%- endif -%}
      >
        
    {% capture featureImageOnlyOne %}
      
        {% assign featureMedia = variant.featured_media %}
        {% unless featureMedia %}
        {% assign featureMedia = product.featured_media %}
        {% endunless %}
        {% if product.media.size > 1 %}
          
          {% assign featureMedia = variant.featured_media %}
          {% unless featureMedia %}
          {% assign featureMedia = product.featured_media %}
          {% endunless %}
        
        {% endif %}
        {% assign largestRatio = 0 %}
        {% assign height = featureMedia.height | times: 1.0 %}
        {% assign width = featureMedia.width | times: 1.0 %}
        {% assign ratio = height | divided_by: width %}
        {% if ratio > largestRatio %}
          {% assign largestRatio = ratio %}
        {% endif %}
        {% assign productImageWidth = 0 %}
        {% case featureMedia.media_type %}
          {% when 'image' %}
            {% assign productImageWidth = featureMedia.width %}
          {% else %}
            {% assign productImageWidth = featureMedia.preview_image.width %}
        {% endcase %}
        {% if featureMedia == null %}
        {% assign productImageWidth = 1600 %}
        {% endif %}
        <div 
          class='gp-feature-image-carousel gp-feature-image-only' 
          style="--o:0;--o-tablet:0;--o-mobile:0;--d:flex;--d-mobile:flex;--d-tablet:flex;--jc:flex-start"
        >
          <div 
            class="gp-relative"
            style="--w:56px;--w-tablet:56px;--w-mobile:56px"
          >
            
      
    
            <div 
              type="gp-feature-image-only"
              product-id="{{product.id}}"
              product-media="{{product.media.size}}"
              class="gp-image-item gp-ft-image-item gp-group gp-z-0 gp-flex !gp-max-w-full gp-w-full gp-relative gp-items-start gp-justify-center gp-overflow-hidden gp-featured-image-wrapper"
              style="--h:auto;--h-tablet:auto;--h-mobile:auto;width:{{productImageWidth}}px"
            >
              <div 
                class="gp-w-full  {% if featureMedia == null or featureMedia.media_type == 'image' %} {{ 'gp-h-0' }} {% else %} {{ 'gp-h-full !gp-pb-0' }} {% endif %} gp-relative" 
                style="--pb: calc((1/1)*100%);--pb-tablet: calc((1/1)*100%);--pb-mobile: calc((1/1)*100%); {% if featureMedia.media_type == 'video' or featureMedia.media_type == 'external_video' %} {{ 'display: flex; align-items: center; justify-content: center' }} {% endif %}"
              >
                
    {% case featureMedia.media_type %}
      {% when 'image' %}
        
      
    {% assign src = featureMedia.src %}
    
    
  {%- liquid
    assign isFetchPriorityHigh = false 
    
  -%}

  {%- if isFetchPriorityHigh == true or isFetchPriorityHigh == 'true' -%}
    <img
      id="{%- if featureMedia != null -%}
              {{featureMedia.id}}
            {%- endif -%}"
      
      draggable="false"
      isNotLazyload="true"
      class="gp-w-full gp-h-full gp-absolute gp-top-0 gp-left-0 featured-image-only gp-cursor-pointer !gp-rounded-none gp-w-full gp-transition-opacity {{shouldHidden}}"
      src="{{src | image_url}}" width="{{featureMedia.width}}" height="{{featureMedia.height}}" alt="{{featureMedia.alt}}"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      srcset="{{src | img_url: '480x480'}} 480w, {{src | img_url: '768x768'}} 768w,{{src | img_url: '1024x1024'}} 1024w,{{src | img_url: '1440x1440'}} 1440w"
      sizes="(max-width: 768px) 50vw, 100vw"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover"
    />
  {%- else -%}
    <img
      id="{%- if featureMedia != null -%}
              {{featureMedia.id}}
            {%- endif -%}"
      
      draggable="false"
      class="gp-w-full gp-h-full gp-absolute gp-top-0 gp-left-0 featured-image-only gp-cursor-pointer !gp-rounded-none gp-w-full gp-transition-opacity {{shouldHidden}} gp_lazyload"
      data-src="{{src | image_url}}" data-srcset="{%- if src != null -%}
              {{src | img_url: '480x480'}} 480w, {{src | img_url: '768x768'}} 768w,{{src | img_url: '1024x1024'}} 1024w,{{src | img_url: '1440x1440'}} 1440w
            {%- else -%}
              {{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }}
            {%- endif -%}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="{{featureMedia.width}}" height="{{featureMedia.height}}" alt="{{featureMedia.alt}}" base-src="{{src | image_url}}"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover"
    />
  {%- endif -%}
  
      
      
    
      {% when 'external_video' %}
        {% assign mediaSourceVideo = featureMedia | external_video_url %}
        
    <iframe
      width="100%" height="100%"
      class="feature-video gp-w-full gp-h-full gp-relative"
      src="{{mediaSourceVideo}}"
      controls="true"
      allowfullscreen="true"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      frameborder="0"
      autoplay="false"
      alt="{{featureMedia.alt}}"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1"
    >
    </iframe>
  
      {% when 'video' %}
        {% assign mediaSourceVideo = featureMedia.sources.last.url %}
        
  <gp-lite-html5-embed>
    
    <video
      id="gp-video-undefined"
      class=" gp-w-full lazy"
      style="width:100%;max-height:100%"
      controls
      
      
      
      title="{{featureMedia.alt}}"
      preload="none"
      data-src="{{mediaSourceVideo}}"
      src=""
      poster=""
      playsinline
    >
    
  </video>
    <div
          style="width:100%;max-height:100%"
           class="gp-absolute gp-top-0 gp-left-0  gp-w-full gp-thumbnail-video gp-hidden"
        >
          <img
            id="video-thumbnail"
            src=
            class="gp-w-full gp-h-full gp-object-cover"
            alt="Video Thumbnail"
          ></img>
          <button
            type="button"
            class="gp-absolute gp-left-1/2 gp-top-1/2 gp-flex gp-aspect-[56/32] gp-w-14 -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800]"
            aria-label="Play"
          >
            <svg class="gp-w-5 gp-text-white" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
              />
            </svg>
          </button>
        </div>
        </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-html5-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>
        if(lazyLoadInstance){lazyLoadInstance.update()}else{var lazyLoadInstance = new LazyLoad()}
    </script>
  
      {% when 'model' %}
        
    <model-viewer
      class="gp-w-full gp-h-full model-viewer gp-z-[90]"
      width="100%"
      
      
      
      
      src="{% if featureMedia.sources.first.url contains '.glb' %}{{ featureMedia.sources.first.url }}{% else %}{{featureMedia.sources.last.url}}{% endif %}"
      alt="{{featureMedia.preview_image.alt}}"
      camera-controls="true"
      poster="{{featureMedia.preview_image.src | product_img_url: '1024x1024'}}"
      data-js-focus-visible=""
      data-shopify-feature="1.12"
      ar-status="not-presenting"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1">
    </model-viewer>
  
      {% else %}
        
    
  {%- liquid
    assign isFetchPriorityHigh = false 
    
  -%}

  {%- if isFetchPriorityHigh == true or isFetchPriorityHigh == 'true' -%}
    <img
      
      
      draggable="false"
      isNotLazyload="true"
      class="gp-w-full gp-h-full gp-absolute gp-top-0 gp-left-0 featured-image-only gp-cursor-pointer !gp-rounded-none"
      src width="2237" height="1678" alt="No Image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      srcset=""
      sizes="(max-width: 768px) 50vw, 100vw"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover"
    />
  {%- else -%}
    <img
      
      
      draggable="false"
      class="gp-w-full gp-h-full gp-absolute gp-top-0 gp-left-0 featured-image-only gp-cursor-pointer !gp-rounded-none gp_lazyload"
      data-src data-srcset="https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="2237" height="1678" alt="No Image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover"
    />
  {%- endif -%}
  
    {% endcase %}
    
              </div>
            </div>
          </div>
        </div>
      
    {% endcapture %}
    {% if product.media.size > 1 %}
      
      {{ featureImageOnlyOne }}
    {% else %}
      {{ featureImageOnlyOne }}
    {% endif %}
  
         
      </div>
    </gp-product-images-v2>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-images-v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gjtf-EuNpO gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px" class="gnXqCmWI1F ">
      
    {%- unless product -%}
      <p>{{ "gempages.ProductTitle.product_not_found" | t }}</p>
    {%- else -%}
      
        
  <gp-text data-id="gnXqCmWI1F">
    <div
      
        class="gnXqCmWI1F "
        
      >
      <div  >
        <h1
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-product-title"
          style="--w:100%;--ta:left;--line-clamp:1;--line-clamp-tablet:1;--line-clamp-mobile:1;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size:16px;--size-tablet:18px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ product.title }}</h1>
      </div>
    </div>
    </gp-text>
    
      
    {%- endunless -%}
  
      </div>
       
      
    <div
      parentTag="Col" id="g_yNrb8qdc" data-id="g_yNrb8qdc"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:8px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g_yNrb8qdc gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gJeyvU5cvU gp-relative gp-flex gp-flex-col"
    >
      
      <gp-product-price
        data-id="g3ej9JcOuM"
        class="g3ej9JcOuM gp-product-price group-data-[state=loading]:gp-invisible data-[hidden=true]:gp-hidden"
        gp-data='{"priceType":"regular","uid":"g3ej9JcOuM","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
        
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
        data-hidden="false"
      >
        
  <gp-text data-id="">
    <div
      id="p-price-g3ej9JcOuM"
        class=" "
        
      >
      <div  >
        <div
          type="regular"
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-price gp-money gp-decoration-g-text-1"
          style="--w:100%;--tdc:text-1;--tdt:1;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size:17px;--size-tablet:17px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >
     {% if variant.price %} 
       {{ variant.price | money}}
     {% endif %}
   </div>
      </div>
    </div>
    </gp-text>
    
      </gp-product-price>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-price.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gd6AEQ8Ggx gp-relative gp-flex gp-flex-col"
    >
      
      <gp-product-price
        data-id="gqbZT6lXwJ"
        class="gqbZT6lXwJ gp-product-price group-data-[state=loading]:gp-invisible data-[hidden=true]:gp-hidden"
        gp-data='{"priceType":"compare","uid":"gqbZT6lXwJ","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
        
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
        data-hidden="{% if variant.compare_at_price > variant.price and variant.compare_at_price >= 0 %}false{% else %}true{% endif %}"
      >
        
  <gp-text data-id="">
    <div
      id="p-price-gqbZT6lXwJ"
        class=" "
        
      >
      <div  >
        <div
          type="compare"
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-price gp-product-compare-price gp-line-through"
          style="--w:100%;--tdc:#B4B4B4;--tdt:1;--ta:left;--c:#B4B4B4;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >
      {% if variant.compare_at_price  %} 
        {{ variant.compare_at_price | money}}
      {% else %}
        
      {% endif %}
    </div>
      </div>
    </div>
    </gp-text>
    
      </gp-product-price>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-price.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gEx2Wo4X80 gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px" class="g4AsYmqBgl ">
      
  {% liquid
    assign price = variant.price | times: 1.0
    assign salePrice = variant.compare_at_price | times: 1.0
    assign priceSave = salePrice | minus: price
    assign prefixVal = section.settings.gg4AsYmqBgl_customContent_prefix
    assign suffixVal = section.settings.gg4AsYmqBgl_customContent_suffix
    if salePrice == null or price == null
      assign pricePercentage = prefixVal | append: ' 0% ' | append: suffixVal
    else
         assign salePercent = priceSave | divided_by: salePrice | times: 100  | round
                assign pricePercentage = prefixVal | append: ' ' | append: salePercent | append: '% ' | append: suffixVal
              
    endif
  %}

  <gp-product-tag
  data-id="g4AsYmqBgl"
    data-disabled="{%- if priceSave > 0 -%} false {%- else -%} true {%- endif -%}"
    gp-data='{"setting":{"customContent":{"prefix":"-","suffix":"off","unit":"percentage"},"translate":"customContent"}, "id": "g4AsYmqBgl", "locale": "{{shop.locale}}", "currency": "{{shop.currency}}", "moneyFormat": "{{ shop.money_format | replace: '"', '\"' | escape }}"}'
    class="gp-block data-[disabled=true]:gp-hidden "
    style="--ta:left"
    price-save="{{priceSave}}"
    data-prefix="{{section.settings.gg4AsYmqBgl_customContent_prefix}}"
    data-suffix="{{section.settings.gg4AsYmqBgl_customContent_suffix}}"
  >
     <div class="gp-inline-flex gp-flex-wrap gp-items-end gp-gap-3" >
       <div
         class="gp-flex gp-items-center gp-w-full gp-h-full"
         style="--pl:8px;--pr:8px;--pt:4px;--pb:4px;--bs:none;--bw:0px;--bc:transparent;--bg:#F6F6F6;--bblr:3px;--bbrr:3px;--btlr:3px;--btrr:3px"
       >
         
  <gp-text data-id="">
    <div
      id="p-tag-g4AsYmqBgl"
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#EA3335;word-break:break-word;overflow:hidden"
        >{{pricePercentage}}</div>
      </div>
    </div>
    </gp-text>
    
       </div>
     </div>

 </gp-product-tag>
 <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-tag.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
   
      </div>
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gk6zsYu9T2 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g-I42Wy1xA" data-id="g-I42Wy1xA"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:16px;--cg-tablet:12px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g-I42Wy1xA gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gZAv3MdNPb gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--mb:0px" class="gbxqZKOunm ">
      
    <gp-countdown-timer
      data-id="gbxqZKOunm"
     class="gp-flex "
     gp-data='{"behaviour":"daily","dateStandard":1696300690371,"dayLabel":"Days","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hrs","minuteLabel":"Mins","redirectUrl":{"link":"#","target":"_self"},"secondLabel":"Secs","timeZone":"UTC+7","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":0,"endTime":1695706690371,"hours":3,"mins":0,"startTime":1695695890371},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks","uid":"gbxqZKOunm","builderData":{"advanced":{"border":{"desktop":{"normal":{"border":"solid","borderType":"none","borderWidth":"0px","color":"#121212","isCustom":true,"width":"0px"}}},"boxShadow":{"desktop":{"normal":{"angle":90,"blur":"12px","color":"rgba(0, 0, 0, 0.20)","distance":"4px","spread":"0px","type":"shadow-1"}}},"d":{"desktop":true,"mobile":false,"tablet":true},"hasBoxShadow":{"desktop":{"normal":false}},"op":{"desktop":"100%"},"rounded":{"desktop":{"normal":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"}}},"spacing-setting":{"desktop":{"link":false,"margin":{"bottom":"0px"}}}},"label":"Countdown Timer","settings":{"behaviour":"daily","dateStandard":1696300690371,"dayLabel":"Days","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hrs","minuteLabel":"Mins","redirectUrl":{"link":"#","target":"_self"},"secondLabel":"Secs","timeZone":"UTC+7","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":0,"endTime":1695706690371,"hours":3,"mins":0,"startTime":1695695890371},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks"},"styles":{"backgroundItemColor":"transparent","borderState":{"normal":{"border":"none","borderType":"none","color":"transparent","isCustom":false,"width":"0px"}},"colorLabel":"text-1","colorNumber":"text-2","horizontalGap":"12px","itemPadding":{"custom":{"desktop":{"horizontal":"16px","vertical":"0px"}}},"labelTypo":{"attrs":{"color":"#B4B4B4"},"custom":{"fontSize":{"desktop":"13px","mobile":"12px","tablet":"13px"},"fontStyle":"normal","fontVariants":["100","200","300","regular","500","600","700","800","900","100italic","200italic","300italic","italic","500italic","600italic","700italic","800italic","900italic"],"fontWeight":"400","letterSpacing":"normal","lineHeight":{"desktop":"150%","mobile":"150%","tablet":"150%"}},"type":"paragraph-1"},"numTypo":{"attrs":{"color":"#242424"},"custom":{"fontSize":{"desktop":"19px","mobile":"17px","tablet":"19px"},"fontStyle":"normal","fontVariants":["100","200","300","regular","500","600","700","800","900","100italic","200italic","300italic","italic","500italic","600italic","700italic","800italic","900italic"],"fontWeight":"700","letterSpacing":"normal","lineHeight":{"desktop":"130%","mobile":"130%","tablet":"130%"}},"type":"heading-2"},"roundedState":{"normal":{"radiusType":"none"}},"textAlign":{"desktop":"center","tablet":"left"},"verticalGap":"0px"},"tag":"Countdown","uid":"gbxqZKOunm","childrens":[],"type":"component"}}'
     gp-href="#"
     style="--jc:center;--jc-tablet:left"
     >
      <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative" style="gap:12px;--jc:center;--jc-tablet:left">
        <a
            href="#"
            target="_self"
            aria-label="Countdown link"
            class="gp-absolute gp-inset-0 gp-z-1"
          > </a>
          
          
    <div
        style="--pl:16px;--pr:16px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
  <gp-text data-id="gbxqZKOunm-text">
    <div
      id="day"
        class="gbxqZKOunm "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    </gp-text>
    
    
  <gp-text data-id="gbxqZKOunm-text">
    <div
      
        class="gbxqZKOunm "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#B4B4B4;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggbxqZKOunm_dayLabel }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    
          
    <div
        style="--pl:16px;--pr:16px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
  <gp-text data-id="gbxqZKOunm-text">
    <div
      id="hour"
        class="gbxqZKOunm "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    </gp-text>
    
    
  <gp-text data-id="gbxqZKOunm-text">
    <div
      
        class="gbxqZKOunm "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#B4B4B4;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggbxqZKOunm_hourLabel }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    
          
    <div
        style="--pl:16px;--pr:16px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
  <gp-text data-id="gbxqZKOunm-text">
    <div
      id="minute"
        class="gbxqZKOunm "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    </gp-text>
    
    
  <gp-text data-id="gbxqZKOunm-text">
    <div
      
        class="gbxqZKOunm "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#B4B4B4;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggbxqZKOunm_minuteLabel }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    
          
    <div
        style="--pl:16px;--pr:16px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
  <gp-text data-id="gbxqZKOunm-text">
    <div
      id="second"
        class="gbxqZKOunm "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    </gp-text>
    
    
  <gp-text data-id="gbxqZKOunm-text">
    <div
      
        class="gbxqZKOunm "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#B4B4B4;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggbxqZKOunm_secondLabel }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    
      </div>
     </gp-countdown-timer>
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-countdown.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="ggxXiDzgjS gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gaEhX1HOR3" data-id="gaEhX1HOR3"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:16px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gaEhX1HOR3 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gqhSkRrEOH gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px" class="gXwXfBwScf ">
      
    {%- liquid
      assign current_variant = product.selected_or_first_available_variant
      assign available = current_variant.available | default: false
    -%}
      <gp-product-quantity
        data-id="gXwXfBwScf"
        data-disabled="{%- if available -%} false {%- else -%} true {%- endif -%}"
        data-price=""
        class="quantityClass gp-relative gp-inline-flex gp-w-full gp-bg-transparent gp-transition-all gp-duration-150 data-[disabled=true]:gp-opacity-60 "
        style="--h:48px;--jc:left"
      >

      
          <button
            title="Decrement"
            aria-label="decrement"
            {% if available == false %} disabled {% endif %}
            class="gp-bg-g-bg-3 gp-minus gp-flex gp-aspect-square gp-h-full gp-cursor-pointer gp-items-center gp-justify-center gp-outline-none disabled:gp-cursor-not-allowed"
            style="--w:48px;--bg:var(--g-c-bg-3, bg-3);--hvr-c:#575757;--c:#575757;--bs:solid;--hvr-bs:solid;--bw:1px 1px 1px 1px;--hvr-bw:1px 1px 1px 1px;--bc:#E0E0E0;--hvr-bc:#E0E0E0;--bblr:6px;--bbrr:auto;--btlr:6px;--btrr:auto"
          >
            <span class="gp-inline-flex gp-items-center gp-justify-center" style="--w:20px">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="gp-h-full gp-w-full"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6" />
              </svg>
            </span>
          </button>
      
        <input
          type="text"
          name="product-quantity"
          {% if available == false %} disabled {% endif %}
          class="gp-bg-g-bg-3 !gp-border-x-0 gp-px-4 gp-flex gp-shadow-none gp-appearance-none gp-items-center gp-border-y gp-text-center gp-outline-none gp-transition-all gp-duration-150 hover:gp-text-black disabled:gp-pointer-events-none gp-h-auto gp-rounded-none gp-shrink-[99999] gp-w-full gp-min-w-[45px]"
          style="--maxw:100%;--maxw-tablet:100%;--maxw-mobile:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;--bg:var(--g-c-bg-3, bg-3);--bs:solid;--hvr-bs:solid;--bw:1px 1px 1px 1px;--hvr-bw:1px 1px 1px 1px;--bc:#E0E0E0;--hvr-bc:#E0E0E0"
          aria-label="Quantity"
          inputmode="numeric"
          min="{{ current_variant.quantity_rule.min }}"
          step="{{ current_variant.quantity_rule.increment }}"
          value="1"
          autocomplete='off'
        />

        
          <button
            {% if available == false %} disabled {% endif %}
            aria-label="increment"
            title="Increment"
            class="gp-bg-g-bg-3 gp-plus gp-flex gp-aspect-square gp-h-full gp-cursor-pointer gp-items-center gp-justify-center gp-outline-none gp-transition-all gp-duration-150 disabled:gp-pointer-events-none"
            style="--w:48px;--bg:var(--g-c-bg-3, bg-3);--hvr-c:#575757;--c:#575757;--bs:solid;--hvr-bs:solid;--bw:1px 1px 1px 1px;--hvr-bw:1px 1px 1px 1px;--bc:#E0E0E0;--hvr-bc:#E0E0E0;--bblr:auto;--bbrr:6px;--btlr:auto;--btrr:6px"
          >
            <span class="gp-inline-flex gp-items-center gp-justify-center" style="--w:20px">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="gp-h-full gp-w-full"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 6v6m0 0v6m0-6h6m-6 0H6"
                />
              </svg>
            </span>
          </button>
        
      </gp-product-quantity>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-quantity.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
      </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g8YRUyCiVF gp-relative gp-flex gp-flex-col"
    >
      
   {%- liquid
      assign inventory_quantity = variant.inventory_quantity | default: 0
    -%}
    <gp-product-button
      class="gp-product-button"
      gp-data-wrapper="true"
      gp-data='{"setting":{"actionEffect":"continue-shopping","errorMessage":"Cannot add product to cart","successMessage":"Add product to cart successfully","enableSuccessMessage":true,"enableErrorMessage":true,"label":"Add to cart","outOfStockLabel":"Out of stock","errorType":"built-in","customURL":{"link":"/cart","target":"_self"}},"styles":{"errorTypo":{"attrs":{"color":"error"},"type":"paragraph-2"},"successTypo":{"attrs":{"color":"success"},"type":"paragraph-2"}},"disabled":"{{variant.available}}","variantID":"{{variant.id}}","totalVariant":"{{product.variants.size}}"}' 
       gp-href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/cart"
       data-variant-selection-required-message="{{}}"
    >
        
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--ta:left"
    class="{% unless variant.available %} !gp-hidden {% endunless %}"
  >
    <style>
    .goL5iGQrfH.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
      
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
    }

    .goL5iGQrfH:hover::before {
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #4D4D4D;
  
      
    }

    .goL5iGQrfH:hover .gp-button-icon {
      color: undefined;
    }

     .goL5iGQrfH .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .goL5iGQrfH:hover .gp-button-price {
      color: undefined;
    }

    .goL5iGQrfH .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .goL5iGQrfH .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .goL5iGQrfH:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="submit" data-id="goL5iGQrfH" aria-label="Add to cart"
      name="add" gp-data-hidden="{% unless variant.available %}true{% endunless %}"
      data-state="idle"
      class="goL5iGQrfH gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-button-atc tcustomizer-submit-button"
      style="--hvr-bg:#100248;--bg:#210E6C;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--shadow:none;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:12px;--pb-mobile:12px;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:var(--g-c-text-3, text-3);--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--tt:capitalize"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px"
      >
        {{ section.settings.ggoL5iGQrfH_label | downcase }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

        
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--ta:left"
    class="{% if variant.available %} !gp-hidden {% endif %}"
  >
    <style>
    .goL5iGQrfH-sold-out.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
      
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
    }

    .goL5iGQrfH-sold-out:hover::before {
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #4D4D4D;
  
      
    }

    .goL5iGQrfH-sold-out:hover .gp-button-icon {
      color: undefined;
    }

     .goL5iGQrfH-sold-out .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .goL5iGQrfH-sold-out:hover .gp-button-price {
      color: undefined;
    }

    .goL5iGQrfH-sold-out .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .goL5iGQrfH-sold-out .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .goL5iGQrfH-sold-out:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="button" data-id="goL5iGQrfH" aria-label="Out of stock"
      gp-data-hidden="{% if variant.available %}true{% endif %}"
      data-state="idle"
      class="goL5iGQrfH-sold-out gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-button-sold-out btn-disabled gp-opacity-30 gp-cursor-default"
      style="--hvr-bg:#100248;--bg:#210E6C;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--shadow:none;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:12px;--pb-mobile:12px;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:var(--g-c-text-3, text-3);--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--tt:capitalize"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px"
      >
        {{ section.settings.ggoL5iGQrfH_outOfStockLabel | downcase }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

    </gp-product-button>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-button.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
          {%- endform -%}
        </product-form>
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="gp-text-center">{{ "gempages.Product.product_not_found" | t }}</div>
    {%- endif -%}
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product.v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
      </div>
    </gp-sticky>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-sticky.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-538970499682665258 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/2a1421-6c/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=538970499313566506&sectionId=538970499682665258)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg4AsYmqBgl_customContent_prefix","label":"gg4AsYmqBgl_customContent_prefix","default":"-"},{"type":"html","id":"gg4AsYmqBgl_customContent_suffix","label":"gg4AsYmqBgl_customContent_suffix","default":"off"},{"type":"html","id":"ggbxqZKOunm_dayLabel","label":"ggbxqZKOunm_dayLabel","default":"Days"},{"type":"html","id":"ggbxqZKOunm_hourLabel","label":"ggbxqZKOunm_hourLabel","default":"Hrs"},{"type":"html","id":"ggbxqZKOunm_minuteLabel","label":"ggbxqZKOunm_minuteLabel","default":"Mins"},{"type":"html","id":"ggbxqZKOunm_secondLabel","label":"ggbxqZKOunm_secondLabel","default":"Secs"},{"type":"html","id":"ggbxqZKOunm_weekLabel","label":"ggbxqZKOunm_weekLabel","default":"Weeks"},{"type":"html","id":"ggoL5iGQrfH_label","label":"ggoL5iGQrfH_label","default":"Add to cart"},{"type":"html","id":"ggoL5iGQrfH_outOfStockLabel","label":"ggoL5iGQrfH_outOfStockLabel","default":"Out of stock"},{"type":"html","id":"ggoL5iGQrfH_unavailableLabel","label":"ggoL5iGQrfH_unavailableLabel","default":"Unavailable"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
