

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-538966126684537852.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-538966126684537852.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-538966126684537852.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-538966126684537852.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-538966126684537852.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-538966126684537852.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-538966126684537852.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-538966126684537852.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-538966126684537852.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-538966126684537852.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-538966126684537852.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-538966126684537852.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-538966126684537852.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-538966126684537852.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-538966126684537852.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-538966126684537852.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-538966126684537852.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-538966126684537852.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-538966126684537852.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-538966126684537852.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-538966126684537852.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-538966126684537852.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-538966126684537852.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-538966126684537852.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-538966126684537852.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-538966126684537852.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-538966126684537852.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-538966126684537852.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-538966126684537852.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-538966126684537852.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-538966126684537852.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-538966126684537852.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-538966126684537852.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-538966126684537852.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-538966126684537852.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-538966126684537852.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-538966126684537852.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-538966126684537852.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-538966126684537852.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-538966126684537852.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-538966126684537852.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-538966126684537852.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-538966126684537852.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-538966126684537852.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-538966126684537852.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-538966126684537852.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-538966126684537852.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-538966126684537852.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-538966126684537852.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-538966126684537852.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-538966126684537852.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-538966126684537852.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-538966126684537852.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-538966126684537852.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-538966126684537852.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-538966126684537852.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-538966126684537852.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-538966126684537852.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-538966126684537852.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-538966126684537852.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-538966126684537852.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-538966126684537852.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-538966126684537852.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-538966126684537852.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-538966126684537852.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-538966126684537852.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-538966126684537852.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-538966126684537852.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-538966126684537852.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-538966126684537852.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-538966126684537852.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-538966126684537852.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-538966126684537852.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-538966126684537852.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-538966126684537852.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-538966126684537852 .focus\:\!gp-shadow-none,.gps-538966126684537852 .hover\:\!gp-shadow-none{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-538966126684537852 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-538966126684537852 .gp-fixed{position:fixed}.gps-538966126684537852 .gp-relative{position:relative}.gps-538966126684537852 .gp-top-\[27px\]{top:27px}.gps-538966126684537852 .gp-z-1{z-index:1}.gps-538966126684537852 .gp-z-100{z-index:100}.gps-538966126684537852 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-538966126684537852 .gp-mb-0{margin-bottom:0}.gps-538966126684537852 .\!gp-inline{display:inline!important}.gps-538966126684537852 .gp-flex{display:flex}.gps-538966126684537852 .gp-inline-flex{display:inline-flex}.gps-538966126684537852 .gp-grid{display:grid}.gps-538966126684537852 .\!gp-hidden{display:none!important}.gps-538966126684537852 .gp-hidden{display:none}.gps-538966126684537852 .\!gp-h-auto{height:auto!important}.gps-538966126684537852 .gp-h-full{height:100%}.gps-538966126684537852 .gp-w-full{width:100%}.gps-538966126684537852 .gp-max-w-full{max-width:100%}.gps-538966126684537852 .gp-shrink-0{flex-shrink:0}.gps-538966126684537852 .gp-flex-col{flex-direction:column}.gps-538966126684537852 .gp-items-center{align-items:center}.gps-538966126684537852 .gp-justify-center{justify-content:center}.gps-538966126684537852 .gp-gap-y-0{row-gap:0}.gps-538966126684537852 .gp-overflow-hidden{overflow:hidden}.gps-538966126684537852 .gp-break-words{overflow-wrap:break-word}.gps-538966126684537852 .gp-rounded{border-radius:4px}.gps-538966126684537852 .gp-rounded-none{border-radius:0}.gps-538966126684537852 .\!gp-bg-none{background-image:none!important}.gps-538966126684537852 .gp-p-\[16px\]{padding:16px}.gps-538966126684537852 .gp-text-\[14px\]{font-size:14px}.gps-538966126684537852 .gp-leading-normal{line-height:1.5}.gps-538966126684537852 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-538966126684537852 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-538966126684537852 .gp-no-underline{text-decoration-line:none}.gps-538966126684537852 .\!gp-outline-none{outline:2px solid transparent!important;outline-offset:2px!important}.gps-538966126684537852 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-538966126684537852 .gp-duration-200{transition-duration:.2s}.gps-538966126684537852 .gp-duration-300{transition-duration:.3s}.gps-538966126684537852 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-538966126684537852 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-538966126684537852 .hover\:\!gp-shadow-none:hover{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}}.gps-538966126684537852 .focus\:\!gp-shadow-none:focus{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}.gps-538966126684537852 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-538966126684537852 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-538966126684537852 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-538966126684537852 .tablet\:\!gp-hidden{display:none!important}.gps-538966126684537852 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-538966126684537852 .mobile\:\!gp-hidden{display:none!important}.gps-538966126684537852 .mobile\:gp-hidden{display:none}}.gps-538966126684537852 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-538966126684537852 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1023px){.gps-538966126684537852 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-538966126684537852 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-538966126684537852 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-538966126684537852 .\[\&_p\]\:gp-inline p{display:inline}.gps-538966126684537852 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-538966126684537852 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-538966126684537852 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gPuqyadVDp" data-id="gPuqyadVDp"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-4xl);--pl:50px;--pb:var(--g-s-xl);--pr:50px;--pt-mobile:var(--g-s-4xl);--pl-mobile:15px;--pb-mobile:24px;--pr-mobile:15px;--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gPuqyadVDp gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g-uOD0HaoY gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g7Ber4NegR" data-id="g7Ber4NegR"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-3xl);--cg:30px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 8fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g7Ber4NegR gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gWQ5TV0WmH gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="g4MiAw6G8E">
    <div
      parentTag="Col"
        class="g4MiAw6G8E "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg4MiAw6G8E_text }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gWi6gz_6XA">
    <div
      parentTag="Col"
        class="gWi6gz_6XA "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:var(--g-s-3xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggWi6gz_6XA_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gDcDWVdFPw gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gIh5txoecg" data-id="gIh5txoecg"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:30px;--pc:start;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gIh5txoecg gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gNmg5Lxdm1 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gzyshEIAyV">
    <div
      parentTag="Col"
        class="gzyshEIAyV "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--pl:var(--g-s-2xl);--pl-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggzyshEIAyV_text }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gXdrNUJCd6">
    <div
      parentTag="Col"
        class="gXdrNUJCd6 "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pl:var(--g-s-2xl);--mb-mobile:var(--g-s-2xl);--pl-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggXdrNUJCd6_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g0kSD-lsD3 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gBAS6Qpp22">
    <div
      parentTag="Col"
        class="gBAS6Qpp22 "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--pl:var(--g-s-2xl);--pl-mobile:2px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggBAS6Qpp22_text }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gofsv2QuFf">
    <div
      parentTag="Col"
        class="gofsv2QuFf "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pl:var(--g-s-2xl);--mb-mobile:var(--g-s-2xl);--pl-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggofsv2QuFf_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gyhLV5e28v gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="g4zhl0hcxm">
    <div
      parentTag="Col"
        class="g4zhl0hcxm "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--pl:var(--g-s-2xl);--pl-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg4zhl0hcxm_text }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gw8AIvyvZK">
    <div
      parentTag="Col"
        class="gw8AIvyvZK "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s);--pl:var(--g-s-2xl);--pl-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggw8AIvyvZK_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="g6mzwepqZg">
    <div
      parentTag="Col"
        class="g6mzwepqZg "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s);--pl:var(--g-s-2xl);--pl-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg6mzwepqZg_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gkf74HWVxM">
    <div
      parentTag="Col"
        class="gkf74HWVxM "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s);--pl:var(--g-s-2xl);--pl-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggkf74HWVxM_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gE12Z3s9-r">
    <div
      parentTag="Col"
        class="gE12Z3s9-r "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pl:var(--g-s-2xl);--pl-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggE12Z3s9-r_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gkMDtY3Umn gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="glvrOsNUEI">
    <div
      parentTag="Col"
        class="glvrOsNUEI "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--pl:var(--g-s-2xl);--pl-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gglvrOsNUEI_text }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gsv5CWbTdk">
    <div
      parentTag="Col"
        class="gsv5CWbTdk "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s);--pl:var(--g-s-2xl);--pl-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggsv5CWbTdk_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gQ6vs4aVl1">
    <div
      parentTag="Col"
        class="gQ6vs4aVl1 "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s);--pl:var(--g-s-2xl);--pl-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggQ6vs4aVl1_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gSL8SFQi83">
    <div
      parentTag="Col"
        class="gSL8SFQi83 "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s);--pl:var(--g-s-2xl);--pl-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggSL8SFQi83_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gae-FOTlkM">
    <div
      parentTag="Col"
        class="gae-FOTlkM "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pl:var(--g-s-2xl);--pl-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggae-FOTlkM_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="giKBTF9I-5" data-id="giKBTF9I-5"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-3xl);--ml-mobile:auto;--mb-mobile:var(--g-s-3xl);--mr-mobile:auto;--pl-mobile:0px;--pr-mobile:0px;--cg:64px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-tablet:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="giKBTF9I-5 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g_2H1iYERN gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gAA2x83m-o" data-id="gAA2x83m-o"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pos-mobile:static;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAA2x83m-o gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gktlm5COfq gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gWy292dkRg">
    <div
      parentTag="Col"
        class="gWy292dkRg "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-text-1 gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggWy292dkRg_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="ggpZYy2gSF gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:var(--g-s-xl)" class="gWyldZa5Fc ">
      
    <gp-form
      id="gWyldZa5Fc"
      data-id="gWyldZa5Fc"
      
      data-submit-action=''
      data-callback='{"link":"","target":"_self"}'
    >
      <a
        hidden
        id="gp-form-callback-gWyldZa5Fc"
        href="" target=""
      >
      </a>
      {% form 'customer', class: 'gp-form-gWyldZa5Fc ', id: 'contact_form_gWyldZa5Fc' %}
        {% if form.errors %}
          <div
            id="gp-form-error-gWyldZa5Fc"
            class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
            style="background-color:#FFE9E9;left:50%;transform:translateX(-50%);color:#EA3335"
          >
            {{ section.settings.ggWyldZa5Fc_errorMessage }}
          </div>
        {% endif %}
        <div popover id="my-popover-gWyldZa5Fc">
        <style>
            #my-popover-gWyldZa5Fc::backdrop {
              width: fit-content;
              height: fit-content;
            }
        </style>
        <div
          id="gp-form-success-gWyldZa5Fc"
          class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
          style="background-color:#F2FFEC;left:50%;transform:translateX(-50%);color:#52C41A"
        >
          {{ section.settings.ggWyldZa5Fc_successMessage }}
        </div></div>
        
       
      
    <div
      parentTag="Newsletter" id="g0gmXUIaX8" data-id="g0gmXUIaX8"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:0px;--cg-mobile:0px;--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g0gmXUIaX8 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ggaEpv-4Hh gp-relative gp-flex gp-flex-col"
    >
      
    <div
    data-id="g-of1MPtmi"
      class="g-of1MPtmi"
      style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    >
      <input
        type="email"
        class="gp-form-item gp-g-paragraph-1 !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none"
        style="--pl:16px;--pr:16px;--pt:12px;--pb:12px;--w:445px;--w-tablet:100%;--w-mobile:310px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0;--shadow:none"
        placeholder="{{ section.settings.gg-of1MPtmi_placeholder }}"
        {% if true %}
        required
        {% endif %}
        name="contact[email]"
        value=""
        autocomplete="email"
      ></input>
    </div>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g0oSvOp8dp gp-relative gp-flex gp-flex-col"
    >
      
    
  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    
  >
    <style>
    .g3DTJgJIcU.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #E0E0E0;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .g3DTJgJIcU:hover::before {
      border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #E0E0E0;
  
      
    }

    .g3DTJgJIcU:hover .gp-button-icon {
      color: undefined;
    }

     .g3DTJgJIcU .gp-button-icon {
      color: var(--g-c-text-1, text-1);
    }

    .g3DTJgJIcU:hover .gp-button-price {
      color: undefined;
    }

    .g3DTJgJIcU .gp-button-price {
      color: var(--g-c-text-1, text-1);
    }

    .g3DTJgJIcU .gp-product-dot-price {
       color: var(--g-c-text-1, text-1);
    }

    .g3DTJgJIcU:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="submit" data-id="g3DTJgJIcU" aria-label
      
      data-state="idle"
      class="g3DTJgJIcU gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-1 gp-g-paragraph-1"
      style="--hvr-bg:rgba(89, 89, 89, 0);--bg:rgba(18, 18, 18, 0);--pl:12px;--pr:12px;--pt:16px;--pb:17px;--pl-tablet:12px;--pr-tablet:12px;--pt-tablet:16px;--pb-tablet:17px;--pl-mobile:12px;--pr-mobile:12px;--pt-mobile:16px;--pb-mobile:16px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:var(--g-c-text-1, text-1)"
    >
      
    <div
    class="gp-inline-flex">
    <span
        class="gp-inline-flex gp-button-icon gp-transition-colors gp-duration-300 gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M32 256a16 16 0 0 1 16 -16h377.376l-100.704 -100.672a16 16 0 0 1 22.656 -22.656l128 128a16 16 0 0 1 0 22.656l-128 128a16 16 0 0 1 -22.656 -22.656L425.376 272H48A16 16 0 0 1 32 256z" /></svg></span>
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden gp-g-paragraph-1
        "
        
      >
        
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

  
    </div>
    </div>
   
    
      {% endform %}
    </gp-form>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-form.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gzJGsP01nu gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gfdBZcEq2h"
    role="presentation"
    class="gp-group/image gfdBZcEq2h"
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:var(--g-s-xl);--ta:left;--ta-mobile:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;overflow:hidden;--ta:left;--ta-mobile:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="https://ucarecdn.com/0a237894-3819-4841-9c56-576645ebcc2c/-/format/auto/" />
        <source media="(max-width: 1023px)" srcset="https://ucarecdn.com/0a237894-3819-4841-9c56-576645ebcc2c/-/format/auto/" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="https://ucarecdn.com/0a237894-3819-4841-9c56-576645ebcc2c/-/format/auto/"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:278/30;--aspect-tablet:278/30;--aspect-mobile:278/30;--objf:fill;--w:278px;--w-tablet:278px;--w-mobile:278px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="https://ucarecdn.com/0a237894-3819-4841-9c56-576645ebcc2c/-/format/auto/" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="https://ucarecdn.com/0a237894-3819-4841-9c56-576645ebcc2c/-/format/auto/" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="https://ucarecdn.com/0a237894-3819-4841-9c56-576645ebcc2c/-/format/auto/"
        width="100%"
        alt="Alt Image"
        style="--aspect:278/30;--aspect-tablet:278/30;--aspect-mobile:278/30;--objf:fill;--w:278px;--w-tablet:278px;--w-mobile:278px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gOj_lPTeIQ gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gyP0g2NKbu" data-id="gyP0g2NKbu"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pl:29px;--pl-mobile:0px;--cg:var(--g-s-xl);--pc:center;--pc-mobile:start;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gyP0g2NKbu gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="gOoBPYq8F3 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gDdKJbbkN4">
    <div
      parentTag="Col"
        class="gDdKJbbkN4 "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggDdKJbbkN4_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="g7HUyc-QJo gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gtw1xOmrNS">
    <div
      parentTag="Col"
        class="gtw1xOmrNS "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggtw1xOmrNS_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
  <gp-text data-id="g4K7Twh49z">
    <div
      parentTag="Col"
        class="g4K7Twh49z "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl);--pl-mobile:16px;--pr-mobile:16px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#B4B4B4;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg4K7Twh49z_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="ge2G7eX7II">
    <div
      parentTag="Col"
        class="ge2G7eX7II "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gge2G7eX7II_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 12",
    "tag": "section",
    "class": "gps-538966126684537852 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/2a1421-6c/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=538965637511250730&sectionId=538966126684537852)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg4MiAw6G8E_text","label":"gg4MiAw6G8E_text","default":"<p>About</p>"},{"type":"html","id":"ggWi6gz_6XA_text","label":"ggWi6gz_6XA_text","default":"<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus imperdiet, quam sit amet convallis tempor, nisl metus aliquet magna, et imperdiet</p>"},{"type":"html","id":"ggzyshEIAyV_text","label":"ggzyshEIAyV_text","default":"<p>Address</p>"},{"type":"html","id":"ggXdrNUJCd6_text","label":"ggXdrNUJCd6_text","default":"<p>Signel 465<br>1012 WP Amsterdam<br>The Netherlands</p>"},{"type":"html","id":"ggBAS6Qpp22_text","label":"ggBAS6Qpp22_text","default":"<p>Contact</p>"},{"type":"html","id":"ggofsv2QuFf_text","label":"ggofsv2QuFf_text","default":"<p>Email us<br>+31 (0) 20 255 6485</p>"},{"type":"html","id":"gg4zhl0hcxm_text","label":"gg4zhl0hcxm_text","default":"<p>Info</p>"},{"type":"html","id":"ggw8AIvyvZK_text","label":"ggw8AIvyvZK_text","default":"<p><a href=\"#\">Shipping</a></p>"},{"type":"html","id":"gg6mzwepqZg_text","label":"gg6mzwepqZg_text","default":"<p><a href=\"#\">Returns</a></p>"},{"type":"html","id":"ggkf74HWVxM_text","label":"ggkf74HWVxM_text","default":"<p><a href=\"#\">Careers</a></p>"},{"type":"html","id":"ggE12Z3s9-r_text","label":"ggE12Z3s9-r_text","default":"<p><a href=\"#\">Store Locator</a></p>"},{"type":"html","id":"gglvrOsNUEI_text","label":"gglvrOsNUEI_text","default":"<p>Follow us</p>"},{"type":"html","id":"ggsv5CWbTdk_text","label":"ggsv5CWbTdk_text","default":"<p><a href=\"#\">Instagram</a></p>"},{"type":"html","id":"ggQ6vs4aVl1_text","label":"ggQ6vs4aVl1_text","default":"<p><a href=\"#\">Facebook</a></p>"},{"type":"html","id":"ggSL8SFQi83_text","label":"ggSL8SFQi83_text","default":"<p><a href=\"#\">Pinterest</a></p>"},{"type":"html","id":"ggae-FOTlkM_text","label":"ggae-FOTlkM_text","default":"<p><a href=\"#\">Tiktok</a></p>"},{"type":"html","id":"ggWy292dkRg_text","label":"ggWy292dkRg_text","default":"<p>Join our<br>newsletter.</p>"},{"type":"html","id":"ggWyldZa5Fc_successMessage","label":"ggWyldZa5Fc_successMessage","default":"Thanks for contacting us. We'll get back to you as soon as possible."},{"type":"html","id":"ggWyldZa5Fc_errorMessage","label":"ggWyldZa5Fc_errorMessage","default":"Can’t send email. Please try again later."},{"type":"html","id":"gg-of1MPtmi_placeholder","label":"gg-of1MPtmi_placeholder","default":"Search..."},{"type":"html","id":"ggDdKJbbkN4_text","label":"ggDdKJbbkN4_text","default":"<p><a href=\"#\">Terms &amp; conditions</a></p>"},{"type":"html","id":"ggtw1xOmrNS_text","label":"ggtw1xOmrNS_text","default":"<p><a href=\"#\">Privacy statement</a></p>"},{"type":"html","id":"gg4K7Twh49z_text","label":"gg4K7Twh49z_text","default":"<p>This site protected by reCAPTCHA and the Google <a href=\"#\"><u>Privacy Policy</u></a> and <a href=\"#\"><u>Terms of Service</u></a> apply.</p>"},{"type":"html","id":"gge2G7eX7II_text","label":"gge2G7eX7II_text","default":"<p>Copyright © 2022 GemPages.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
