

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-538966100495303827.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-538966100495303827.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-538966100495303827.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-538966100495303827.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-538966100495303827.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-538966100495303827.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-538966100495303827.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-538966100495303827.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-538966100495303827.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-538966100495303827.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-538966100495303827.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-538966100495303827.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-538966100495303827.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-538966100495303827.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-538966100495303827.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-538966100495303827.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-538966100495303827.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-538966100495303827.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-538966100495303827.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-538966100495303827.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-538966100495303827.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-538966100495303827.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-538966100495303827.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-538966100495303827.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-538966100495303827.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-538966100495303827.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-538966100495303827.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-538966100495303827.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-538966100495303827.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-538966100495303827.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-538966100495303827.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-538966100495303827.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-538966100495303827.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-538966100495303827.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-538966100495303827.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-538966100495303827.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-538966100495303827.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-538966100495303827.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-538966100495303827.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-538966100495303827.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-538966100495303827.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-538966100495303827.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-538966100495303827.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-538966100495303827.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-538966100495303827.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-538966100495303827.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-538966100495303827.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-538966100495303827.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-538966100495303827.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-538966100495303827.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-538966100495303827.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-538966100495303827.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-538966100495303827.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-538966100495303827.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-538966100495303827.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-538966100495303827.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-538966100495303827.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-538966100495303827.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-538966100495303827.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-538966100495303827.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-538966100495303827.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-538966100495303827.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-538966100495303827 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-538966100495303827 .gp-relative{position:relative}.gps-538966100495303827 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-538966100495303827 .gp-mb-0{margin-bottom:0}.gps-538966100495303827 .\!gp-inline{display:inline!important}.gps-538966100495303827 .gp-flex{display:flex}.gps-538966100495303827 .gp-grid{display:grid}.gps-538966100495303827 .\!gp-hidden{display:none!important}.gps-538966100495303827 .gp-hidden{display:none}.gps-538966100495303827 .gp-h-full{height:100%}.gps-538966100495303827 .gp-w-full{width:100%}.gps-538966100495303827 .gp-max-w-full{max-width:100%}.gps-538966100495303827 .gp-flex-col{flex-direction:column}.gps-538966100495303827 .gp-gap-y-0{row-gap:0}.gps-538966100495303827 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-538966100495303827 .gp-duration-200{transition-duration:.2s}.gps-538966100495303827 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-538966100495303827 .tablet\:\!gp-hidden{display:none!important}.gps-538966100495303827 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-538966100495303827 .mobile\:\!gp-hidden{display:none!important}.gps-538966100495303827 .mobile\:gp-hidden{display:none}}.gps-538966100495303827 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-538966100495303827 .\[\&_p\]\:gp-inline p{display:inline}.gps-538966100495303827 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-538966100495303827 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gkXfu-XxyL" data-id="gkXfu-XxyL"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-4xl);--pb:var(--g-s-xl);--pt-mobile:var(--g-s-4xl);--pb-mobile:24px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FBFDFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gkXfu-XxyL gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gLIYNALJr5 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gN4udmJSjX" data-id="gN4udmJSjX"
        style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#EEEEEE;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gN4udmJSjX gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gC6zbQ7748 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gfab3li5cN" data-id="gfab3li5cN"
        style="--bs:solid;--bw:0px 0px 0px 0px;--bc:#EEEEEE;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pl-tablet:15px;--pr-tablet:15px;--cg:undefinedpx;--pc:start;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gfab3li5cN gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g8EK7wOMkS gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gV7inBPAZU" data-id="gV7inBPAZU"
        style="--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-3xl);--pl:var(--g-s-3xl);--pb:var(--g-s-3xl);--pr:var(undefined);--pt-mobile:var(--g-s-3xl);--pl-mobile:0px;--pb-mobile:var(--g-s-3xl);--pr-mobile:var(undefined);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gV7inBPAZU gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g21EVnSVet gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gGAbas49J4">
    <div
      parentTag="Col"
        class="gGAbas49J4 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggGAbas49J4_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gZiHSudkZM">
    <div
      parentTag="Col"
        class="gZiHSudkZM "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggZiHSudkZM_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="g-1AiY8ncr">
    <div
      parentTag="Col"
        class="g-1AiY8ncr "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg-1AiY8ncr_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="grjg5Bk7Zl">
    <div
      parentTag="Col"
        class="grjg5Bk7Zl "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggrjg5Bk7Zl_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="geZJZE9toK gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gXJEf9QzC7" data-id="gXJEf9QzC7"
        style="--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-3xl);--pl:var(--g-s-3xl);--pb:var(--g-s-3xl);--pr:var(undefined);--pt-mobile:var(--g-s-3xl);--pl-mobile:var(--g-s-2xl);--pb-mobile:var(--g-s-3xl);--pr-mobile:var(undefined);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gXJEf9QzC7 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g1t00Bxwtw gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gxgKTyAq5w">
    <div
      parentTag="Col"
        class="gxgKTyAq5w "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggxgKTyAq5w_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gNnKqzYU50">
    <div
      parentTag="Col"
        class="gNnKqzYU50 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggNnKqzYU50_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="g4FZTpM9LB">
    <div
      parentTag="Col"
        class="g4FZTpM9LB "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg4FZTpM9LB_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gAGd1HSrNX">
    <div
      parentTag="Col"
        class="gAGd1HSrNX "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggAGd1HSrNX_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="g_QT1z-D7L">
    <div
      parentTag="Col"
        class="g_QT1z-D7L "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg_QT1z-D7L_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gYNKIYdBy- gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gjvHiIyuX9" data-id="gjvHiIyuX9"
        style="--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-3xl);--pl:var(--g-s-3xl);--pb:var(--g-s-3xl);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:var(--g-s-3xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gjvHiIyuX9 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gEhAGqVeMw gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gKOvmyKYCR">
    <div
      parentTag="Col"
        class="gKOvmyKYCR "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggKOvmyKYCR_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gy1PON7M3Z">
    <div
      parentTag="Col"
        class="gy1PON7M3Z "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggy1PON7M3Z_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gx-L4vt6BT">
    <div
      parentTag="Col"
        class="gx-L4vt6BT "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggx-L4vt6BT_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gNm0QtghWb">
    <div
      parentTag="Col"
        class="gNm0QtghWb "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggNm0QtghWb_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gHNXyMvm8U">
    <div
      parentTag="Col"
        class="gHNXyMvm8U "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggHNXyMvm8U_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gVDjULTq8F gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gFkUjXH2ak" data-id="gFkUjXH2ak"
        style="--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-3xl);--pl:var(--g-s-3xl);--pb:var(--g-s-3xl);--pt-mobile:0px;--pl-mobile:var(--g-s-2xl);--pb-mobile:var(--g-s-3xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gFkUjXH2ak gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gMGcPIL66l gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gkf2-sVGxQ">
    <div
      parentTag="Col"
        class="gkf2-sVGxQ "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggkf2-sVGxQ_text }}</div>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      parentTag="Col" id="gwCkYXLsQL" data-id="gwCkYXLsQL"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-l);--cg:12px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gwCkYXLsQL gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gpQGphq7dL gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="g1OrY7SGpb">
    <div
      parentTag="Col"
        class="g1OrY7SGpb "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg1OrY7SGpb_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gh1YSNI-RP gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gr7XHA6mWD">
    <div
      parentTag="Col"
        class="gr7XHA6mWD "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggr7XHA6mWD_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="g7lClEXAOZ" data-id="g7lClEXAOZ"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:12px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g7lClEXAOZ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gGzdgSuGh- gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="guaD-ItKL4">
    <div
      parentTag="Col"
        class="guaD-ItKL4 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.gguaD-ItKL4_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g86ccHZigY gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="g_-NXC7iRQ">
    <div
      parentTag="Col"
        class="g_-NXC7iRQ "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg_-NXC7iRQ_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gMj1qdsh5l" data-id="gMj1qdsh5l"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pl:var(--g-s-3xl);--pl-mobile:15px;--pr-mobile:15px;--pl-tablet:var(--g-s-3xl);--pr-tablet:var(--g-s-3xl);--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gMj1qdsh5l gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:1"
      class="gw-RFYs6us gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="giZ7FudY2y">
    <div
      parentTag="Col"
        class="giZ7FudY2y "
        style="--ta:left;--ta-mobile:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggiZ7FudY2y_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:0"
      class="gZgSwTI6XU gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g7rAC5fRX0"
    role="presentation"
    class="gp-group/image g7rAC5fRX0"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:var(--g-s-xl);--ta:right;--ta-mobile:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:right;--ta-mobile:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-5c8d41b6-2bf7-4ca7-8a50-c5b37b857c4c_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-5c8d41b6-2bf7-4ca7-8a50-c5b37b857c4c_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-5c8d41b6-2bf7-4ca7-8a50-c5b37b857c4c.png" | file_url }}"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:685/72;--aspect-tablet:685/72;--aspect-mobile:685/72;--objf:fill;--w:200px;--w-tablet:200px;--w-mobile:200px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-5c8d41b6-2bf7-4ca7-8a50-c5b37b857c4c_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-5c8d41b6-2bf7-4ca7-8a50-c5b37b857c4c_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-5c8d41b6-2bf7-4ca7-8a50-c5b37b857c4c.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:685/72;--aspect-tablet:685/72;--aspect-mobile:685/72;--objf:fill;--w:200px;--w-tablet:200px;--w-mobile:200px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 11",
    "tag": "section",
    "class": "gps-538966100495303827 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/2a1421-6c/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=538965637511250730&sectionId=538966100495303827)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggGAbas49J4_text","label":"ggGAbas49J4_text","default":"<p>Product</p>"},{"type":"html","id":"ggZiHSudkZM_text","label":"ggZiHSudkZM_text","default":"<p><a href=\"#\">Features</a></p>"},{"type":"html","id":"gg-1AiY8ncr_text","label":"gg-1AiY8ncr_text","default":"<p><a href=\"#\">Pricing</a></p>"},{"type":"html","id":"ggrjg5Bk7Zl_text","label":"ggrjg5Bk7Zl_text","default":"<p><a href=\"#\">Download</a></p>"},{"type":"html","id":"ggxgKTyAq5w_text","label":"ggxgKTyAq5w_text","default":"<p>Company</p>"},{"type":"html","id":"ggNnKqzYU50_text","label":"ggNnKqzYU50_text","default":"<p><a href=\"#\">About</a></p>"},{"type":"html","id":"gg4FZTpM9LB_text","label":"gg4FZTpM9LB_text","default":"<p><a href=\"#\">Blog</a></p>"},{"type":"html","id":"ggAGd1HSrNX_text","label":"ggAGd1HSrNX_text","default":"<p><a href=\"#\">Contact</a></p>"},{"type":"html","id":"gg_QT1z-D7L_text","label":"gg_QT1z-D7L_text","default":"<p><a href=\"#\">Sign up</a></p>"},{"type":"html","id":"ggKOvmyKYCR_text","label":"ggKOvmyKYCR_text","default":"<p>Community</p>"},{"type":"html","id":"ggy1PON7M3Z_text","label":"ggy1PON7M3Z_text","default":"<p><a href=\"#\">Help</a></p>"},{"type":"html","id":"ggx-L4vt6BT_text","label":"ggx-L4vt6BT_text","default":"<p><a href=\"#\">Discord</a></p>"},{"type":"html","id":"ggNm0QtghWb_text","label":"ggNm0QtghWb_text","default":"<p><a href=\"#\">Twitter</a></p>"},{"type":"html","id":"ggHNXyMvm8U_text","label":"ggHNXyMvm8U_text","default":"<p><a href=\"#\">Linked in</a></p>"},{"type":"html","id":"ggkf2-sVGxQ_text","label":"ggkf2-sVGxQ_text","default":"<p>GemPages</p>"},{"type":"html","id":"gg1OrY7SGpb_text","label":"gg1OrY7SGpb_text","default":"<p>A:</p>"},{"type":"html","id":"ggr7XHA6mWD_text","label":"ggr7XHA6mWD_text","default":"<p>184 Main Rd E, St Albans VIC 3021, Australia</p>"},{"type":"html","id":"gguaD-ItKL4_text","label":"gguaD-ItKL4_text","default":"<p>P:</p>"},{"type":"html","id":"gg_-NXC7iRQ_text","label":"gg_-NXC7iRQ_text","default":"<p>+012 345 6789</p>"},{"type":"html","id":"ggiZ7FudY2y_text","label":"ggiZ7FudY2y_text","default":"<p>Copyright © 2022 GemPages. All Rights Reserved.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
