

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-539461211792606112.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-539461211792606112.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-539461211792606112.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-539461211792606112.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-539461211792606112.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-539461211792606112.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-539461211792606112.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-539461211792606112.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-539461211792606112.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-539461211792606112.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-539461211792606112.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-539461211792606112.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-539461211792606112.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-539461211792606112.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-539461211792606112.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-539461211792606112.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-539461211792606112.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-539461211792606112.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-539461211792606112.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-539461211792606112.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-539461211792606112.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-539461211792606112.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-539461211792606112.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-539461211792606112.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-539461211792606112.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-539461211792606112.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-539461211792606112.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-539461211792606112.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-539461211792606112.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-539461211792606112.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-539461211792606112.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-539461211792606112.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-539461211792606112.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-539461211792606112.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-539461211792606112.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-539461211792606112.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-539461211792606112.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-539461211792606112.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-539461211792606112.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-539461211792606112.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-539461211792606112.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-539461211792606112.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-539461211792606112.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-539461211792606112.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-539461211792606112.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-539461211792606112.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-539461211792606112.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-539461211792606112.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-539461211792606112.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-539461211792606112.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-539461211792606112.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-539461211792606112.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-539461211792606112.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-539461211792606112.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-539461211792606112.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-539461211792606112.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-539461211792606112.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-539461211792606112.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-539461211792606112.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-539461211792606112.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-539461211792606112.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-539461211792606112.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-539461211792606112.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-539461211792606112.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-539461211792606112.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-539461211792606112 .gp-relative{position:relative}.gps-539461211792606112 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-539461211792606112 .gp-mb-0{margin-bottom:0}.gps-539461211792606112 .\!gp-inline{display:inline!important}.gps-539461211792606112 .gp-flex{display:flex}.gps-539461211792606112 .gp-grid{display:grid}.gps-539461211792606112 .\!gp-hidden{display:none!important}.gps-539461211792606112 .gp-hidden{display:none}.gps-539461211792606112 .gp-h-full{height:100%}.gps-539461211792606112 .gp-w-full{width:100%}.gps-539461211792606112 .gp-max-w-full{max-width:100%}.gps-539461211792606112 .gp-flex-col{flex-direction:column}.gps-539461211792606112 .gp-gap-y-0{row-gap:0}.gps-539461211792606112 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-539461211792606112 .gp-duration-200{transition-duration:.2s}.gps-539461211792606112 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-539461211792606112 .tablet\:\!gp-hidden{display:none!important}.gps-539461211792606112 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-539461211792606112 .mobile\:\!gp-hidden{display:none!important}.gps-539461211792606112 .mobile\:gp-hidden{display:none}}.gps-539461211792606112 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-539461211792606112 .\[\&_p\]\:gp-inline p{display:inline}.gps-539461211792606112 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-539461211792606112 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gilGEofyZ9" data-id="gilGEofyZ9"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-3xl);--pl:15px;--pb:var(--g-s-2xl);--pr:15px;--pt-mobile:var(--g-s-2xl);--pl-mobile:15px;--pb-mobile:var(--g-s-l);--pr-mobile:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url({{ "gempages_537482810403849348-2c326a83-1582-452f-99c4-50ad924000c0.svg" | file_url }});--bgp:50% 100%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gilGEofyZ9 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g9e22LmDFT gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="glr_kAbGzB" data-id="glr_kAbGzB"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-l);--cg:30px;--pc:start;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="glr_kAbGzB gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gIgfe0x7Pa gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="goD3wGD5if" data-id="goD3wGD5if"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mt:var(--g-s-s);--mb:var(--g-s-s);--mt-mobile:var(--g-s-l);--mb-mobile:var(--g-s-l);--mt-tablet:var(--g-s-s);--mb-tablet:var(--g-s-l);--cg:24px;--cg-mobile:10px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="goD3wGD5if gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="giXCPmApXO gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gC0grhZSkG"
    role="presentation"
    class="gp-group/image gC0grhZSkG"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-078129fc-26ec-4dc9-b3dd-97d8bdb484c9_768x.svg" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-078129fc-26ec-4dc9-b3dd-97d8bdb484c9_1024x.svg" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-078129fc-26ec-4dc9-b3dd-97d8bdb484c9.svg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:42/42;--aspect-tablet:42/42;--aspect-mobile:42/42;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:32px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-078129fc-26ec-4dc9-b3dd-97d8bdb484c9_768x.svg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-078129fc-26ec-4dc9-b3dd-97d8bdb484c9_1024x.svg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-078129fc-26ec-4dc9-b3dd-97d8bdb484c9.svg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:42/42;--aspect-tablet:42/42;--aspect-mobile:42/42;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:32px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g05i4SdWga gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gd_ExrE8Ec">
    <div
      parentTag="Col"
        class="gd_ExrE8Ec "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggd_ExrE8Ec_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gZKLXtvNRE">
    <div
      parentTag="Col"
        class="gZKLXtvNRE "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#B4B4B4;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggZKLXtvNRE_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gdKOICm21V gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g0mZMVGF1v" data-id="g0mZMVGF1v"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mt:var(--g-s-s);--mb:var(--g-s-s);--mt-mobile:var(--g-s-l);--mb-mobile:var(--g-s-l);--mt-tablet:var(--g-s-s);--mb-tablet:var(--g-s-l);--cg:24px;--cg-mobile:10px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g0mZMVGF1v gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g7Awcs-hID gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g9h7mIn3kT"
    role="presentation"
    class="gp-group/image g9h7mIn3kT"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-b0bcf63b-0f29-407a-abdc-7811a1a26d8a_768x.svg" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-b0bcf63b-0f29-407a-abdc-7811a1a26d8a_1024x.svg" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-b0bcf63b-0f29-407a-abdc-7811a1a26d8a.svg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:40/40;--aspect-tablet:40/40;--aspect-mobile:40/40;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:32px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-b0bcf63b-0f29-407a-abdc-7811a1a26d8a_768x.svg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-b0bcf63b-0f29-407a-abdc-7811a1a26d8a_1024x.svg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-b0bcf63b-0f29-407a-abdc-7811a1a26d8a.svg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:40/40;--aspect-tablet:40/40;--aspect-mobile:40/40;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:32px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gfi3k_el8w gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gm4J-u1Q4j">
    <div
      parentTag="Col"
        class="gm4J-u1Q4j "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggm4J-u1Q4j_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gkRKAe8skL">
    <div
      parentTag="Col"
        class="gkRKAe8skL "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#B4B4B4;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggkRKAe8skL_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gMQGWBzz2e gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gmqEPk5jjR" data-id="gmqEPk5jjR"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mt:var(--g-s-s);--mb:var(--g-s-s);--mt-mobile:var(--g-s-l);--mb-mobile:var(--g-s-l);--cg:24px;--cg-mobile:10px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gmqEPk5jjR gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g24T1KZdK7 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gfwBTQi5wE"
    role="presentation"
    class="gp-group/image gfwBTQi5wE"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-4ec360ef-742b-4309-a219-5953f203a46a_768x.svg" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-4ec360ef-742b-4309-a219-5953f203a46a_1024x.svg" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-4ec360ef-742b-4309-a219-5953f203a46a.svg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:42/42;--aspect-tablet:42/42;--aspect-mobile:42/42;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:32px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-4ec360ef-742b-4309-a219-5953f203a46a_768x.svg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-4ec360ef-742b-4309-a219-5953f203a46a_1024x.svg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-4ec360ef-742b-4309-a219-5953f203a46a.svg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:42/42;--aspect-tablet:42/42;--aspect-mobile:42/42;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:32px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ggi4K0lmpJ gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gtkmDKs3rH">
    <div
      parentTag="Col"
        class="gtkmDKs3rH "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggtkmDKs3rH_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gIlE4hD-Aj">
    <div
      parentTag="Col"
        class="gIlE4hD-Aj "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#B4B4B4;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggIlE4hD-Aj_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gkAcmAOw-f gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gs6AusHtrZ" data-id="gs6AusHtrZ"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mt:var(--g-s-s);--mb:var(--g-s-s);--mt-mobile:var(--g-s-l);--mb-mobile:var(--g-s-l);--cg:24px;--cg-mobile:10px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gs6AusHtrZ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gSxM78oF7K gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gUn5kgziMe"
    role="presentation"
    class="gp-group/image gUn5kgziMe"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-56f31413-e4e7-41a4-a479-286b7db0f827_768x.svg" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-56f31413-e4e7-41a4-a479-286b7db0f827_1024x.svg" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-56f31413-e4e7-41a4-a479-286b7db0f827.svg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:40/40;--aspect-tablet:40/40;--aspect-mobile:40/40;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:32px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-56f31413-e4e7-41a4-a479-286b7db0f827_768x.svg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-56f31413-e4e7-41a4-a479-286b7db0f827_1024x.svg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-56f31413-e4e7-41a4-a479-286b7db0f827.svg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:40/40;--aspect-tablet:40/40;--aspect-mobile:40/40;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:32px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gMWYhodfHF gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gabfyNZ9xG">
    <div
      parentTag="Col"
        class="gabfyNZ9xG "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggabfyNZ9xG_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gSW-qm1Wqq">
    <div
      parentTag="Col"
        class="gSW-qm1Wqq "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#B4B4B4;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggSW-qm1Wqq_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-539461211792606112 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/2a1421-6c/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=539461193371223172&sectionId=539461211792606112)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggd_ExrE8Ec_text","label":"ggd_ExrE8Ec_text","default":"<p>Free Delivery</p>"},{"type":"html","id":"ggZKLXtvNRE_text","label":"ggZKLXtvNRE_text","default":"<p>from $250</p>"},{"type":"html","id":"ggm4J-u1Q4j_text","label":"ggm4J-u1Q4j_text","default":"<p>Full Refund</p>"},{"type":"html","id":"ggkRKAe8skL_text","label":"ggkRKAe8skL_text","default":"<p>For free return</p>"},{"type":"html","id":"ggtkmDKs3rH_text","label":"ggtkmDKs3rH_text","default":"<p>Online Payment</p>"},{"type":"html","id":"ggIlE4hD-Aj_text","label":"ggIlE4hD-Aj_text","default":"<p>Secure Sytem</p>"},{"type":"html","id":"ggabfyNZ9xG_text","label":"ggabfyNZ9xG_text","default":"<p>Online Support</p>"},{"type":"html","id":"ggSW-qm1Wqq_text","label":"ggSW-qm1Wqq_text","default":"<p>24/7 Free Support</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
