

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-539410465663484714.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-539410465663484714.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-539410465663484714.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-539410465663484714.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-539410465663484714.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-539410465663484714.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-539410465663484714.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-539410465663484714.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-539410465663484714.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-539410465663484714.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-539410465663484714.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-539410465663484714.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-539410465663484714.gps.gpsil [style*="--bbw:"]{border-bottom-width:var(--bbw)}.gps-539410465663484714.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-539410465663484714.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-539410465663484714.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-539410465663484714.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-539410465663484714.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-539410465663484714.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-539410465663484714.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-539410465663484714.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-539410465663484714.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-539410465663484714.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-539410465663484714.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-539410465663484714.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-539410465663484714.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-539410465663484714.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-539410465663484714.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-539410465663484714.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-539410465663484714.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-539410465663484714.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-539410465663484714.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-539410465663484714.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-539410465663484714.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-539410465663484714.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-539410465663484714.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-539410465663484714.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-539410465663484714.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-539410465663484714.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-539410465663484714.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-539410465663484714.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-539410465663484714.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-539410465663484714.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-539410465663484714.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-539410465663484714.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-539410465663484714.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-539410465663484714.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-539410465663484714.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-539410465663484714.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-539410465663484714.gps.gpsil [style*="--bbw-tablet:"]{border-bottom-width:var(--bbw-tablet)}.gps-539410465663484714.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-539410465663484714.gps.gpsil [style*="--weight-tablet:"]{font-weight:var(--weight-tablet)}.gps-539410465663484714.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-539410465663484714.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-539410465663484714.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-539410465663484714.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-539410465663484714.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-539410465663484714.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-539410465663484714.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-539410465663484714.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-539410465663484714.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-539410465663484714.gps.gpsil [style*="--bbw-mobile:"]{border-bottom-width:var(--bbw-mobile)}.gps-539410465663484714.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-539410465663484714.gps.gpsil [style*="--weight-mobile:"]{font-weight:var(--weight-mobile)}.gps-539410465663484714.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-539410465663484714.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-539410465663484714.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-539410465663484714.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-539410465663484714.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-539410465663484714.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-539410465663484714.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-539410465663484714.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-539410465663484714 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-539410465663484714 .gp-relative{position:relative}.gps-539410465663484714 .gp-z-1{z-index:1}.gps-539410465663484714 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-539410465663484714 .gp-mb-0{margin-bottom:0}.gps-539410465663484714 .gp-block{display:block}.gps-539410465663484714 .gp-flex{display:flex}.gps-539410465663484714 .gp-inline-flex{display:inline-flex}.gps-539410465663484714 .gp-grid{display:grid}.gps-539410465663484714 .\!gp-hidden{display:none!important}.gps-539410465663484714 .gp-hidden{display:none}.gps-539410465663484714 .gp-h-full{height:100%}.gps-539410465663484714 .gp-max-w-full{max-width:100%}.gps-539410465663484714 .gp-flex-none{flex:none}.gps-539410465663484714 .gp-flex-col{flex-direction:column}.gps-539410465663484714 .gp-items-center{align-items:center}.gps-539410465663484714 .gp-justify-start{justify-content:flex-start}.gps-539410465663484714 .gp-justify-center{justify-content:center}.gps-539410465663484714 .gp-gap-y-0{row-gap:0}.gps-539410465663484714 .gp-overflow-hidden{overflow:hidden}.gps-539410465663484714 .gp-break-words{overflow-wrap:break-word}.gps-539410465663484714 .gp-rounded-none{border-radius:0}.gps-539410465663484714 .gp-text-center{text-align:center}.gps-539410465663484714 .gp-no-underline{text-decoration-line:none}.gps-539410465663484714 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-539410465663484714 .gp-duration-200{transition-duration:.2s}.gps-539410465663484714 .gp-duration-300{transition-duration:.3s}.gps-539410465663484714 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-539410465663484714 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-539410465663484714 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-539410465663484714 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-539410465663484714 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-539410465663484714 .tablet\:gp-block{display:block}.gps-539410465663484714 .tablet\:\!gp-hidden{display:none!important}.gps-539410465663484714 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-539410465663484714 .mobile\:gp-block{display:block}.gps-539410465663484714 .mobile\:\!gp-hidden{display:none!important}.gps-539410465663484714 .mobile\:gp-hidden{display:none}}.gps-539410465663484714 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-539410465663484714 .\[\&_p\]\:gp-inline p{display:inline}.gps-539410465663484714 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-539410465663484714 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-539410465663484714 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gNhSNqkcs3" data-id="gNhSNqkcs3"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--pt:20px;--pl:15px;--pb:50px;--pr:15px;--pt-mobile:12px;--pb-mobile:40px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNhSNqkcs3 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:start;--o:0"
      class="gV9pZcPoJN gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gbV_T0wPEp" data-id="gbV_T0wPEp"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--pt:30px;--pb:30px;--pt-mobile:auto;--pb-mobile:30px;--cg:30px;--pc:start;--gtc:minmax(0, 1fr) minmax(0, 3fr) minmax(0, 7fr) minmax(0, 1fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gbV_T0wPEp gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:start;--o:0;--d-mobile:none"
      class="gTW2_hkP1b gp-relative gp-flex gp-flex-col"
    >
      
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gwZpnHK3O8 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gAFJhypwPr" data-id="gAFJhypwPr"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pos:sticky;--radius:var(--g-radius-small);--pt:30px;--pb:30px;--pt-mobile:30px;--pb-mobile:auto;--pt-tablet:30px;--pb-tablet:auto;--top:80px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAFJhypwPr gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:start;--o:0"
      class="ghBNc2Ia4e gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--ta:left"
    
  >
    <style>
    .g2IfXBkdjD.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 0px;
  border-color: transparent;
  
      border-radius: var(--g-radius-small);
    }

    .g2IfXBkdjD:hover::before {
      
      
    }

    .g2IfXBkdjD:hover .gp-button-icon {
      color: #476DF2;
    }

     .g2IfXBkdjD .gp-button-icon {
      color: #242424;
    }

    .g2IfXBkdjD:hover .gp-button-price {
      color: #476DF2;
    }

    .g2IfXBkdjD .gp-button-price {
      color: #242424;
    }

    .g2IfXBkdjD .gp-product-dot-price {
       color: #242424;
    }

    .g2IfXBkdjD:hover .gp-product-dot-price {
      color: #476DF2;
    }
  </style>
    <a
      href="#gI5AlSt-x_" target="_self" data-id="g2IfXBkdjD" aria-label="1. General Questions"
      
      data-state="idle"
      class="g2IfXBkdjD gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:transparent;--bg:transparent;--radius:var(--g-radius-small);--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--hvr-c:#476DF2;--c:#242424;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--weight:700;--ls:0px;--lh-tablet:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden undefined
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px"
      >
        {{ section.settings.gg2IfXBkdjD_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>
<div gp-el-wrapper style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--pt:16px;--pb:16px;--pt-mobile:14px;--pb-mobile:14px" class="gQb1CvSxhU ">
      
    <div
    data-id="gQb1CvSxhU"
      class="gp-flex gp-justify-start"
    >
      <div
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:gp-rotate(0deg);--bc:var(--g-c-line-1, line-1)"
        class="gp-block tablet:gp-block mobile:gp-block"
      ></div>
      <div
        class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:var(--g-c-line-1, line-1);--t:gp-rotate(0deg)"
      >
        
    <div
      class="gp-hidden"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:var(--g-c-line-1, line-1);--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="gp-flex"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:var(--g-c-line-1, line-1);--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
      </div>
    </div>
  
      </div>
  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--ta:left"
    
  >
    <style>
    .gY_sGlYeEW.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 0px;
  border-color: transparent;
  
      border-radius: var(--g-radius-small);
    }

    .gY_sGlYeEW:hover::before {
      
      
    }

    .gY_sGlYeEW:hover .gp-button-icon {
      color: #476DF2;
    }

     .gY_sGlYeEW .gp-button-icon {
      color: #242424;
    }

    .gY_sGlYeEW:hover .gp-button-price {
      color: #476DF2;
    }

    .gY_sGlYeEW .gp-button-price {
      color: #242424;
    }

    .gY_sGlYeEW .gp-product-dot-price {
       color: #242424;
    }

    .gY_sGlYeEW:hover .gp-product-dot-price {
      color: #476DF2;
    }
  </style>
    <a
      href="#gmlQfUhmGq" target="_self" data-id="gY_sGlYeEW" aria-label="2. Product Questions"
      
      data-state="idle"
      class="gY_sGlYeEW gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:transparent;--bg:transparent;--radius:var(--g-radius-small);--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--hvr-c:#476DF2;--c:#242424;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--weight:700;--ls:0px;--lh-tablet:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden undefined
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px"
      >
        {{ section.settings.ggY_sGlYeEW_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>
<div gp-el-wrapper style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--pt:16px;--pb:16px;--pt-mobile:14px;--pb-mobile:14px" class="gfcDw2qL4y ">
      
    <div
    data-id="gfcDw2qL4y"
      class="gp-flex gp-justify-start"
    >
      <div
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:gp-rotate(0deg);--bc:var(--g-c-line-1, line-1)"
        class="gp-block tablet:gp-block mobile:gp-block"
      ></div>
      <div
        class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:var(--g-c-line-1, line-1);--t:gp-rotate(0deg)"
      >
        
    <div
      class="gp-hidden"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:var(--g-c-line-1, line-1);--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="gp-flex"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:var(--g-c-line-1, line-1);--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
      </div>
    </div>
  
      </div>
  <gp-button style="--pos:static">
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--ta:left"
    
  >
    <style>
    .gpbRWFwoE3.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 0px;
  border-color: transparent;
  
      border-radius: var(--g-radius-small);
    }

    .gpbRWFwoE3:hover::before {
      
      
    }

    .gpbRWFwoE3:hover .gp-button-icon {
      color: #476DF2;
    }

     .gpbRWFwoE3 .gp-button-icon {
      color: #242424;
    }

    .gpbRWFwoE3:hover .gp-button-price {
      color: #476DF2;
    }

    .gpbRWFwoE3 .gp-button-price {
      color: #242424;
    }

    .gpbRWFwoE3 .gp-product-dot-price {
       color: #242424;
    }

    .gpbRWFwoE3:hover .gp-product-dot-price {
      color: #476DF2;
    }
  </style>
    <a
      href="#gAUKk_ljRH" target="_self" data-id="gpbRWFwoE3" aria-label="3. Payment Questions"
      
      data-state="idle"
      class="gpbRWFwoE3 gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:transparent;--bg:transparent;--radius:var(--g-radius-small);--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--hvr-c:#476DF2;--c:#242424;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--weight:700;--ls:0px;--lh-tablet:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden undefined
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px"
      >
        {{ section.settings.ggpbRWFwoE3_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>
<div gp-el-wrapper style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--pt:16px;--pb:16px;--pt-mobile:14px;--pb-mobile:14px" class="ggKjAsIIVR ">
      
    <div
    data-id="ggKjAsIIVR"
      class="gp-flex gp-justify-start"
    >
      <div
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:gp-rotate(0deg);--bc:var(--g-c-line-1, line-1)"
        class="gp-block tablet:gp-block mobile:gp-block"
      ></div>
      <div
        class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:var(--g-c-line-1, line-1);--t:gp-rotate(0deg)"
      >
        
    <div
      class="gp-hidden"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:var(--g-c-line-1, line-1);--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="gp-flex"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:var(--g-c-line-1, line-1);--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
      </div>
    </div>
  
      </div>
  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--ta:left"
    
  >
    <style>
    .gcWRVqtngy.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 0px;
  border-color: transparent;
  
      border-radius: var(--g-radius-small);
    }

    .gcWRVqtngy:hover::before {
      
      
    }

    .gcWRVqtngy:hover .gp-button-icon {
      color: #476DF2;
    }

     .gcWRVqtngy .gp-button-icon {
      color: #242424;
    }

    .gcWRVqtngy:hover .gp-button-price {
      color: #476DF2;
    }

    .gcWRVqtngy .gp-button-price {
      color: #242424;
    }

    .gcWRVqtngy .gp-product-dot-price {
       color: #242424;
    }

    .gcWRVqtngy:hover .gp-product-dot-price {
      color: #476DF2;
    }
  </style>
    <a
      href="#gCcqESd0l1" target="_self" data-id="gcWRVqtngy" aria-label="4. Shipping Questions"
      
      data-state="idle"
      class="gcWRVqtngy gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:transparent;--bg:transparent;--radius:var(--g-radius-small);--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--hvr-c:#476DF2;--c:#242424;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--weight:700;--ls:0px;--lh-tablet:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden undefined
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px"
      >
        {{ section.settings.ggcWRVqtngy_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>
<div gp-el-wrapper style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--pt:16px;--pb:16px;--pt-mobile:14px;--pb-mobile:14px" class="gty4ePqjnk ">
      
    <div
    data-id="gty4ePqjnk"
      class="gp-flex gp-justify-start"
    >
      <div
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:gp-rotate(0deg);--bc:var(--g-c-line-1, line-1)"
        class="gp-block tablet:gp-block mobile:gp-block"
      ></div>
      <div
        class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:var(--g-c-line-1, line-1);--t:gp-rotate(0deg)"
      >
        
    <div
      class="gp-hidden"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:var(--g-c-line-1, line-1);--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="gp-flex"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:var(--g-c-line-1, line-1);--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
      </div>
    </div>
  
      </div>
  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--ta:left"
    
  >
    <style>
    .g6A8S96byf.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 0px;
  border-color: transparent;
  
      border-radius: var(--g-radius-small);
    }

    .g6A8S96byf:hover::before {
      
      
    }

    .g6A8S96byf:hover .gp-button-icon {
      color: #476DF2;
    }

     .g6A8S96byf .gp-button-icon {
      color: #242424;
    }

    .g6A8S96byf:hover .gp-button-price {
      color: #476DF2;
    }

    .g6A8S96byf .gp-button-price {
      color: #242424;
    }

    .g6A8S96byf .gp-product-dot-price {
       color: #242424;
    }

    .g6A8S96byf:hover .gp-product-dot-price {
      color: #476DF2;
    }
  </style>
    <a
      href="#g9JNxg91f3" target="_self" data-id="g6A8S96byf" aria-label="5. Contact Questions"
      
      data-state="idle"
      class="g6A8S96byf gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:transparent;--bg:transparent;--radius:var(--g-radius-small);--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--hvr-c:#476DF2;--c:#242424;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--weight:700;--ls:0px;--lh-tablet:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden undefined
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px"
      >
        {{ section.settings.gg6A8S96byf_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

  
    <div
      
      style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--bgc:#eee;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gjNvMkgLSm "
    ><div></div></div>
  
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gfpSKhunBx gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="ga1hOALaD4" data-id="ga1hOALaD4"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--pt:30px;--pl:var(--g-s-3xl);--pb:18px;--pt-mobile:var(--g-s-3xl);--pl-mobile:auto;--pb-mobile:12px;--pt-tablet:var(--g-s-3xl);--pl-tablet:auto;--pb-tablet:18px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ga1hOALaD4 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:start;--o:0"
      class="g2QeS1lnGi gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gUXC08LZtY">
    <div
      parentTag="Col"
        class="gUXC08LZtY "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mt:auto;--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#242424;--size:23px;--lh:130%;--weight:700;--ls:0px;--size-tablet:23px;--weight-tablet:700;--size-mobile:20px;--weight-mobile:700;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggUXC08LZtY_text }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="g5jBsTWtUt">
    <div
      parentTag="Col"
        class="g5jBsTWtUt "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:130%;--weight:700;--ls:0px;--size-tablet:16px;--lh-tablet:130%;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg5jBsTWtUt_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gZDROeS_QN">
    <div
      parentTag="Col"
        class="gZDROeS_QN "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:150%;--fs:normal;--weight:400;--ls:0px;--size-tablet:16px;--lh-tablet:150%;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggZDROeS_QN_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gkNc8YqV0I">
    <div
      parentTag="Col"
        class="gkNc8YqV0I "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:130%;--weight:700;--ls:0px;--size-tablet:16px;--lh-tablet:130%;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggkNc8YqV0I_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gGADo9_EiU">
    <div
      parentTag="Col"
        class="gGADo9_EiU "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:150%;--fs:normal;--weight:400;--ls:0px;--size-tablet:16px;--lh-tablet:150%;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggGADo9_EiU_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gvKLTOEwrR">
    <div
      parentTag="Col"
        class="gvKLTOEwrR "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:130%;--weight:700;--ls:0px;--size-tablet:16px;--lh-tablet:130%;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggvKLTOEwrR_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="ggTZPc_48p">
    <div
      parentTag="Col"
        class="ggTZPc_48p "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:150%;--fs:normal;--weight:400;--ls:0px;--size-tablet:16px;--lh-tablet:150%;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.gggTZPc_48p_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="g04FNoLEAD">
    <div
      parentTag="Col"
        class="g04FNoLEAD "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:130%;--weight:700;--ls:0px;--size-tablet:16px;--lh-tablet:130%;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg04FNoLEAD_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gUBp2-w04z">
    <div
      parentTag="Col"
        class="gUBp2-w04z "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:auto"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:150%;--fs:normal;--weight:400;--ls:0px;--size-tablet:16px;--lh-tablet:150%;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggUBp2-w04z_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gVVbAajw-E" data-id="gVVbAajw-E"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--pt:30px;--pl:var(--g-s-3xl);--pb:18px;--pt-mobile:30px;--pl-mobile:auto;--pb-mobile:12px;--pt-tablet:30px;--pl-tablet:auto;--pb-tablet:18px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gVVbAajw-E gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:start;--o:0"
      class="gdq3hJBSD0 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gKC4owo2zl">
    <div
      parentTag="Col"
        class="gKC4owo2zl "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mt:auto;--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#242424;--size:23px;--lh:130%;--weight:700;--ls:0px;--size-tablet:23px;--weight-tablet:700;--size-mobile:20px;--weight-mobile:700;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggKC4owo2zl_text }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gfqcXEx16-">
    <div
      parentTag="Col"
        class="gfqcXEx16- "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:130%;--weight:700;--ls:0px;--size-tablet:16px;--lh-tablet:130%;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggfqcXEx16-_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gBTP2u3INB">
    <div
      parentTag="Col"
        class="gBTP2u3INB "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:150%;--fs:normal;--weight:400;--ls:0px;--size-tablet:16px;--lh-tablet:150%;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggBTP2u3INB_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gXo6sRLOiW">
    <div
      parentTag="Col"
        class="gXo6sRLOiW "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:130%;--weight:700;--ls:0px;--size-tablet:16px;--lh-tablet:130%;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggXo6sRLOiW_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gOyIsGvMrw">
    <div
      parentTag="Col"
        class="gOyIsGvMrw "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:150%;--fs:normal;--weight:400;--ls:0px;--size-tablet:16px;--lh-tablet:150%;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggOyIsGvMrw_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gnTNpuZn6e">
    <div
      parentTag="Col"
        class="gnTNpuZn6e "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:130%;--weight:700;--ls:0px;--size-tablet:16px;--lh-tablet:130%;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggnTNpuZn6e_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gpymX17_Mi">
    <div
      parentTag="Col"
        class="gpymX17_Mi "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:150%;--fs:normal;--weight:400;--ls:0px;--size-tablet:16px;--lh-tablet:150%;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggpymX17_Mi_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="g0vUy19tCL">
    <div
      parentTag="Col"
        class="g0vUy19tCL "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:130%;--weight:700;--ls:0px;--size-tablet:16px;--lh-tablet:130%;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg0vUy19tCL_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="g5wduy43c6">
    <div
      parentTag="Col"
        class="g5wduy43c6 "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:auto"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:150%;--fs:normal;--weight:400;--ls:0px;--size-tablet:16px;--lh-tablet:150%;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg5wduy43c6_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="giNQyfTjb0" data-id="giNQyfTjb0"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--pt:30px;--pl:var(--g-s-3xl);--pb:18px;--pt-mobile:30px;--pl-mobile:auto;--pb-mobile:12px;--pt-tablet:30px;--pl-tablet:auto;--pb-tablet:18px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="giNQyfTjb0 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:start;--o:0"
      class="gqZw76dHno gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gjWjlYppjb">
    <div
      parentTag="Col"
        class="gjWjlYppjb "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mt:auto;--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#242424;--size:23px;--lh:130%;--weight:700;--ls:0px;--size-tablet:23px;--weight-tablet:700;--size-mobile:20px;--weight-mobile:700;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggjWjlYppjb_text }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gOHmUWu0p0">
    <div
      parentTag="Col"
        class="gOHmUWu0p0 "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:130%;--weight:700;--ls:0px;--size-tablet:16px;--lh-tablet:130%;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggOHmUWu0p0_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gPInx3kH5F">
    <div
      parentTag="Col"
        class="gPInx3kH5F "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:150%;--fs:normal;--weight:400;--ls:0px;--size-tablet:16px;--lh-tablet:150%;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggPInx3kH5F_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gJ5IuW2zix">
    <div
      parentTag="Col"
        class="gJ5IuW2zix "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:130%;--weight:700;--ls:0px;--size-tablet:16px;--lh-tablet:130%;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggJ5IuW2zix_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gzCLYeAANb">
    <div
      parentTag="Col"
        class="gzCLYeAANb "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:150%;--fs:normal;--weight:400;--ls:0px;--size-tablet:16px;--lh-tablet:150%;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggzCLYeAANb_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gBkNd975di">
    <div
      parentTag="Col"
        class="gBkNd975di "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:130%;--weight:700;--ls:0px;--size-tablet:16px;--lh-tablet:130%;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggBkNd975di_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gpbv_0Dhbp">
    <div
      parentTag="Col"
        class="gpbv_0Dhbp "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:auto"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:150%;--fs:normal;--weight:400;--ls:0px;--size-tablet:16px;--lh-tablet:150%;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggpbv_0Dhbp_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gW0kBz9pEn" data-id="gW0kBz9pEn"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--pt:30px;--pl:var(--g-s-3xl);--pb:18px;--pt-mobile:30px;--pl-mobile:auto;--pb-mobile:12px;--pt-tablet:30px;--pl-tablet:auto;--pb-tablet:18px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gW0kBz9pEn gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:start;--o:0"
      class="gTY0vVKg2Y gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gha2MB4xrX">
    <div
      parentTag="Col"
        class="gha2MB4xrX "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mt:auto;--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#242424;--size:23px;--lh:130%;--weight:700;--ls:0px;--size-tablet:23px;--weight-tablet:700;--size-mobile:20px;--weight-mobile:700;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggha2MB4xrX_text }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gPGmZNH_CR">
    <div
      parentTag="Col"
        class="gPGmZNH_CR "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:130%;--weight:700;--ls:0px;--size-tablet:16px;--lh-tablet:130%;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggPGmZNH_CR_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gsPLj-ECuB">
    <div
      parentTag="Col"
        class="gsPLj-ECuB "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:150%;--fs:normal;--weight:400;--ls:0px;--size-tablet:16px;--lh-tablet:150%;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggsPLj-ECuB_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gxGK3zagL0">
    <div
      parentTag="Col"
        class="gxGK3zagL0 "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:130%;--weight:700;--ls:0px;--size-tablet:16px;--lh-tablet:130%;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggxGK3zagL0_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="ggUEdL9KyR">
    <div
      parentTag="Col"
        class="ggUEdL9KyR "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:150%;--fs:normal;--weight:400;--ls:0px;--size-tablet:16px;--lh-tablet:150%;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.gggUEdL9KyR_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="g2ruE2hzrP">
    <div
      parentTag="Col"
        class="g2ruE2hzrP "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:130%;--weight:700;--ls:0px;--size-tablet:16px;--lh-tablet:130%;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg2ruE2hzrP_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gHUk1o0sNB">
    <div
      parentTag="Col"
        class="gHUk1o0sNB "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:150%;--fs:normal;--weight:400;--ls:0px;--size-tablet:16px;--lh-tablet:150%;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggHUk1o0sNB_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gAENscd7Ka">
    <div
      parentTag="Col"
        class="gAENscd7Ka "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:130%;--weight:700;--ls:0px;--size-tablet:16px;--lh-tablet:130%;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggAENscd7Ka_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gEhLKM7ZyY">
    <div
      parentTag="Col"
        class="gEhLKM7ZyY "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:auto"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:150%;--fs:normal;--weight:400;--ls:0px;--size-tablet:16px;--lh-tablet:150%;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggEhLKM7ZyY_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="geDZQ5l8Q1" data-id="geDZQ5l8Q1"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--pt:30px;--pl:var(--g-s-3xl);--pb:auto;--pt-mobile:30px;--pl-mobile:auto;--pb-mobile:auto;--pt-tablet:30px;--pl-tablet:auto;--pb-tablet:auto;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="geDZQ5l8Q1 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:start;--o:0"
      class="gjSM0axxdM gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gV36P6uRq8">
    <div
      parentTag="Col"
        class="gV36P6uRq8 "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mt:auto;--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#242424;--size:23px;--lh:130%;--weight:700;--ls:0px;--size-tablet:23px;--weight-tablet:700;--size-mobile:20px;--weight-mobile:700;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggV36P6uRq8_text }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gdcUeFQ11t">
    <div
      parentTag="Col"
        class="gdcUeFQ11t "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:130%;--weight:700;--ls:0px;--size-tablet:16px;--lh-tablet:130%;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggdcUeFQ11t_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gNyer4QM9n">
    <div
      parentTag="Col"
        class="gNyer4QM9n "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:150%;--fs:normal;--weight:400;--ls:0px;--size-tablet:16px;--lh-tablet:150%;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggNyer4QM9n_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gSnj1yZWSI">
    <div
      parentTag="Col"
        class="gSnj1yZWSI "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:130%;--weight:700;--ls:0px;--size-tablet:16px;--lh-tablet:130%;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggSnj1yZWSI_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gSdXabNgBH">
    <div
      parentTag="Col"
        class="gSdXabNgBH "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:150%;--fs:normal;--weight:400;--ls:0px;--size-tablet:16px;--lh-tablet:150%;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggSdXabNgBH_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gcQJvi1CmF">
    <div
      parentTag="Col"
        class="gcQJvi1CmF "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:130%;--weight:700;--ls:0px;--size-tablet:16px;--lh-tablet:130%;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggcQJvi1CmF_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gK-IwhASIQ">
    <div
      parentTag="Col"
        class="gK-IwhASIQ "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:150%;--fs:normal;--weight:400;--ls:0px;--size-tablet:16px;--lh-tablet:150%;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggK-IwhASIQ_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="g7MDVxco43">
    <div
      parentTag="Col"
        class="g7MDVxco43 "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:130%;--weight:700;--ls:0px;--size-tablet:16px;--lh-tablet:130%;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg7MDVxco43_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gxQNhZ5RXu">
    <div
      parentTag="Col"
        class="gxQNhZ5RXu "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:auto"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:150%;--fs:normal;--weight:400;--ls:0px;--size-tablet:16px;--lh-tablet:150%;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggxQNhZ5RXu_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start;--d-mobile:none"
      class="gVKj-n-M3a gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-539410465663484714 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/2a1421-6c/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=539410450933089412&sectionId=539410465663484714)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg2IfXBkdjD_label","label":"gg2IfXBkdjD_label","default":"1. General Questions"},{"type":"html","id":"ggY_sGlYeEW_label","label":"ggY_sGlYeEW_label","default":"2. Product Questions"},{"type":"html","id":"ggpbRWFwoE3_label","label":"ggpbRWFwoE3_label","default":"3. Payment Questions"},{"type":"html","id":"ggcWRVqtngy_label","label":"ggcWRVqtngy_label","default":"4. Shipping Questions"},{"type":"html","id":"gg6A8S96byf_label","label":"gg6A8S96byf_label","default":"5. Contact Questions"},{"type":"html","id":"ggUXC08LZtY_text","label":"ggUXC08LZtY_text","default":"<p>1. General Questions</p>"},{"type":"html","id":"gg5jBsTWtUt_text","label":"gg5jBsTWtUt_text","default":"<p>What is your return policy?</p>"},{"type":"html","id":"ggZDROeS_QN_text","label":"ggZDROeS_QN_text","default":"<p>We want you to be completely satisfied with your purchase, so we accept returns on all items within 30 days of the purchase date. To start a return, please visit our Returns page and follow the instructions.</p>"},{"type":"html","id":"ggkNc8YqV0I_text","label":"ggkNc8YqV0I_text","default":"<p>How do I track my order?</p>"},{"type":"html","id":"ggGADo9_EiU_text","label":"ggGADo9_EiU_text","default":"<p>Once your order has shipped, you will receive a tracking number via email. You can use this number to track your order on our website or on the carrier's website.</p>"},{"type":"html","id":"ggvKLTOEwrR_text","label":"ggvKLTOEwrR_text","default":"<p>Can I cancel or modify my order?</p>"},{"type":"html","id":"gggTZPc_48p_text","label":"gggTZPc_48p_text","default":"<p>We try to process orders as quickly as possible, but if you need to modify or cancel your order, please contact our customer service team as soon as possible. We'll do our best to accommodate your request.</p>"},{"type":"html","id":"gg04FNoLEAD_text","label":"gg04FNoLEAD_text","default":"<p>Do you have a physical store?</p>"},{"type":"html","id":"ggUBp2-w04z_text","label":"ggUBp2-w04z_text","default":"<p>Currently, we do not have a physical store. However, we do offer free shipping and free returns, so you can try our products risk-free.</p>"},{"type":"html","id":"ggKC4owo2zl_text","label":"ggKC4owo2zl_text","default":"<p>2. Product Questions</p>"},{"type":"html","id":"ggfqcXEx16-_text","label":"ggfqcXEx16-_text","default":"<p>What size should I order?</p>"},{"type":"html","id":"ggBTP2u3INB_text","label":"ggBTP2u3INB_text","default":"<p>We have a size chart available for each product to help you find the best fit. Please refer to the size chart on the product page for more information.</p>"},{"type":"html","id":"ggXo6sRLOiW_text","label":"ggXo6sRLOiW_text","default":"<p>What is the material of this product?</p>"},{"type":"html","id":"ggOyIsGvMrw_text","label":"ggOyIsGvMrw_text","default":"<p>The material for each product is listed on the product page, under the \"Details\" section. If you have further questions about the material, please don't hesitate to contact us.</p>"},{"type":"html","id":"ggnTNpuZn6e_text","label":"ggnTNpuZn6e_text","default":"<p>How do I care for this product?</p>"},{"type":"html","id":"ggpymX17_Mi_text","label":"ggpymX17_Mi_text","default":"<p>Care instructions for each product are also listed on the product page, under the \"Details\" section. Please follow the care instructions to ensure the longevity of your product.</p>"},{"type":"html","id":"gg0vUy19tCL_text","label":"gg0vUy19tCL_text","default":"<p>Can I see this product in other colors?</p>"},{"type":"html","id":"gg5wduy43c6_text","label":"gg5wduy43c6_text","default":"<p>If the product is available in other colors, they will be listed on the product page. If you don't see the color you're looking for, please contact us and we will do our best to assist you.</p>"},{"type":"html","id":"ggjWjlYppjb_text","label":"ggjWjlYppjb_text","default":"<p>3. Payment Questions</p>"},{"type":"html","id":"ggOHmUWu0p0_text","label":"ggOHmUWu0p0_text","default":"<p>What payment methods do you accept?</p>"},{"type":"html","id":"ggPInx3kH5F_text","label":"ggPInx3kH5F_text","default":"<p>We accept a variety of payment methods including credit cards (Visa, MasterCard, American Express), PayPal, and Apple Pay.</p>"},{"type":"html","id":"ggJ5IuW2zix_text","label":"ggJ5IuW2zix_text","default":"<p>Do you offer installment payment options?</p>"},{"type":"html","id":"ggzCLYeAANb_text","label":"ggzCLYeAANb_text","default":"<p>Yes, we offer installment payment options for certain purchases. Please check our website or contact our customer service for more information.</p>"},{"type":"html","id":"ggBkNd975di_text","label":"ggBkNd975di_text","default":"<p>Is my payment information secure?</p>"},{"type":"html","id":"ggpbv_0Dhbp_text","label":"ggpbv_0Dhbp_text","default":"<p>Yes, we take the security of our customers' payment information seriously. All transactions are processed securely and we use industry-standard encryption technology to protect your information.</p>"},{"type":"html","id":"ggha2MB4xrX_text","label":"ggha2MB4xrX_text","default":"<p>4. Shipping Questions</p>"},{"type":"html","id":"ggPGmZNH_CR_text","label":"ggPGmZNH_CR_text","default":"<p>How long does shipping take?</p>"},{"type":"html","id":"ggsPLj-ECuB_text","label":"ggsPLj-ECuB_text","default":"<p>Shipping time varies depending on your location and the shipping method you choose. Please refer to our shipping policy for more details.</p>"},{"type":"html","id":"ggxGK3zagL0_text","label":"ggxGK3zagL0_text","default":"<p>How much does shipping cost?</p>"},{"type":"html","id":"gggUEdL9KyR_text","label":"gggUEdL9KyR_text","default":"<p>Shipping cost depends on your location and the shipping method you choose. Please refer to our shipping policy for more details.</p>"},{"type":"html","id":"gg2ruE2hzrP_text","label":"gg2ruE2hzrP_text","default":"<p>Do you offer free shipping?</p>"},{"type":"html","id":"ggHUk1o0sNB_text","label":"ggHUk1o0sNB_text","default":"<p>Yes, we offer free shipping on orders above a certain amount. Please refer to our shipping policy for more details.</p>"},{"type":"html","id":"ggAENscd7Ka_text","label":"ggAENscd7Ka_text","default":"<p>Do you ship to P.O. boxes?</p>"},{"type":"html","id":"ggEhLKM7ZyY_text","label":"ggEhLKM7ZyY_text","default":"<p>Yes, we ship to P.O. boxes. Please make sure to provide your complete and accurate shipping address to avoid any delays in delivery.</p>"},{"type":"html","id":"ggV36P6uRq8_text","label":"ggV36P6uRq8_text","default":"<p>5. Contact Questions</p>"},{"type":"html","id":"ggdcUeFQ11t_text","label":"ggdcUeFQ11t_text","default":"<p>How can I contact customer service?</p>"},{"type":"html","id":"ggNyer4QM9n_text","label":"ggNyer4QM9n_text","default":"<p>You can reach our customer service team by emailing <span style=\"color:hsl(0, 0%, 0%);\"><strong>[YOUR EMAIL]</strong></span> or by calling our toll-free number at <span style=\"color:hsl(0,0%,0%);\"><strong>[YOUR PHONE NUMBER]</strong></span>.</p>"},{"type":"html","id":"ggSnj1yZWSI_text","label":"ggSnj1yZWSI_text","default":"<p>What are your business hours?</p>"},{"type":"html","id":"ggSdXabNgBH_text","label":"ggSdXabNgBH_text","default":"<p>Our business hours are Monday through Friday from 9:00am to 5:00pm EST.</p>"},{"type":"html","id":"ggcQJvi1CmF_text","label":"ggcQJvi1CmF_text","default":"<p>How can I provide feedback?</p>"},{"type":"html","id":"ggK-IwhASIQ_text","label":"ggK-IwhASIQ_text","default":"<p>We welcome and value your feedback! You can leave us a message through our contact page on our website, or email us at <span style=\"color:hsl(0, 0%, 0%);\"><strong>[YOUR EMAIL]</strong></span>.</p>"},{"type":"html","id":"gg7MDVxco43_text","label":"gg7MDVxco43_text","default":"<p>Do you have a physical address?</p>"},{"type":"html","id":"ggxQNhZ5RXu_text","label":"ggxQNhZ5RXu_text","default":"<p>Yes, we do have a physical address. Our headquarters is located at <span style=\"color:hsl(0, 0%, 0%);\"><strong>[YOUR ADDRESS]</strong></span>.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
