

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-538964323603579900.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-538964323603579900.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-538964323603579900.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-538964323603579900.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-538964323603579900.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-538964323603579900.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-538964323603579900.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-538964323603579900.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-538964323603579900.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-538964323603579900.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-538964323603579900.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-538964323603579900.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-538964323603579900.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-538964323603579900.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-538964323603579900.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-538964323603579900.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-538964323603579900.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-538964323603579900.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-538964323603579900.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-538964323603579900.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-538964323603579900.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-538964323603579900.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-538964323603579900.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-538964323603579900.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-538964323603579900.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-538964323603579900.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-538964323603579900.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-538964323603579900.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-538964323603579900.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-538964323603579900.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-538964323603579900.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-538964323603579900.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-538964323603579900.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-538964323603579900.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-538964323603579900.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-538964323603579900.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-538964323603579900.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-538964323603579900.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-538964323603579900.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-538964323603579900.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-538964323603579900.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-538964323603579900.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-538964323603579900.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-538964323603579900.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-538964323603579900.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-538964323603579900.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-538964323603579900.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-538964323603579900.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-538964323603579900.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-538964323603579900.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-538964323603579900.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-538964323603579900.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-538964323603579900.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-538964323603579900.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-538964323603579900.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-538964323603579900.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-538964323603579900.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-538964323603579900.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-538964323603579900.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-538964323603579900.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-538964323603579900.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-538964323603579900.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-538964323603579900 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-538964323603579900 .gp-relative{position:relative}.gps-538964323603579900 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-538964323603579900 .gp-mb-0{margin-bottom:0}.gps-538964323603579900 .\!gp-inline{display:inline!important}.gps-538964323603579900 .gp-flex{display:flex}.gps-538964323603579900 .gp-grid{display:grid}.gps-538964323603579900 .\!gp-hidden{display:none!important}.gps-538964323603579900 .gp-hidden{display:none}.gps-538964323603579900 .gp-h-full{height:100%}.gps-538964323603579900 .gp-w-full{width:100%}.gps-538964323603579900 .gp-max-w-full{max-width:100%}.gps-538964323603579900 .gp-flex-col{flex-direction:column}.gps-538964323603579900 .gp-gap-y-0{row-gap:0}.gps-538964323603579900 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-538964323603579900 .gp-duration-200{transition-duration:.2s}.gps-538964323603579900 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-538964323603579900 .tablet\:\!gp-hidden{display:none!important}.gps-538964323603579900 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-538964323603579900 .mobile\:\!gp-hidden{display:none!important}.gps-538964323603579900 .mobile\:gp-hidden{display:none}}.gps-538964323603579900 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-538964323603579900 .\[\&_p\]\:gp-inline p{display:inline}.gps-538964323603579900 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-538964323603579900 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gk3JDG7n2Q" data-id="gk3JDG7n2Q"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:104px;--pl:15px;--pb:72px;--pr:15px;--pt-mobile:104px;--pb-mobile:76px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gk3JDG7n2Q gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g0aObR373V gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gXaWdO7plC" data-id="gXaWdO7plC"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gXaWdO7plC gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gRW_k2wfjR gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gvjEedE_xN" data-id="gvjEedE_xN"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--ml:auto;--mb:var(--g-s-3xl);--mr:auto;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:60%;--w-tablet:60%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gvjEedE_xN gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gO4FM8dSHV gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gJ_3goUQrw">
    <div
      parentTag="Col"
        class="gJ_3goUQrw "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggJ_3goUQrw_text }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="g2injt1aP6" data-id="g2injt1aP6"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-3xl);--cg:30px;--pc:start;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g2injt1aP6 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gsZcQu-3Rv gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="ggHAUyHX_1"
    role="presentation"
    class="gp-group/image ggHAUyHX_1"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s);--mb-mobile:var(--g-s-2xl);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-371be349-2902-4a79-9063-fbc1dcc33dea_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-371be349-2902-4a79-9063-fbc1dcc33dea_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-371be349-2902-4a79-9063-fbc1dcc33dea.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:705/800;--aspect-tablet:705/800;--aspect-mobile:705/800;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-371be349-2902-4a79-9063-fbc1dcc33dea_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-371be349-2902-4a79-9063-fbc1dcc33dea_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-371be349-2902-4a79-9063-fbc1dcc33dea.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:705/800;--aspect-tablet:705/800;--aspect-mobile:705/800;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g98monoQRP gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gmzEmguWCB" data-id="gmzEmguWCB"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-l);--pl:var(--g-s-l);--mb-mobile:var(--g-s-l);--pl-mobile:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gmzEmguWCB gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gwHR0XZ1Mh gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gqr5wUdPvT">
    <div
      parentTag="Col"
        class="gqr5wUdPvT "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-3xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:19px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggqr5wUdPvT_text }}</div>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      parentTag="Col" id="gPWxsNU1WX" data-id="gPWxsNU1WX"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-l);--cg:30px;--cg-mobile:24px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gPWxsNU1WX gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gZ5AEp5DdP gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="guWVK859vG"
    role="presentation"
    class="gp-group/image guWVK859vG"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--mb-mobile:var(--g-s-s);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-d678ed94-f2de-46c4-af05-5446c9d3ceb8_768x768.svg" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-d678ed94-f2de-46c4-af05-5446c9d3ceb8_1024x1024.svg" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-d678ed94-f2de-46c4-af05-5446c9d3ceb8.svg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:48/48;--aspect-tablet:48/48;--aspect-mobile:48/48;--objf:cover;--w:48px;--w-tablet:48px;--w-mobile:48px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-d678ed94-f2de-46c4-af05-5446c9d3ceb8_768x768.svg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-d678ed94-f2de-46c4-af05-5446c9d3ceb8_1024x1024.svg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-d678ed94-f2de-46c4-af05-5446c9d3ceb8.svg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:48/48;--aspect-tablet:48/48;--aspect-mobile:48/48;--objf:cover;--w:48px;--w-tablet:48px;--w-mobile:48px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
  <gp-text data-id="gJ-Fp52uf4">
    <div
      parentTag="Col"
        class="gJ-Fp52uf4 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s);--mb-mobile:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggJ-Fp52uf4_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gGoV8MfaBZ">
    <div
      parentTag="Col"
        class="gGoV8MfaBZ "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggGoV8MfaBZ_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gt-ItLgo2X gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gwkA_zIe-F"
    role="presentation"
    class="gp-group/image gwkA_zIe-F"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--mb-mobile:var(--g-s-s);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-88ec2940-3a60-4e4a-85bd-b07a70d5689b_768x768.svg" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-88ec2940-3a60-4e4a-85bd-b07a70d5689b_1024x1024.svg" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-88ec2940-3a60-4e4a-85bd-b07a70d5689b.svg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:48/48;--aspect-tablet:48/48;--aspect-mobile:48/48;--objf:cover;--w:48px;--w-tablet:48px;--w-mobile:48px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-88ec2940-3a60-4e4a-85bd-b07a70d5689b_768x768.svg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-88ec2940-3a60-4e4a-85bd-b07a70d5689b_1024x1024.svg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-88ec2940-3a60-4e4a-85bd-b07a70d5689b.svg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:48/48;--aspect-tablet:48/48;--aspect-mobile:48/48;--objf:cover;--w:48px;--w-tablet:48px;--w-mobile:48px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
  <gp-text data-id="gXj-yFzyg2">
    <div
      parentTag="Col"
        class="gXj-yFzyg2 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s);--mb-mobile:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggXj-yFzyg2_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="ghQtroz4j8">
    <div
      parentTag="Col"
        class="ghQtroz4j8 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gghQtroz4j8_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gHS4MODOPL" data-id="gHS4MODOPL"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-s);--mb-mobile:0px;--cg:30px;--cg-mobile:14px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gHS4MODOPL gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gfuYMzpDI7 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g-nXUGp3gJ"
    role="presentation"
    class="gp-group/image g-nXUGp3gJ"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--mb-mobile:var(--g-s-s);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-d8524d47-10f9-4adc-a77b-0ae7ce29a8c5_768x768.svg" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-d8524d47-10f9-4adc-a77b-0ae7ce29a8c5_1024x1024.svg" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-d8524d47-10f9-4adc-a77b-0ae7ce29a8c5.svg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:48/48;--aspect-tablet:48/48;--aspect-mobile:48/48;--objf:cover;--w:48px;--w-tablet:48px;--w-mobile:48px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-d8524d47-10f9-4adc-a77b-0ae7ce29a8c5_768x768.svg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-d8524d47-10f9-4adc-a77b-0ae7ce29a8c5_1024x1024.svg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-d8524d47-10f9-4adc-a77b-0ae7ce29a8c5.svg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:48/48;--aspect-tablet:48/48;--aspect-mobile:48/48;--objf:cover;--w:48px;--w-tablet:48px;--w-mobile:48px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
  <gp-text data-id="gJSRdqLKxK">
    <div
      parentTag="Col"
        class="gJSRdqLKxK "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s);--mb-mobile:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggJSRdqLKxK_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gftgVzjNSe">
    <div
      parentTag="Col"
        class="gftgVzjNSe "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggftgVzjNSe_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gdCBmJ_qxE gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gt_NCL2IPp"
    role="presentation"
    class="gp-group/image gt_NCL2IPp"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--mb-mobile:var(--g-s-s);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-80165df6-977c-4450-9293-a18c6b5dd8b0_768x768.svg" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-80165df6-977c-4450-9293-a18c6b5dd8b0_1024x1024.svg" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-80165df6-977c-4450-9293-a18c6b5dd8b0.svg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:48/48;--aspect-tablet:48/48;--aspect-mobile:48/48;--objf:cover;--w:48px;--w-tablet:48px;--w-mobile:48px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-80165df6-977c-4450-9293-a18c6b5dd8b0_768x768.svg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-80165df6-977c-4450-9293-a18c6b5dd8b0_1024x1024.svg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-80165df6-977c-4450-9293-a18c6b5dd8b0.svg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:48/48;--aspect-tablet:48/48;--aspect-mobile:48/48;--objf:cover;--w:48px;--w-tablet:48px;--w-mobile:48px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
  <gp-text data-id="gc62ZvsIo8">
    <div
      parentTag="Col"
        class="gc62ZvsIo8 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s);--mb-mobile:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggc62ZvsIo8_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gHPkCf6HoT">
    <div
      parentTag="Col"
        class="gHPkCf6HoT "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggHPkCf6HoT_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gMEpYUylE8" data-id="gMEpYUylE8"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-l);--cg:30px;--pc:start;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gMEpYUylE8 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gaUM4KIVBA gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="g1cEig5cis">
    <div
      parentTag="Col"
        class="g1cEig5cis "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xs)"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg1cEig5cis_text }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="g1hn-h5iad">
    <div
      parentTag="Col"
        class="g1hn-h5iad "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--mb-mobile:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg1hn-h5iad_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g4ODchWHMB gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gHkEGj2JSq">
    <div
      parentTag="Col"
        class="gHkEGj2JSq "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xs)"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggHkEGj2JSq_text }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gKvpENf8AC">
    <div
      parentTag="Col"
        class="gKvpENf8AC "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--mb-mobile:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggKvpENf8AC_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gCFlUtH3y_ gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="g8QzIZvaLm">
    <div
      parentTag="Col"
        class="g8QzIZvaLm "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xs)"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg8QzIZvaLm_text }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="g-8BlUFcqc">
    <div
      parentTag="Col"
        class="g-8BlUFcqc "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg-8BlUFcqc_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gYSuGqCRTq gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gd6RIj2dkG">
    <div
      parentTag="Col"
        class="gd6RIj2dkG "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xs)"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggd6RIj2dkG_text }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gue87xSgVz">
    <div
      parentTag="Col"
        class="gue87xSgVz "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggue87xSgVz_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-538964323603579900 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/2a1421-6c/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=538964311540761596&sectionId=538964323603579900)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggJ_3goUQrw_text","label":"ggJ_3goUQrw_text","default":"<p>Unleash Crystal-Clear Audio Anywhere, Anytime!</p>"},{"type":"html","id":"ggqr5wUdPvT_text","label":"ggqr5wUdPvT_text","default":"<p>Wherever you are, SoundWave Fusion adapts. Its built-in sensors detect the surroundings, and the speaker tweaks its output accordingly.&nbsp;</p>"},{"type":"html","id":"ggJ-Fp52uf4_text","label":"ggJ-Fp52uf4_text","default":"<p>All-day Battery Life</p>"},{"type":"html","id":"ggGoV8MfaBZ_text","label":"ggGoV8MfaBZ_text","default":"<p>Dura power technology keeps the party going all day and night.</p>"},{"type":"html","id":"ggXj-yFzyg2_text","label":"ggXj-yFzyg2_text","default":"<p>Durable Design</p>"},{"type":"html","id":"gghQtroz4j8_text","label":"gghQtroz4j8_text","default":"<p>Built to withstand adventures with water and dust resistance.</p>"},{"type":"html","id":"ggJSRdqLKxK_text","label":"ggJSRdqLKxK_text","default":"<p>Superior Audio Clarity</p>"},{"type":"html","id":"ggftgVzjNSe_text","label":"ggftgVzjNSe_text","default":"<p>Experience sound like never before with high fidelity audio.</p>"},{"type":"html","id":"ggc62ZvsIo8_text","label":"ggc62ZvsIo8_text","default":"<p>Compact &amp; Portable</p>"},{"type":"html","id":"ggHPkCf6HoT_text","label":"ggHPkCf6HoT_text","default":"<p>Your go-to audio companion, wherever you are.</p>"},{"type":"html","id":"gg1cEig5cis_text","label":"gg1cEig5cis_text","default":"<p>6K+</p>"},{"type":"html","id":"gg1hn-h5iad_text","label":"gg1hn-h5iad_text","default":"<p>Soundwave yearly members</p>"},{"type":"html","id":"ggHkEGj2JSq_text","label":"ggHkEGj2JSq_text","default":"<p>10K+</p>"},{"type":"html","id":"ggKvpENf8AC_text","label":"ggKvpENf8AC_text","default":"<p>Registered members</p>"},{"type":"html","id":"gg8QzIZvaLm_text","label":"gg8QzIZvaLm_text","default":"<p>85%</p>"},{"type":"html","id":"gg-8BlUFcqc_text","label":"gg-8BlUFcqc_text","default":"<p>Visit class twice a week</p>"},{"type":"html","id":"ggd6RIj2dkG_text","label":"ggd6RIj2dkG_text","default":"<p>95%</p>"},{"type":"html","id":"ggue87xSgVz_text","label":"ggue87xSgVz_text","default":"<p>Recommend Soundwave to others</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
