

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-538997424429990698.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-538997424429990698.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-538997424429990698.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-538997424429990698.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-538997424429990698.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-538997424429990698.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-538997424429990698.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-538997424429990698.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-538997424429990698.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-538997424429990698.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-538997424429990698.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-538997424429990698.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-538997424429990698.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-538997424429990698.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-538997424429990698.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-538997424429990698.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-538997424429990698.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-538997424429990698.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-538997424429990698.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-538997424429990698.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-538997424429990698.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-538997424429990698.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-538997424429990698.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-538997424429990698.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-538997424429990698.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-538997424429990698.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-538997424429990698.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-538997424429990698.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-538997424429990698.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-538997424429990698.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-538997424429990698.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-538997424429990698.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-538997424429990698.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-538997424429990698.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-538997424429990698.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-538997424429990698.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-538997424429990698.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-538997424429990698.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-538997424429990698.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-538997424429990698.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-538997424429990698.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-538997424429990698.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-538997424429990698.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-538997424429990698.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-538997424429990698.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-538997424429990698.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-538997424429990698.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-538997424429990698.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-538997424429990698.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-538997424429990698.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-538997424429990698.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-538997424429990698.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-538997424429990698.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-538997424429990698.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-538997424429990698.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-538997424429990698.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-538997424429990698.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-538997424429990698 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-538997424429990698 .gp-relative{position:relative}.gps-538997424429990698 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-538997424429990698 .gp-mb-0{margin-bottom:0}.gps-538997424429990698 .\!gp-inline{display:inline!important}.gps-538997424429990698 .gp-flex{display:flex}.gps-538997424429990698 .gp-grid{display:grid}.gps-538997424429990698 .\!gp-hidden{display:none!important}.gps-538997424429990698 .gp-hidden{display:none}.gps-538997424429990698 .gp-h-full{height:100%}.gps-538997424429990698 .gp-w-full{width:100%}.gps-538997424429990698 .gp-max-w-full{max-width:100%}.gps-538997424429990698 .gp-flex-col{flex-direction:column}.gps-538997424429990698 .gp-gap-y-0{row-gap:0}.gps-538997424429990698 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-538997424429990698 .gp-duration-200{transition-duration:.2s}.gps-538997424429990698 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-538997424429990698 .tablet\:\!gp-hidden{display:none!important}.gps-538997424429990698 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-538997424429990698 .mobile\:\!gp-hidden{display:none!important}.gps-538997424429990698 .mobile\:gp-hidden{display:none}}.gps-538997424429990698 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-538997424429990698 .\[\&_p\]\:gp-inline p{display:inline}.gps-538997424429990698 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-538997424429990698 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gRl2UiMHS3" data-id="gRl2UiMHS3"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gRl2UiMHS3 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gkWVKH9wNt gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gfcNsDS6Dt" data-id="gfcNsDS6Dt"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gfcNsDS6Dt gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="glUv14XjXc gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="go1_UBtdje">
    <div
      parentTag="Col"
        class="go1_UBtdje "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:33px;--size-tablet:33px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggo1_UBtdje_text }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gbqnFmmMrP" data-id="gbqnFmmMrP"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(undefined);--cg:30px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gbqnFmmMrP gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gV1rm0NxXa gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g59T11c2PK"
    role="presentation"
    class="gp-group/image g59T11c2PK"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl);--mb-mobile:var(--g-s-l);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-f1f7a744-9696-46ce-8e11-507019c3ea8c_768x768.svg" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-f1f7a744-9696-46ce-8e11-507019c3ea8c_1024x1024.svg" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-f1f7a744-9696-46ce-8e11-507019c3ea8c.svg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:150/151;--aspect-tablet:150/151;--aspect-mobile:150/151;--objf:cover;--w:150px;--w-tablet:150px;--w-mobile:150px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-f1f7a744-9696-46ce-8e11-507019c3ea8c_768x768.svg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-f1f7a744-9696-46ce-8e11-507019c3ea8c_1024x1024.svg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-f1f7a744-9696-46ce-8e11-507019c3ea8c.svg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:150/151;--aspect-tablet:150/151;--aspect-mobile:150/151;--objf:cover;--w:150px;--w-tablet:150px;--w-mobile:150px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
  <gp-text data-id="gkNQJaaDhy">
    <div
      parentTag="Col"
        class="gkNQJaaDhy "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(undefined);--mb-mobile:var(--g-s-3xl)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggkNQJaaDhy_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gjez3F49FP gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gi7wEwbm_r"
    role="presentation"
    class="gp-group/image gi7wEwbm_r"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl);--mb-mobile:var(--g-s-l);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-a5c03d7f-79ca-427e-ad9a-3880a98818a5_768x768.svg" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-a5c03d7f-79ca-427e-ad9a-3880a98818a5_1024x1024.svg" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-a5c03d7f-79ca-427e-ad9a-3880a98818a5.svg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:150/151;--aspect-tablet:150/151;--aspect-mobile:150/151;--objf:cover;--w:150px;--w-tablet:150px;--w-mobile:150px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-a5c03d7f-79ca-427e-ad9a-3880a98818a5_768x768.svg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-a5c03d7f-79ca-427e-ad9a-3880a98818a5_1024x1024.svg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-a5c03d7f-79ca-427e-ad9a-3880a98818a5.svg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:150/151;--aspect-tablet:150/151;--aspect-mobile:150/151;--objf:cover;--w:150px;--w-tablet:150px;--w-mobile:150px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
  <gp-text data-id="g4uaZDf2D2">
    <div
      parentTag="Col"
        class="g4uaZDf2D2 "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(undefined);--mb-mobile:var(--g-s-3xl)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg4uaZDf2D2_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gU0QHyhUt3 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gUFnOlqCBZ"
    role="presentation"
    class="gp-group/image gUFnOlqCBZ"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl);--mb-mobile:var(--g-s-l);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-eb88d343-fcc0-439d-9145-5640838ab92a_768x768.svg" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-eb88d343-fcc0-439d-9145-5640838ab92a_1024x1024.svg" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-eb88d343-fcc0-439d-9145-5640838ab92a.svg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:150/151;--aspect-tablet:150/151;--aspect-mobile:150/151;--objf:cover;--w:150px;--w-tablet:150px;--w-mobile:150px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-eb88d343-fcc0-439d-9145-5640838ab92a_768x768.svg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-eb88d343-fcc0-439d-9145-5640838ab92a_1024x1024.svg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-eb88d343-fcc0-439d-9145-5640838ab92a.svg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:150/151;--aspect-tablet:150/151;--aspect-mobile:150/151;--objf:cover;--w:150px;--w-tablet:150px;--w-mobile:150px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
  <gp-text data-id="gyvj9fu3JP">
    <div
      parentTag="Col"
        class="gyvj9fu3JP "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(undefined);--mb-mobile:var(undefined)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggyvj9fu3JP_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-538997424429990698 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/2a1421-6c/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=538997411897410556&sectionId=538997424429990698)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggo1_UBtdje_text","label":"ggo1_UBtdje_text","default":"<p>Setup Made Easy</p>"},{"type":"html","id":"ggkNQJaaDhy_text","label":"ggkNQJaaDhy_text","default":"<p>Plug in your camera</p>"},{"type":"html","id":"gg4uaZDf2D2_text","label":"gg4uaZDf2D2_text","default":"<p>Download the app<br>and add your camera</p>"},{"type":"html","id":"ggyvj9fu3JP_text","label":"ggyvj9fu3JP_text","default":"<p>Place anywhere<br>indoors and enjoy</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
