

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-538968660430029610.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-538968660430029610.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-538968660430029610.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-538968660430029610.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-538968660430029610.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-538968660430029610.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-538968660430029610.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-538968660430029610.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-538968660430029610.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-538968660430029610.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-538968660430029610.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-538968660430029610.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-538968660430029610.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-538968660430029610.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-538968660430029610.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-538968660430029610.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-538968660430029610.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-538968660430029610.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-538968660430029610.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-538968660430029610.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-538968660430029610.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-538968660430029610.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-538968660430029610.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-538968660430029610.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-538968660430029610.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-538968660430029610.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-538968660430029610.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-538968660430029610.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-538968660430029610.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-538968660430029610.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-538968660430029610.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-538968660430029610.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-538968660430029610.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-538968660430029610.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-538968660430029610.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-538968660430029610.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-538968660430029610.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-538968660430029610.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-538968660430029610.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-538968660430029610.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-538968660430029610.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-538968660430029610.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-538968660430029610.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-538968660430029610.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-538968660430029610.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-538968660430029610.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-538968660430029610.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-538968660430029610.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-538968660430029610.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-538968660430029610.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-538968660430029610.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-538968660430029610.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-538968660430029610.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-538968660430029610.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-538968660430029610.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-538968660430029610.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-538968660430029610.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-538968660430029610.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-538968660430029610.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-538968660430029610.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-538968660430029610.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-538968660430029610.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-538968660430029610.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-538968660430029610.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-538968660430029610.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-538968660430029610.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-538968660430029610.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-538968660430029610 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-538968660430029610 .gp-relative{position:relative}.gps-538968660430029610 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-538968660430029610 .gp-mb-0{margin-bottom:0}.gps-538968660430029610 .\!gp-inline{display:inline!important}.gps-538968660430029610 .gp-flex{display:flex}.gps-538968660430029610 .gp-grid{display:grid}.gps-538968660430029610 .\!gp-hidden{display:none!important}.gps-538968660430029610 .gp-hidden{display:none}.gps-538968660430029610 .gp-h-full{height:100%}.gps-538968660430029610 .gp-w-full{width:100%}.gps-538968660430029610 .gp-max-w-full{max-width:100%}.gps-538968660430029610 .gp-flex-col{flex-direction:column}.gps-538968660430029610 .gp-flex-wrap{flex-wrap:wrap}.gps-538968660430029610 .gp-items-center{align-items:center}.gps-538968660430029610 .gp-gap-y-0{row-gap:0}.gps-538968660430029610 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-538968660430029610 .gp-duration-200{transition-duration:.2s}.gps-538968660430029610 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-538968660430029610 .tablet\:\!gp-hidden{display:none!important}.gps-538968660430029610 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-538968660430029610 .mobile\:\!gp-hidden{display:none!important}.gps-538968660430029610 .mobile\:gp-hidden{display:none}}.gps-538968660430029610 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-538968660430029610 .\[\&_p\]\:gp-inline p{display:inline}.gps-538968660430029610 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-538968660430029610 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gTIKKoIRxA" data-id="gTIKKoIRxA"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:88px;--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-2xl);--pr:15px;--mb-mobile:141px;--pt-mobile:var(--g-s-4xl);--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:15px;--mb-tablet:148px;--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-2xl);--pr-tablet:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#210E6C;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gTIKKoIRxA gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gJwgH2zEPT gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gwnlDAgUM3" data-id="gwnlDAgUM3"
        style="--bs:solid;--bw:0px 0px 1px 0px;--bc:rgba(255, 255, 255, 0.2);--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-xl);--pb:var(--g-s-2xl);--cg:30px;--pc:start;--gtc:minmax(0, 3fr) minmax(0, 6fr) minmax(0, 3fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gwnlDAgUM3 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g9RgpXH7gX gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g2rbFjrhC7"
    role="presentation"
    class="gp-group/image g2rbFjrhC7"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--mb-tablet:var(--g-s-xl);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-682050bc-f1e2-4401-acf8-790da0dbb7f1_768x768.svg" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-682050bc-f1e2-4401-acf8-790da0dbb7f1_1024x1024.svg" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-682050bc-f1e2-4401-acf8-790da0dbb7f1.svg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:138/19;--aspect-tablet:138/19;--aspect-mobile:138/19;--objf:cover;--w:140px;--w-tablet:140px;--w-mobile:140px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-682050bc-f1e2-4401-acf8-790da0dbb7f1_768x768.svg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-682050bc-f1e2-4401-acf8-790da0dbb7f1_1024x1024.svg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-682050bc-f1e2-4401-acf8-790da0dbb7f1.svg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:138/19;--aspect-tablet:138/19;--aspect-mobile:138/19;--objf:cover;--w:140px;--w-tablet:140px;--w-mobile:140px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gr_grT1N-e gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gHDXg34rl5" data-id="gHDXg34rl5"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--mb-tablet:var(--g-s-2xl);--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gHDXg34rl5 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gk5hs3-wK7 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gUYvPnuYbO" data-id="gUYvPnuYbO"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--mb-mobile:0px;--cg:16px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gUYvPnuYbO gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="graCE1a-gw gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gGEGbxGXKT">
    <div
      parentTag="Col"
        class="gGEGbxGXKT "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggGEGbxGXKT_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gu1QAJv6dq gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gL7JvI_lph">
    <div
      parentTag="Col"
        class="gL7JvI_lph "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:rgba(255, 255, 255, 0.7);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggL7JvI_lph_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="geeHiK6x0- gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gNF-yo7w4s" data-id="gNF-yo7w4s"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:16px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNF-yo7w4s gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="glzf5yte4I gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="goZv8pHTvA">
    <div
      parentTag="Col"
        class="goZv8pHTvA "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggoZv8pHTvA_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gdlAdL4VYg gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="g3RBfK9mzC">
    <div
      parentTag="Col"
        class="g3RBfK9mzC "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:rgba(255, 255, 255, 0.7);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg3RBfK9mzC_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gxc7yJdrhw" data-id="gxc7yJdrhw"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:16px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gxc7yJdrhw gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gaifrCQNdC gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gSDgLcq6aF">
    <div
      parentTag="Col"
        class="gSDgLcq6aF "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggSDgLcq6aF_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gkXKyCuM6Y gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gHSGFeVkWc">
    <div
      parentTag="Col"
        class="gHSGFeVkWc "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:rgba(255, 255, 255, 0.7);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggHSGFeVkWc_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gqOGkQvSXg gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gYGGSftjm2" data-id="gYGGSftjm2"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-l);--cg:16px;--pc:end;--pc-tablet:start;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gYGGSftjm2 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g155Rkgus_ gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gGs1pfSU-5"
    role="presentation"
    class="gp-group/image gGs1pfSU-5"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-be3104dc-fd65-47a8-9ac6-3b50d862ccfc_768x768.svg" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-be3104dc-fd65-47a8-9ac6-3b50d862ccfc_1024x1024.svg" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-be3104dc-fd65-47a8-9ac6-3b50d862ccfc.svg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:34/34;--aspect-tablet:34/34;--aspect-mobile:34/34;--objf:cover;--w:34px;--w-tablet:34px;--w-mobile:34px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-be3104dc-fd65-47a8-9ac6-3b50d862ccfc_768x768.svg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-be3104dc-fd65-47a8-9ac6-3b50d862ccfc_1024x1024.svg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-be3104dc-fd65-47a8-9ac6-3b50d862ccfc.svg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:34/34;--aspect-tablet:34/34;--aspect-mobile:34/34;--objf:cover;--w:34px;--w-tablet:34px;--w-mobile:34px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gC3FLHxecJ gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gfEQBlQWeR"
    role="presentation"
    class="gp-group/image gfEQBlQWeR"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-3a4dee4f-c91f-4f47-a4d8-beee1f9573ca_768x768.svg" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-3a4dee4f-c91f-4f47-a4d8-beee1f9573ca_1024x1024.svg" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-3a4dee4f-c91f-4f47-a4d8-beee1f9573ca.svg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:34/34;--aspect-tablet:34/34;--aspect-mobile:34/34;--objf:cover;--w:34px;--w-tablet:34px;--w-mobile:34px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-3a4dee4f-c91f-4f47-a4d8-beee1f9573ca_768x768.svg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-3a4dee4f-c91f-4f47-a4d8-beee1f9573ca_1024x1024.svg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-3a4dee4f-c91f-4f47-a4d8-beee1f9573ca.svg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:34/34;--aspect-tablet:34/34;--aspect-mobile:34/34;--objf:cover;--w:34px;--w-tablet:34px;--w-mobile:34px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gRSZMTOrpT gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gkew7ThoYj"
    role="presentation"
    class="gp-group/image gkew7ThoYj"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-0403485b-82ac-4449-aa00-e363ed5ce395_768x768.svg" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-0403485b-82ac-4449-aa00-e363ed5ce395_1024x1024.svg" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-0403485b-82ac-4449-aa00-e363ed5ce395.svg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:34/34;--aspect-tablet:34/34;--aspect-mobile:34/34;--objf:cover;--w:34px;--w-tablet:34px;--w-mobile:34px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-0403485b-82ac-4449-aa00-e363ed5ce395_768x768.svg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-0403485b-82ac-4449-aa00-e363ed5ce395_1024x1024.svg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-0403485b-82ac-4449-aa00-e363ed5ce395.svg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:34/34;--aspect-tablet:34/34;--aspect-mobile:34/34;--objf:cover;--w:34px;--w-tablet:34px;--w-mobile:34px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gAaBO7lkgM" data-id="gAaBO7lkgM"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-l);--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAaBO7lkgM gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start;--o-mobile:1"
      class="gl6CCYbMLn gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gZCc-V8NbE">
    <div
      parentTag="Col"
        class="gZCc-V8NbE "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgba(255, 255, 255, 0.5);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggZCc-V8NbE_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start;--o-mobile:0"
      class="glIJZ1yO3U gp-relative gp-flex gp-flex-col"
    >
      
    
      
      
    <div
    data-id="gcAlAudBJL"
      
      data-id="gcAlAudBJL"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s);--mb-mobile:var(--g-s-xl);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">

    <div
            class="gp-flex gp-flex-wrap"
            style="--cg:8px;--jc:right;--jc-mobile:left">
            <div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gvPbzLGqAt ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
    
     data-id="gpG2dsT8YL"
    role="presentation"
    class="gp-group/image gpG2dsT8YL"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-c7ee6f85-2268-4250-8491-4077b8928f1c_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-c7ee6f85-2268-4250-8491-4077b8928f1c_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-c7ee6f85-2268-4250-8491-4077b8928f1c.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:99/61;--aspect-tablet:99/61;--aspect-mobile:99/61;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-c7ee6f85-2268-4250-8491-4077b8928f1c_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-c7ee6f85-2268-4250-8491-4077b8928f1c_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-c7ee6f85-2268-4250-8491-4077b8928f1c.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:99/61;--aspect-tablet:99/61;--aspect-mobile:99/61;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gcArKNEYvL ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
    
     data-id="gkyrj2cjGk"
    role="presentation"
    class="gp-group/image gkyrj2cjGk"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-33fff3ee-0410-4a8c-a4e7-23778ede3cef_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-33fff3ee-0410-4a8c-a4e7-23778ede3cef_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-33fff3ee-0410-4a8c-a4e7-23778ede3cef.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:99/61;--aspect-tablet:99/61;--aspect-mobile:99/61;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-33fff3ee-0410-4a8c-a4e7-23778ede3cef_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-33fff3ee-0410-4a8c-a4e7-23778ede3cef_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-33fff3ee-0410-4a8c-a4e7-23778ede3cef.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:99/61;--aspect-tablet:99/61;--aspect-mobile:99/61;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="glwExeyUHr ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
    
     data-id="gxCdkbp1wR"
    role="presentation"
    class="gp-group/image gxCdkbp1wR"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-156b73d8-d983-45cf-a7b3-b7c7e45ef552_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-156b73d8-d983-45cf-a7b3-b7c7e45ef552_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-156b73d8-d983-45cf-a7b3-b7c7e45ef552.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:120/70;--aspect-tablet:120/70;--aspect-mobile:120/70;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-156b73d8-d983-45cf-a7b3-b7c7e45ef552_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-156b73d8-d983-45cf-a7b3-b7c7e45ef552_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-156b73d8-d983-45cf-a7b3-b7c7e45ef552.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:120/70;--aspect-tablet:120/70;--aspect-mobile:120/70;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gOsTx-gLD3 ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
    
     data-id="gaFRhzZTAK"
    role="presentation"
    class="gp-group/image gaFRhzZTAK"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-59905494-c60d-4a77-b8ce-e6ab9278a03c_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-59905494-c60d-4a77-b8ce-e6ab9278a03c_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-59905494-c60d-4a77-b8ce-e6ab9278a03c.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:120/70;--aspect-tablet:120/70;--aspect-mobile:120/70;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-59905494-c60d-4a77-b8ce-e6ab9278a03c_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-59905494-c60d-4a77-b8ce-e6ab9278a03c_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-59905494-c60d-4a77-b8ce-e6ab9278a03c.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:120/70;--aspect-tablet:120/70;--aspect-mobile:120/70;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gIyNo3fsz2 ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
    
     data-id="giy8o1UvhO"
    role="presentation"
    class="gp-group/image giy8o1UvhO"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-f92b5346-637c-4fd7-8882-a011c397d997_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-f92b5346-637c-4fd7-8882-a011c397d997_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-f92b5346-637c-4fd7-8882-a011c397d997.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:99/61;--aspect-tablet:99/61;--aspect-mobile:99/61;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-f92b5346-637c-4fd7-8882-a011c397d997_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-f92b5346-637c-4fd7-8882-a011c397d997_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-f92b5346-637c-4fd7-8882-a011c397d997.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:99/61;--aspect-tablet:99/61;--aspect-mobile:99/61;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div>
  
      </div>
         </div>
    </div>
  
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 13",
    "tag": "section",
    "class": "gps-538968660430029610 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/2a1421-6c/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=538968659775718186&sectionId=538968660430029610)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggGEGbxGXKT_text","label":"ggGEGbxGXKT_text","default":"<p>A:</p>"},{"type":"html","id":"ggL7JvI_lph_text","label":"ggL7JvI_lph_text","default":"<p>184 Main Rd E, St Albans VIC 3021, Australia</p>"},{"type":"html","id":"ggoZv8pHTvA_text","label":"ggoZv8pHTvA_text","default":"<p>T:</p>"},{"type":"html","id":"gg3RBfK9mzC_text","label":"gg3RBfK9mzC_text","default":"<p>+012 345 6789 0000</p>"},{"type":"html","id":"ggSDgLcq6aF_text","label":"ggSDgLcq6aF_text","default":"<p>E:</p>"},{"type":"html","id":"ggHSGFeVkWc_text","label":"ggHSGFeVkWc_text","default":"<p>gemthemes@gmail.com</p>"},{"type":"html","id":"ggZCc-V8NbE_text","label":"ggZCc-V8NbE_text","default":"<p>Copyright © 2022 GemThemes. All Rights Reserved.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
