

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-539461211859715219.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-539461211859715219.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-539461211859715219.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-539461211859715219.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-539461211859715219.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-539461211859715219.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-539461211859715219.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-539461211859715219.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-539461211859715219.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-539461211859715219.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-539461211859715219.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-539461211859715219.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-539461211859715219.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-539461211859715219.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-539461211859715219.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-539461211859715219.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-539461211859715219.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-539461211859715219.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-539461211859715219.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-539461211859715219.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-539461211859715219.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-539461211859715219.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-539461211859715219.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-539461211859715219.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-539461211859715219.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-539461211859715219.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-539461211859715219.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-539461211859715219.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-539461211859715219.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-539461211859715219.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-539461211859715219.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-539461211859715219.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-539461211859715219.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-539461211859715219.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-539461211859715219.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-539461211859715219.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-539461211859715219.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-539461211859715219.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-539461211859715219.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-539461211859715219.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-539461211859715219.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-539461211859715219.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-539461211859715219.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-539461211859715219.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-539461211859715219.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-539461211859715219.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-539461211859715219.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-539461211859715219.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-539461211859715219.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-539461211859715219.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-539461211859715219.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-539461211859715219.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-539461211859715219.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-539461211859715219.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-539461211859715219.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-539461211859715219.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-539461211859715219.gps.gpsil [style*="--right-tablet:"]{right:var(--right-tablet)}.gps-539461211859715219.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-539461211859715219.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-539461211859715219.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-539461211859715219.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-539461211859715219.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-539461211859715219.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-539461211859715219.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-539461211859715219.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-539461211859715219.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-539461211859715219.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-539461211859715219.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-539461211859715219.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-539461211859715219.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-539461211859715219.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-539461211859715219.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-539461211859715219.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-539461211859715219.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-539461211859715219.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-539461211859715219.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-539461211859715219.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-539461211859715219.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-539461211859715219.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-539461211859715219.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-539461211859715219.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-539461211859715219.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-539461211859715219.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-539461211859715219 .gp-rotate-0,.gps-539461211859715219 .gp-rotate-180,.gps-539461211859715219 .mobile\:gp-rotate-0,.gps-539461211859715219 .mobile\:gp-rotate-180,.gps-539461211859715219 .tablet\:gp-rotate-0,.gps-539461211859715219 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-539461211859715219 .gp-shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-539461211859715219 .gp-static{position:static}.gps-539461211859715219 .\!gp-absolute{position:absolute!important}.gps-539461211859715219 .gp-relative{position:relative}.gps-539461211859715219 .gp-left-0{left:0}.gps-539461211859715219 .gp-right-0{right:0}.gps-539461211859715219 .gp-z-1{z-index:1}.gps-539461211859715219 .gp-z-2{z-index:2}.gps-539461211859715219 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-539461211859715219 .gp-my-0{margin-bottom:0;margin-top:0}.gps-539461211859715219 .gp-mb-0{margin-bottom:0}.gps-539461211859715219 .gp-block{display:block}.gps-539461211859715219 .\!gp-flex{display:flex!important}.gps-539461211859715219 .gp-flex{display:flex}.gps-539461211859715219 .gp-inline-flex{display:inline-flex}.gps-539461211859715219 .gp-grid{display:grid}.gps-539461211859715219 .\!gp-hidden{display:none!important}.gps-539461211859715219 .gp-hidden{display:none}.gps-539461211859715219 .gp-aspect-square{aspect-ratio:1/1}.gps-539461211859715219 .gp-h-full{height:100%}.gps-539461211859715219 .\!gp-min-h-full{min-height:100%!important}.gps-539461211859715219 .gp-w-\[12px\]{width:12px}.gps-539461211859715219 .gp-w-full{width:100%}.gps-539461211859715219 .gp-max-w-full{max-width:100%}.gps-539461211859715219 .gp-shrink-0{flex-shrink:0}.gps-539461211859715219 .gp-rotate-0{--tw-rotate:0deg}.gps-539461211859715219 .gp-rotate-0,.gps-539461211859715219 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-539461211859715219 .gp-rotate-180{--tw-rotate:180deg}.gps-539461211859715219 .gp-cursor-pointer{cursor:pointer}.gps-539461211859715219 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-539461211859715219 .\!gp-flex-row{flex-direction:row!important}.gps-539461211859715219 .gp-flex-row{flex-direction:row}.gps-539461211859715219 .gp-flex-col{flex-direction:column}.gps-539461211859715219 .gp-flex-wrap{flex-wrap:wrap}.gps-539461211859715219 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-539461211859715219 .gp-items-center{align-items:center}.gps-539461211859715219 .gp-justify-center{justify-content:center}.gps-539461211859715219 .gp-justify-between{justify-content:space-between}.gps-539461211859715219 .gp-gap-2{gap:8px}.gps-539461211859715219 .gp-gap-y-0{row-gap:0}.gps-539461211859715219 .gp-overflow-hidden{overflow:hidden}.gps-539461211859715219 .gp-rounded-full{border-radius:9999px}.gps-539461211859715219 .gp-text-center{text-align:center}.gps-539461211859715219 .gp-leading-\[0\]{line-height:0}.gps-539461211859715219 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-539461211859715219 .gp-shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-539461211859715219 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-539461211859715219 .gp-duration-200{transition-duration:.2s}.gps-539461211859715219 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-539461211859715219 .tablet\:gp-static{position:static}.gps-539461211859715219 .tablet\:\!gp-absolute{position:absolute!important}.gps-539461211859715219 .tablet\:gp-left-0{left:0}.gps-539461211859715219 .tablet\:gp-right-0{right:0}.gps-539461211859715219 .tablet\:gp-z-2{z-index:2}.gps-539461211859715219 .tablet\:gp-block{display:block}.gps-539461211859715219 .tablet\:\!gp-flex{display:flex!important}.gps-539461211859715219 .tablet\:\!gp-hidden{display:none!important}.gps-539461211859715219 .tablet\:gp-hidden{display:none}.gps-539461211859715219 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-539461211859715219 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-539461211859715219 .tablet\:gp-rotate-0,.gps-539461211859715219 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-539461211859715219 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-539461211859715219 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-539461211859715219 .tablet\:gp-flex-row{flex-direction:row}.gps-539461211859715219 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-539461211859715219 .tablet\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-539461211859715219 .mobile\:gp-static{position:static}.gps-539461211859715219 .mobile\:gp-left-0{left:0}.gps-539461211859715219 .mobile\:gp-right-0{right:0}.gps-539461211859715219 .mobile\:gp-block{display:block}.gps-539461211859715219 .mobile\:\!gp-hidden{display:none!important}.gps-539461211859715219 .mobile\:gp-hidden{display:none}.gps-539461211859715219 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-539461211859715219 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-539461211859715219 .mobile\:gp-rotate-0,.gps-539461211859715219 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-539461211859715219 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-539461211859715219 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-539461211859715219 .mobile\:gp-flex-row{flex-direction:row}.gps-539461211859715219 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-539461211859715219 .mobile\:gp-px-0{padding-left:0;padding-right:0}}.gps-539461211859715219 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-539461211859715219 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-539461211859715219 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-539461211859715219 .\[\&\>svg\]\:gp-w-full>svg{width:100%}@media (max-width:1023px){.gps-539461211859715219 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-539461211859715219 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-539461211859715219 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-539461211859715219 .\[\&_p\]\:gp-inline p{display:inline}.gps-539461211859715219 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-539461211859715219 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gWnyDWl8BP" data-id="gWnyDWl8BP"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:100px;--pl:15px;--pb:100px;--pr:15px;--pt-mobile:142px;--pb-mobile:142px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgc-mobile:transparent;--bgi:url({{ "gempages_537482810403849348-1c95b1c9-2f7c-433e-a5f5-abc561ac0098.png" | file_url }});--bgi-mobile:url({{ "gempages_537482810403849348-1c95b1c9-2f7c-433e-a5f5-abc561ac0098.png" | file_url }});--bgp:50% 50%;--bgp-mobile:0% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gWnyDWl8BP gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gbGYOlgtxt gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gtLvhGTalI" data-id="gtLvhGTalI"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gtLvhGTalI gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gwvRhXUPtE gp-relative gp-flex gp-flex-col"
    >
      
    <gp-carousel data-id="gYJ1pv6YEA"  id="gp-root-carousel-gYJ1pv6YEA-{{section.id}}" class="  gp-group/carousel gp-flex" gp-data='{"id":"gYJ1pv6YEA-{{section.id}}","setting":{"animationMode":"ease-in","arrow":{"desktop":true,"mobile":false},"arrowBorder":{"desktop":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"arrowButtonSize":{"desktop":{"height":"32px","padding":{"linked":true},"shapeLinked":true,"shapeValue":"1/1","width":"32px"}},"arrowCustom":"<svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"currentColor\"><path d=\"M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z\"></path></svg>","arrowGapToEachSide":"16","arrowIconSize":{"desktop":24},"autoplay":true,"autoplayTimeout":2,"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"childItem":["Slide 1"],"controlOverContent":{"desktop":true},"dot":{"desktop":false,"mobile":false,"tablet":false},"dotActiveColor":{"desktop":"line-3"},"dotColor":{"desktop":"bg-1"},"dotGapToCarousel":{"desktop":16,"mobile":16,"tablet":16},"dotSize":{"desktop":12,"mobile":12,"tablet":12},"dotStyle":{"desktop":"none","mobile":"none","tablet":"none"},"enableDrag":{"desktop":true},"itemNumber":{"desktop":1,"mobile":1,"tablet":1},"loop":{"desktop":true},"navigationStyle":{"desktop":"inside","mobile":"none"},"pauseOnHover":true,"roundedArrow":{"desktop":{"radiusType":"small"}},"sneakPeak":{"desktop":false,"mobile":false,"tablet":false},"sneakPeakOffsetCenter":{"desktop":50,"mobile":50,"tablet":50},"sneakPeakOffsetForward":{"desktop":50,"mobile":50,"tablet":50},"sneakPeakType":{"desktop":"forward"},"vertical":{"desktop":false}},"styles":{"align":{"desktop":"center"},"playSpeed":500,"sizeSetting":{"desktop":{"height":"auto","width":"100%"},"mobile":{"width":"100%"},"tablet":{"width":"100%"}},"spacing":{"desktop":16}},"isHiddenArrowWhenDisabled":true}' style="--jc:center">
      <div class="gp-hidden gp-aspect-square gp-w-[12px] gp-rounded-full gp-shadow-md"></div>
      <div
        
        class="gp-relative gp-my-0 tablet:gp-px-0 gp-max-w-full mobile:gp-px-0 gp-carousel-wrapper mobile:gp-block tablet:gp-block gp-block gYJ1pv6YEA"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      >
        <div
          class="gp-h-full gp-relative gp-mx-auto gp-flex gp-items-center gp-justify-between mobile:!gp-flex-row tablet:!gp-flex-row !gp-flex-row"
          style="--h:100%;--h-tablet:100%;--h-mobile:100%;gap:16px"
        >
          
    <button
      type="button"
      aria-label='Carousel Back Arrow'
      class="gp-z-1 gp-carousel-action-back gem-slider-previous gYJ1pv6YEA-{{section.id}} gp-carousel-arrow-gYJ1pv6YEA gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0  gp-cursor-pointer gp-text-gray-500 !gp-flex !gp-absolute gp-z-2 tablet:!gp-flex tablet:!gp-absolute tablet:gp-z-2 mobile:!gp-hidden"
      style="--left:16px;--top:initial;--right:initial;--bottom:;--left-tablet:16px;--top-tablet:initial;--right-tablet:initial;--bottom-tablet:;--left-mobile:initial;--top-mobile:initial;--right-mobile:initial;--bottom-mobile:;--d:flex;--d-tablet:flex;--d-mobile:none;background-color:;--w:32px;--h:32px"
      onClick={onClick}
      
    >
      <div 
  class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-180 tablet:gp-rotate-180 mobile:gp-rotate-180"
  style="--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
  >
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path></svg>
    </div>
      <style>
    .gp-carousel-arrow-gYJ1pv6YEA {
      border-radius: var(--g-radius-small);
    }
    .gp-carousel-arrow-gYJ1pv6YEA::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      .gp-carousel-arrow-gYJ1pv6YEA {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gYJ1pv6YEA::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
    @media only screen and (max-width: 768px) {
      .gp-carousel-arrow-gYJ1pv6YEA {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gYJ1pv6YEA::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
  </style>
    </button>
  
          <div id="gp-carousel-gYJ1pv6YEA-{{section.id}}" class="gem-slider gp-h-full gp-overflow-hidden gp-select-none mobile:!gp-flex-nowrap tablet:!gp-flex-nowrap !gp-flex-nowrap mobile:!gp-min-h-full tablet:!gp-min-h-full !gp-min-h-full"
          style="--cg-mobile:16px;--cg-tablet:16px;--cg:16px">
          
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--minw:calc(100% / 1 - 0px);--minw-tablet:calc(100% / 1 - 0px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 1 - 0px);--maxw-tablet:calc(100% / 1 - 0px);--maxw-mobile:calc(100% / 1 - 0px);--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-gYJ1pv6YEA gcB2fieopL"
      data-index="0"
    >
      
       
      
    <div
      parentTag="CarouselItem" id="gSizI-ram-" data-id="gSizI-ram-"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:650px;--w-tablet:650px;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gSizI-ram- gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gk7kECjQ9G gp-relative gp-flex gp-flex-col"
    >
      
    
      
      
    <div
    data-id="g0IFxT2tfZ"
      
      data-id="g0IFxT2tfZ"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">

    <div
            class="gp-flex gp-flex-wrap"
            style="--cg:3px;--jc:center">
            <div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gK1JSvdxum ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] g9G876EolK"
    >
      <div 
      data-id="g9G876EolK"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:12px;--h:12px;--minw:12px;--height-desktop:12px;--height-tablet:12px;--height-mobile:12px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="ggDDYWs5iZ ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gstYMg021T"
    >
      <div 
      data-id="gstYMg021T"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:12px;--h:12px;--minw:12px;--height-desktop:12px;--height-tablet:12px;--height-mobile:12px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="g6Se1LA3uC ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] g8Fr03yWCH"
    >
      <div 
      data-id="g8Fr03yWCH"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:12px;--h:12px;--minw:12px;--height-desktop:12px;--height-tablet:12px;--height-mobile:12px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gqXNbY91z7 ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gOY3Pv3fvo"
    >
      <div 
      data-id="gOY3Pv3fvo"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:12px;--h:12px;--minw:12px;--height-desktop:12px;--height-tablet:12px;--height-mobile:12px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gHudUhqCWR ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gIikwBYSva"
    >
      <div 
      data-id="gIikwBYSva"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:12px;--h:12px;--minw:12px;--height-desktop:12px;--height-tablet:12px;--height-mobile:12px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div>
         </div>
    </div>
  
  <gp-text data-id="g_eNkCtFfs">
    <div
      parentTag="Col"
        class="g_eNkCtFfs "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:rgba(255, 255, 255, 0.8);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg_eNkCtFfs_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gSVC574BVL">
    <div
      parentTag="Col"
        class="gSVC574BVL "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:rgba(255, 255, 255, 0.6);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggSVC574BVL_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
  
          </div>
          
    <button
      type="button"
      aria-label='Carousel Next Arrow'
      class="gp-z-1 gp-carousel-action-next gem-slider-next gYJ1pv6YEA-{{section.id}} gp-carousel-arrow-gYJ1pv6YEA gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0  gp-cursor-pointer gp-text-gray-500 !gp-flex !gp-absolute gp-z-2 tablet:!gp-flex tablet:!gp-absolute tablet:gp-z-2 mobile:!gp-hidden"
      style="--left:initial;--top:;--right:16px;--bottom:initial;--left-tablet:initial;--top-tablet:;--right-tablet:16px;--bottom-tablet:initial;--left-mobile:initial;--top-mobile:;--right-mobile:initial;--bottom-mobile:initial;--d:flex;--d-tablet:flex;--d-mobile:none;background-color:;--w:32px;--h:32px"
      onClick={onClick}
      
    >
      <div 
  class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-0 tablet:gp-rotate-0 mobile:gp-rotate-0"
  style="--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
  >
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path></svg>
    </div>
      <style>
    .gp-carousel-arrow-gYJ1pv6YEA {
      border-radius: var(--g-radius-small);
    }
    .gp-carousel-arrow-gYJ1pv6YEA::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      .gp-carousel-arrow-gYJ1pv6YEA {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gYJ1pv6YEA::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
    @media only screen and (max-width: 768px) {
      .gp-carousel-arrow-gYJ1pv6YEA {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gYJ1pv6YEA::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
  </style>
    </button>
  
        </div>
        <div
    class="gp-items-center gp-justify-center gp-gap-2 gp-text-center gp-carousel-dot-container gp-carousel-dot-container-gYJ1pv6YEA-{{section.id}} gp-static gp-flex-row gp-left-0 gp-right-0 tablet:gp-static tablet:gp-flex-row tablet:gp-left-0 tablet:gp-right-0 mobile:gp-static mobile:gp-flex-row mobile:gp-left-0 mobile:gp-right-0"
    style="--bottom:16px;--bottom-tablet:16px;--bottom-mobile:16px;--d:none;--d-tablet:none;--d-mobile:none"
 ></div>
      </div>
    </gp-carousel>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-carousel-v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-539461211859715219 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/2a1421-6c/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=539461193371223172&sectionId=539461211859715219)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg_eNkCtFfs_text","label":"gg_eNkCtFfs_text","default":"<p>A perfect mix of tangy and sweet treats paired with fun, imaginative toys. The eco-friendly, beautifully illustrated packaging adds to the charm. Definitely a standout gift this spooky season!</p>"},{"type":"html","id":"ggSVC574BVL_text","label":"ggSVC574BVL_text","default":"<p><span style=\"color:#FFFFFF;\">ANNA N. </span>/ Housewife</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
