

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-538970759897285628.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-538970759897285628.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-538970759897285628.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-538970759897285628.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-538970759897285628.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-538970759897285628.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-538970759897285628.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-538970759897285628.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-538970759897285628.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-538970759897285628.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-538970759897285628.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-538970759897285628.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-538970759897285628.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-538970759897285628.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-538970759897285628.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-538970759897285628.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-538970759897285628.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-538970759897285628.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-538970759897285628.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-538970759897285628.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-538970759897285628.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-538970759897285628.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-538970759897285628.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-538970759897285628.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-538970759897285628.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-538970759897285628.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-538970759897285628.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-538970759897285628.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-538970759897285628.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-538970759897285628.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-538970759897285628.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-538970759897285628.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-538970759897285628.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-538970759897285628.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-538970759897285628.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-538970759897285628.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-538970759897285628.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-538970759897285628.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-538970759897285628.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-538970759897285628.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-538970759897285628.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-538970759897285628.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-538970759897285628.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-538970759897285628.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-538970759897285628.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-538970759897285628.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-538970759897285628.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-538970759897285628.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-538970759897285628.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-538970759897285628.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-538970759897285628.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-538970759897285628.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-538970759897285628.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-538970759897285628.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-538970759897285628.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-538970759897285628.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-538970759897285628.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-538970759897285628.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-538970759897285628.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-538970759897285628.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-538970759897285628.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-538970759897285628.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-538970759897285628 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-538970759897285628 .gp-relative{position:relative}.gps-538970759897285628 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-538970759897285628 .gp-mb-0{margin-bottom:0}.gps-538970759897285628 .\!gp-inline{display:inline!important}.gps-538970759897285628 .gp-flex{display:flex}.gps-538970759897285628 .gp-grid{display:grid}.gps-538970759897285628 .\!gp-hidden{display:none!important}.gps-538970759897285628 .gp-hidden{display:none}.gps-538970759897285628 .gp-h-full{height:100%}.gps-538970759897285628 .gp-w-full{width:100%}.gps-538970759897285628 .gp-max-w-full{max-width:100%}.gps-538970759897285628 .gp-flex-col{flex-direction:column}.gps-538970759897285628 .gp-gap-y-0{row-gap:0}.gps-538970759897285628 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-538970759897285628 .gp-duration-200{transition-duration:.2s}.gps-538970759897285628 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-538970759897285628 .tablet\:\!gp-hidden{display:none!important}.gps-538970759897285628 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-538970759897285628 .mobile\:\!gp-hidden{display:none!important}.gps-538970759897285628 .mobile\:gp-hidden{display:none}}.gps-538970759897285628 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-538970759897285628 .\[\&_p\]\:gp-inline p{display:inline}.gps-538970759897285628 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-538970759897285628 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="givj71cASZ" data-id="givj71cASZ"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FBFBFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="givj71cASZ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g8CK9K7BRp gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gTGuiYwLiZ" data-id="gTGuiYwLiZ"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(undefined);--cg:30px;--cg-mobile:0px;--pc:start;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gTGuiYwLiZ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g9CwQQJnr9 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gTHreElTgc" data-id="gTHreElTgc"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(undefined);--pt:var(--g-s-2xl);--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--mb-mobile:var(--g-s-2xl);--pt-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-xl);--pb-mobile:var(--g-s-xl);--pr-mobile:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gTHreElTgc gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="giriNrxyV_ gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gd_Gx_JKMA"
    role="presentation"
    class="gp-group/image gd_Gx_JKMA"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="https://ucarecdn.com/1f1af6ed-002e-450c-b4e1-0ac367d76f03/Delivery.svg" />
        <source media="(max-width: 1023px)" srcset="https://ucarecdn.com/1f1af6ed-002e-450c-b4e1-0ac367d76f03/Delivery.svg" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="https://ucarecdn.com/1f1af6ed-002e-450c-b4e1-0ac367d76f03/Delivery.svg"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:48/48;--aspect-tablet:48/48;--aspect-mobile:48/48;--objf:cover;--w:48px;--w-tablet:48px;--w-mobile:48px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="https://ucarecdn.com/1f1af6ed-002e-450c-b4e1-0ac367d76f03/Delivery.svg" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="https://ucarecdn.com/1f1af6ed-002e-450c-b4e1-0ac367d76f03/Delivery.svg" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="https://ucarecdn.com/1f1af6ed-002e-450c-b4e1-0ac367d76f03/Delivery.svg"
        width="100%"
        alt="Alt Image"
        style="--aspect:48/48;--aspect-tablet:48/48;--aspect-mobile:48/48;--objf:cover;--w:48px;--w-tablet:48px;--w-mobile:48px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
  <gp-text data-id="gVS7F_zM35">
    <div
      parentTag="Col"
        class="gVS7F_zM35 "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggVS7F_zM35_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gPkjZKHLrF">
    <div
      parentTag="Col"
        class="gPkjZKHLrF "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(undefined);--pl:var(--g-s-xl);--pr:var(--g-s-xl);--pl-tablet:auto;--pr-tablet:auto"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggPkjZKHLrF_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gos9KX4ctn gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g1AS4tCTXe" data-id="g1AS4tCTXe"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(undefined);--pt:var(--g-s-2xl);--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--mb-mobile:var(--g-s-2xl);--pt-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-xl);--pb-mobile:var(--g-s-xl);--pr-mobile:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g1AS4tCTXe gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gEo2-_YZ1B gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gLonFGilqK"
    role="presentation"
    class="gp-group/image gLonFGilqK"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="https://ucarecdn.com/16bda879-6ec0-48ae-92ae-20863571d6c4/Shipping.svg" />
        <source media="(max-width: 1023px)" srcset="https://ucarecdn.com/16bda879-6ec0-48ae-92ae-20863571d6c4/Shipping.svg" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="https://ucarecdn.com/16bda879-6ec0-48ae-92ae-20863571d6c4/Shipping.svg"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:48/48;--aspect-tablet:48/48;--aspect-mobile:48/48;--objf:cover;--w:48px;--w-tablet:48px;--w-mobile:48px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="https://ucarecdn.com/16bda879-6ec0-48ae-92ae-20863571d6c4/Shipping.svg" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="https://ucarecdn.com/16bda879-6ec0-48ae-92ae-20863571d6c4/Shipping.svg" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="https://ucarecdn.com/16bda879-6ec0-48ae-92ae-20863571d6c4/Shipping.svg"
        width="100%"
        alt="Alt Image"
        style="--aspect:48/48;--aspect-tablet:48/48;--aspect-mobile:48/48;--objf:cover;--w:48px;--w-tablet:48px;--w-mobile:48px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
  <gp-text data-id="gefvRaEOR7">
    <div
      parentTag="Col"
        class="gefvRaEOR7 "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggefvRaEOR7_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gDWwV_IbK8">
    <div
      parentTag="Col"
        class="gDWwV_IbK8 "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(undefined);--pl:var(--g-s-xl);--pr:var(--g-s-xl);--pl-tablet:auto;--pr-tablet:auto"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggDWwV_IbK8_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g7pO6A832L gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gE15sAncts" data-id="gE15sAncts"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(undefined);--pt:var(--g-s-2xl);--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--mb-mobile:var(--g-s-2xl);--pt-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-xl);--pb-mobile:var(--g-s-xl);--pr-mobile:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gE15sAncts gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g5BRnt-SQM gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="ghvARUqQJX"
    role="presentation"
    class="gp-group/image ghvARUqQJX"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="https://ucarecdn.com/c1f1df3b-eb85-43f9-ba6b-6dbf0d7bc684/Payment.svg" />
        <source media="(max-width: 1023px)" srcset="https://ucarecdn.com/c1f1df3b-eb85-43f9-ba6b-6dbf0d7bc684/Payment.svg" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="https://ucarecdn.com/c1f1df3b-eb85-43f9-ba6b-6dbf0d7bc684/Payment.svg"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:48/48;--aspect-tablet:48/48;--aspect-mobile:48/48;--objf:cover;--w:48px;--w-tablet:48px;--w-mobile:48px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="https://ucarecdn.com/c1f1df3b-eb85-43f9-ba6b-6dbf0d7bc684/Payment.svg" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="https://ucarecdn.com/c1f1df3b-eb85-43f9-ba6b-6dbf0d7bc684/Payment.svg" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="https://ucarecdn.com/c1f1df3b-eb85-43f9-ba6b-6dbf0d7bc684/Payment.svg"
        width="100%"
        alt="Alt Image"
        style="--aspect:48/48;--aspect-tablet:48/48;--aspect-mobile:48/48;--objf:cover;--w:48px;--w-tablet:48px;--w-mobile:48px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
  <gp-text data-id="g4RwkpjQ1G">
    <div
      parentTag="Col"
        class="g4RwkpjQ1G "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg4RwkpjQ1G_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="g1R0y0N5iX">
    <div
      parentTag="Col"
        class="g1R0y0N5iX "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(undefined);--pl:var(--g-s-xl);--pr:var(--g-s-xl);--pl-tablet:auto;--pr-tablet:auto"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg1R0y0N5iX_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gph9OzdO7n gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gwUsWygePI" data-id="gwUsWygePI"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(undefined);--pt:var(--g-s-2xl);--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--pt-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-xl);--pb-mobile:var(--g-s-xl);--pr-mobile:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gwUsWygePI gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g854piUvYu gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="guu1jul8Hz"
    role="presentation"
    class="gp-group/image guu1jul8Hz"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="https://ucarecdn.com/d58f89e6-8d02-4317-a181-21e10bdcb3d7/Money-Back.svg" />
        <source media="(max-width: 1023px)" srcset="https://ucarecdn.com/d58f89e6-8d02-4317-a181-21e10bdcb3d7/Money-Back.svg" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="https://ucarecdn.com/d58f89e6-8d02-4317-a181-21e10bdcb3d7/Money-Back.svg"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:48/48;--aspect-tablet:48/48;--aspect-mobile:48/48;--objf:cover;--w:48px;--w-tablet:48px;--w-mobile:48px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="https://ucarecdn.com/d58f89e6-8d02-4317-a181-21e10bdcb3d7/Money-Back.svg" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="https://ucarecdn.com/d58f89e6-8d02-4317-a181-21e10bdcb3d7/Money-Back.svg" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="https://ucarecdn.com/d58f89e6-8d02-4317-a181-21e10bdcb3d7/Money-Back.svg"
        width="100%"
        alt="Alt Image"
        style="--aspect:48/48;--aspect-tablet:48/48;--aspect-mobile:48/48;--objf:cover;--w:48px;--w-tablet:48px;--w-mobile:48px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
  <gp-text data-id="gJx88C3lYa">
    <div
      parentTag="Col"
        class="gJx88C3lYa "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggJx88C3lYa_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gxqWur7oVP">
    <div
      parentTag="Col"
        class="gxqWur7oVP "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(undefined);--pl:var(--g-s-xl);--pr:var(--g-s-xl);--pl-tablet:auto;--pr-tablet:auto"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggxqWur7oVP_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-538970759897285628 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/2a1421-6c/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=538970750988584068&sectionId=538970759897285628)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggVS7F_zM35_text","label":"ggVS7F_zM35_text","default":"<p>International Delivery</p>"},{"type":"html","id":"ggPkjZKHLrF_text","label":"ggPkjZKHLrF_text","default":"<p>Shipping to all countries</p>"},{"type":"html","id":"ggefvRaEOR7_text","label":"ggefvRaEOR7_text","default":"<p>Fast Shipping</p>"},{"type":"html","id":"ggDWwV_IbK8_text","label":"ggDWwV_IbK8_text","default":"<p>We complete<br>the order within 48h</p>"},{"type":"html","id":"gg4RwkpjQ1G_text","label":"gg4RwkpjQ1G_text","default":"<p>Secure Payment</p>"},{"type":"html","id":"gg1R0y0N5iX_text","label":"gg1R0y0N5iX_text","default":"<p>We care about your<br>personal data</p>"},{"type":"html","id":"ggJx88C3lYa_text","label":"ggJx88C3lYa_text","default":"<p>100% Money Back</p>"},{"type":"html","id":"ggxqWur7oVP_text","label":"ggxqWur7oVP_text","default":"<p>Easy Return &amp;<br>Refund policy</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
