

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-539461211977155489.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-539461211977155489.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-539461211977155489.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-539461211977155489.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-539461211977155489.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-539461211977155489.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-539461211977155489.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-539461211977155489.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-539461211977155489.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-539461211977155489.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-539461211977155489.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-539461211977155489.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-539461211977155489.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-539461211977155489.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-539461211977155489.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-539461211977155489.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-539461211977155489.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-539461211977155489.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-539461211977155489.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-539461211977155489.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-539461211977155489.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-539461211977155489.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-539461211977155489.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-539461211977155489.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-539461211977155489.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-539461211977155489.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-539461211977155489.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-539461211977155489.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-539461211977155489.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-539461211977155489.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-539461211977155489.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-539461211977155489.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-539461211977155489.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-539461211977155489.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-539461211977155489.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-539461211977155489.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-539461211977155489.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-539461211977155489.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-539461211977155489.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-539461211977155489.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-539461211977155489.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-539461211977155489.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-539461211977155489.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-539461211977155489.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-539461211977155489.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-539461211977155489.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-539461211977155489.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-539461211977155489.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-539461211977155489.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-539461211977155489.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-539461211977155489.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-539461211977155489.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-539461211977155489.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-539461211977155489.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-539461211977155489.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-539461211977155489.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-539461211977155489.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-539461211977155489.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-539461211977155489.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-539461211977155489.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-539461211977155489 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-539461211977155489 .gp-relative{position:relative}.gps-539461211977155489 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-539461211977155489 .gp-mb-0{margin-bottom:0}.gps-539461211977155489 .\!gp-inline{display:inline!important}.gps-539461211977155489 .gp-flex{display:flex}.gps-539461211977155489 .gp-grid{display:grid}.gps-539461211977155489 .\!gp-hidden{display:none!important}.gps-539461211977155489 .gp-hidden{display:none}.gps-539461211977155489 .gp-h-full{height:100%}.gps-539461211977155489 .gp-w-full{width:100%}.gps-539461211977155489 .gp-max-w-full{max-width:100%}.gps-539461211977155489 .gp-flex-col{flex-direction:column}.gps-539461211977155489 .gp-gap-y-0{row-gap:0}.gps-539461211977155489 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-539461211977155489 .gp-duration-200{transition-duration:.2s}.gps-539461211977155489 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-539461211977155489 .tablet\:\!gp-hidden{display:none!important}.gps-539461211977155489 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-539461211977155489 .mobile\:\!gp-hidden{display:none!important}.gps-539461211977155489 .mobile\:gp-hidden{display:none}}.gps-539461211977155489 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-539461211977155489 .\[\&_p\]\:gp-inline p{display:inline}.gps-539461211977155489 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-539461211977155489 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gep_RrpUnG" data-id="gep_RrpUnG"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-2xl);--pr:15px;--pt-mobile:var(--g-s-3xl);--pl-mobile:15px;--pb-mobile:91px;--pr-mobile:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#1D0D0D;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gep_RrpUnG gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g00GivbAA_ gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gJtXbF0yZo" data-id="gJtXbF0yZo"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:600px;--w-tablet:600px;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gJtXbF0yZo gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gJ1vUVSpcA gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gLjl8vHzLn">
    <div
      parentTag="Col"
        class="gLjl8vHzLn "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggLjl8vHzLn_text }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="g_W5Mmw039" data-id="g_W5Mmw039"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-l);--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g_W5Mmw039 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g2EiIwipBU gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gHu8E4yRSZ"
    role="presentation"
    class="gp-group/image gHu8E4yRSZ"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--mb-mobile:var(--g-s-3xl);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-dffe2dc6-b774-498b-b8d8-35306c15f007_768x.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-dffe2dc6-b774-498b-b8d8-35306c15f007_1024x.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-dffe2dc6-b774-498b-b8d8-35306c15f007.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:855/855;--aspect-tablet:855/855;--aspect-mobile:855/855;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-dffe2dc6-b774-498b-b8d8-35306c15f007_768x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-dffe2dc6-b774-498b-b8d8-35306c15f007_1024x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-dffe2dc6-b774-498b-b8d8-35306c15f007.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:855/855;--aspect-tablet:855/855;--aspect-mobile:855/855;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="ghhvqcheOr gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gT4do8JQ5A" data-id="gT4do8JQ5A"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-3xl);--cg:24px;--cg-mobile:21px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gT4do8JQ5A gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gzT7awYrLM gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gdpHQjP5gn"
    role="presentation"
    class="gp-group/image gdpHQjP5gn"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-001aab65-5ae7-4ef6-986a-a4e15ba42322_768x.svg" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-001aab65-5ae7-4ef6-986a-a4e15ba42322_1024x.svg" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-001aab65-5ae7-4ef6-986a-a4e15ba42322.svg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:70/71;--aspect-tablet:70/71;--aspect-mobile:70/71;--objf:cover;--w:70px;--w-tablet:70px;--w-mobile:70px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-001aab65-5ae7-4ef6-986a-a4e15ba42322_768x.svg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-001aab65-5ae7-4ef6-986a-a4e15ba42322_1024x.svg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-001aab65-5ae7-4ef6-986a-a4e15ba42322.svg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:70/71;--aspect-tablet:70/71;--aspect-mobile:70/71;--objf:cover;--w:70px;--w-tablet:70px;--w-mobile:70px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gNI3BPa6jb gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gyGQ54rXdO">
    <div
      parentTag="Col"
        class="gyGQ54rXdO "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgba(255, 255, 255, 0.8);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggyGQ54rXdO_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gi78FGd6Rq">
    <div
      parentTag="Col"
        class="gi78FGd6Rq "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgba(255, 255, 255, 0.6);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggi78FGd6Rq_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gsxPtzd3nC" data-id="gsxPtzd3nC"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-3xl);--pl:56px;--mb-mobile:var(--g-s-3xl);--pl-mobile:0px;--cg:24px;--cg-mobile:21px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gsxPtzd3nC gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gmgIyWJlSf gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gyrZa9s42R"
    role="presentation"
    class="gp-group/image gyrZa9s42R"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-b47f0476-61a2-4e47-8dc3-4f78e81b9188_768x.svg" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-b47f0476-61a2-4e47-8dc3-4f78e81b9188_1024x.svg" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-b47f0476-61a2-4e47-8dc3-4f78e81b9188.svg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:70/71;--aspect-tablet:70/71;--aspect-mobile:70/71;--objf:cover;--w:70px;--w-tablet:70px;--w-mobile:70px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-b47f0476-61a2-4e47-8dc3-4f78e81b9188_768x.svg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-b47f0476-61a2-4e47-8dc3-4f78e81b9188_1024x.svg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-b47f0476-61a2-4e47-8dc3-4f78e81b9188.svg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:70/71;--aspect-tablet:70/71;--aspect-mobile:70/71;--objf:cover;--w:70px;--w-tablet:70px;--w-mobile:70px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gU4RPn5AaV gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gje_FGlPFJ">
    <div
      parentTag="Col"
        class="gje_FGlPFJ "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgba(255, 255, 255, 0.8);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggje_FGlPFJ_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gE7-K_JR94">
    <div
      parentTag="Col"
        class="gE7-K_JR94 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgba(255, 255, 255, 0.6);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggE7-K_JR94_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gBdvqAg-yX" data-id="gBdvqAg-yX"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-3xl);--pl:56px;--mb-mobile:var(--g-s-3xl);--pl-mobile:0px;--cg:24px;--cg-mobile:21px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gBdvqAg-yX gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g_aG6HJJRH gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g_LOcMIc9W"
    role="presentation"
    class="gp-group/image g_LOcMIc9W"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-88e2489d-2b68-44e8-a532-6075d25aee36_768x.svg" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-88e2489d-2b68-44e8-a532-6075d25aee36_1024x.svg" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-88e2489d-2b68-44e8-a532-6075d25aee36.svg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:70/71;--aspect-tablet:70/71;--aspect-mobile:70/71;--objf:cover;--w:70px;--w-tablet:70px;--w-mobile:70px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-88e2489d-2b68-44e8-a532-6075d25aee36_768x.svg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-88e2489d-2b68-44e8-a532-6075d25aee36_1024x.svg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-88e2489d-2b68-44e8-a532-6075d25aee36.svg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:70/71;--aspect-tablet:70/71;--aspect-mobile:70/71;--objf:cover;--w:70px;--w-tablet:70px;--w-mobile:70px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g2ZdHDHlI- gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="g8gs90iMdb">
    <div
      parentTag="Col"
        class="g8gs90iMdb "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgba(255, 255, 255, 0.8);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg8gs90iMdb_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gXWy-CBbuB">
    <div
      parentTag="Col"
        class="gXWy-CBbuB "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgba(255, 255, 255, 0.6);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggXWy-CBbuB_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gQufJCqpX4" data-id="gQufJCqpX4"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:24px;--cg-mobile:21px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQufJCqpX4 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="globKXH9R8 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g38L17VpVI"
    role="presentation"
    class="gp-group/image g38L17VpVI"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_537482810403849348-ff641a8a-418a-4a61-8877-2dc00368271c_768x.svg" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_537482810403849348-ff641a8a-418a-4a61-8877-2dc00368271c_1024x.svg" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_537482810403849348-ff641a8a-418a-4a61-8877-2dc00368271c.svg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:70/71;--aspect-tablet:70/71;--aspect-mobile:70/71;--objf:cover;--w:70px;--w-tablet:70px;--w-mobile:70px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_537482810403849348-ff641a8a-418a-4a61-8877-2dc00368271c_768x.svg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_537482810403849348-ff641a8a-418a-4a61-8877-2dc00368271c_1024x.svg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_537482810403849348-ff641a8a-418a-4a61-8877-2dc00368271c.svg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:70/71;--aspect-tablet:70/71;--aspect-mobile:70/71;--objf:cover;--w:70px;--w-tablet:70px;--w-mobile:70px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gCBzImmqwr gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gx0H5MkpeL">
    <div
      parentTag="Col"
        class="gx0H5MkpeL "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgba(255, 255, 255, 0.8);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggx0H5MkpeL_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gGw6YAu49I">
    <div
      parentTag="Col"
        class="gGw6YAu49I "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgba(255, 255, 255, 0.6);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggGw6YAu49I_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-539461211977155489 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/2a1421-6c/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=539461193371223172&sectionId=539461211977155489)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggLjl8vHzLn_text","label":"ggLjl8vHzLn_text","default":"<p>&nbsp;Eerie, Bewitching, Delicious: The Halloween Candy Trinity!</p>"},{"type":"html","id":"ggyGQ54rXdO_text","label":"ggyGQ54rXdO_text","default":"<p>Spook-tacular Variety</p>"},{"type":"html","id":"ggi78FGd6Rq_text","label":"ggi78FGd6Rq_text","default":"<p>From gummy ghosts and chocolate bats to candy corn and lollipop spiders, we've got all your frightful favorites!</p>"},{"type":"html","id":"ggje_FGlPFJ_text","label":"ggje_FGlPFJ_text","default":"<p>Frighteningly Fresh</p>"},{"type":"html","id":"ggE7-K_JR94_text","label":"ggE7-K_JR94_text","default":"<p>Our candy is guaranteed fresh, ensuring each bite is as delicious as the last.</p>"},{"type":"html","id":"gg8gs90iMdb_text","label":"gg8gs90iMdb_text","default":"<p>Allergy-Friendly Options</p>"},{"type":"html","id":"ggXWy-CBbuB_text","label":"ggXWy-CBbuB_text","default":"<p>We believe every child deserves a treat. Check out our range of gluten-free, nut-free, and dairy-free candies.</p>"},{"type":"html","id":"ggx0H5MkpeL_text","label":"ggx0H5MkpeL_text","default":"<p>Eco-Friendly Packaging</p>"},{"type":"html","id":"ggGw6YAu49I_text","label":"ggGw6YAu49I_text","default":"<p>Let's keep our planet as happy as our sweet tooth. Our candies come in eco-friendly packaging.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
